include /button/button.pug

mixin input-text(options = {})
    -
        const {
            type = "text",
            placeholder = false,
            value = false,
            iconRight,
        } = options;

        const classes = ["input-text"];
        if (iconRight) classes.push("input-text_with-control");

    div(class=classes)
        input.input-text__input.js-input-text__input(type=type, placeholder=placeholder, value=value)
        if iconRight
            .input-text__submit
                +button({
                    text: iconRight,
                    theme: "icon",
                    type: "submit",
                    textColor: "gradient-primary",
                })
