mixin form-log-in(params={})
    .form-log-in(class=params.classes)
        .text.text_h1_m.form-log-in__title Войти
        +text-field({
            placeholder:'Email', 
            classes: 'form-log-in__email'
        })
        +text-field({
            placeholder:'Пароль', 
            classes: 'form-log-in__password'
        })
        +button-go-to({
            text: 'Войти',
            classes: 'form-log-in__btn-log-in'
        })
        .form-log-in__sign-in
            .text.text_body Нет аккаунта на Toxin?
            .button.button_theme_default-light создать