mixin cards(params={})
    .cards(class=params.classes)
        include ../../lib.blocks/index.pug
        //- +form-pick-number()
        //- +form-create-account()
        //- +room-reservation-form({
        //-     roomNumber: 888,
        //-     luxury: true,
        //-     price: 9900
        //- })
        //- +form-log-in()
        //- +calendar({
        //-     date: '2019-08-08',
        //-     startDay: '2019-08-19',
        //-     endDay: '2019-08-23'
        //- })
        +hotel-number({
            images: [
                'images/hotels/888.png',
                '',
                '',
                ''
            ]
        })