include ../block-head/block-head.pug
include ../dropdown-head/dropdown-head.pug

mixin dropdown(options={})
    -const {
    -   title = '',
    -   help = '',
    -   text = '',
    -   icon = 'expand_more',
    -   valueOptions = {},
    -   classes = [],
    -} = options;

    -const isUseHead = (title !== '' || help !== '');

    -const classList = [
    -   ...classes,
    -];

    -const classListStr = classList.join(' ');

    .dropdown.js-dropdown(class=classListStr)
        if isUseHead
            .dropdown__block-head
                +block-head({
                    title,
                    help,
                })

        .dropdown__container
            +dropdown-head({
                text,
            })
            .dropdown__body
                if block
                    block
