.room-details__info-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &:not(:last-child) {
    margin-bottom: 1.1429rem;
  }

  @media (max-width: $breakpoint1) {
    flex-direction: column;
  }
}
