.room-details {
  border-bottom: 0.0714rem solid #e5e5e5;

  &__banner {
    @include reset-css;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
  }

  &__cancel-reservation {
    max-width: 340px;
  }

  &__cancel-reservation-head {
    @include text-h2;
    margin-bottom: 1.2143rem;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__cancel-reservation-body {
    @include text-body;
  }

  &__comments {
    margin-bottom: 2.4286rem;
  }

  &__container-content {
    @include reset-css;
    @include container-content;
    padding-top: 4.8571rem;
    padding-bottom: 5.1429rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    @media (max-width: $breakpoint-old-displays) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    &:not(:last-child) {
      margin-bottom: 1.1429rem;
    }

    @media (max-width: $breakpoint-old-displays) and (min-width: $breakpoint-cell-phones) {
      &:last-child {
        margin-bottom: 40px;
      }
    }
  
    @media (max-width: $breakpoint-cell-phones) {
      flex-direction: column;      
      margin-bottom: 0;
    }
  }

  &__main-info {
    @include reset-css;
    padding-top: 0.1429rem;
    width: 100%;
    margin-right: 5rem;

    @media (max-width: $breakpoint-old-displays) {
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 0;
    }
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0rem 0rem 2.8571rem 0rem;
    }
  }

  &__room-advantages {
    margin-right: 107px;
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0 0 40px 0;
    }
  }

  &__room-impressions {
    @media (max-width: $breakpoint-cell-phones) {
      margin-bottom: 40px;
    }
  }

  &__rules {
    margin-right: 6.5714rem;
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0rem 0rem 2.1429rem 0rem;
    }
  }
}
