extends /../template/landing.pug

include /room-details/room-details.pug

block pageHead
  title Информация о номере 888
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Viewing room information")

block main
  +room-details()
