extends /../template/landing.pug

include /room-details-banner/room-details-banner.pug
include /card-book-room/card-book-room.pug
include /room-advantages/room-advantages.pug
include /room-impressions/room-impressions.pug
include /comment/comment.pug
include /bullet-list/bullet-list.pug

block pageHead
  title Информация о номере 888
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Viewing room information")

block main
  main.room-details
    .room-details__banner
      +room-details-banner([
        "room-888-1.jpg",
        "room-888-2.jpg",
        "room-888-3.jpg",
      ])
    .room-details__container-content
      .room-details__main-info
        .room-details__info-item
          .room-details__room-advantages
            +room-advantages({
              title: "Сведения о номере",
              titleTagNumber: 1,
              items: [
                {
                  title: "Комфорт",
                  description: "Шумопоглощающие стены",
                  icon: "insert_emoticon",
                },
                {
                  title: "Удобство",
                  description: "Окно в каждой из спален",
                  icon: "location_city",
                },
                {
                  title: "Уют",
                  description: "Номер оснащён камином",
                  icon: "whatshot",
                },
              ],
            })
          .room-details__room-impressions
            +room-impressions({
              items: {
                "Великолепно": 520,
                "Хорошо": 260,
                "Удовлетворительно": 260,
              },
            })
        .room-details__comments
          -
            const items = [
              {
                avatar: require("../../components/comment/images/user1.jpg").default,
                userName: "Мурад Сарафанов",
                publicationDate: "5 дней назад",
                likes: 12,
                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
              },
              {
                avatar: require("../../components/comment/images/user2.jpg").default,
                userName: "Патрисия Стёклышкова",
                publicationDate: "Неделю назад",
                likes: 2,
                text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
              },
            ];

          a(name="comments")
          .room-details__comments-head
            h2.room-details__comments-title Отзывы посетителей номера
            p.room-details__comments-counter 2 отзыва
          ul.room-details__comments-body
            for item in items
              li.room-details__comment
                +comment(item)
        .room-details__info-item
          .room-details__rules
            +bullet-list({
              title: "Правила",
              titleTagNumber: 2,
              isTitleThemeH2: true,
              items: [
                "Нельзя с питомцами",
                "Без вечеринок и мероприятий",
                "Время прибытия — после 13:00, а выезд до 12:00",
              ],
            })
          .room-details__cancel-reservation
            h2.room-details__cancel-reservation-head Отмена
            p.room-details__cancel-reservation-body Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      .room-details__book-room
        +card-book-room({
          titleTagNumber: 2,
          roomHead: {
            roomNumber: 888,
            roomPrice: "9 990",
            isLuxury: true,
          },
          receipt: {
            total:  "38 081",
            items: [
              {
                text: "9 990₽ х 4 суток",
                price: "39 960",
              },
              {
                text: "Сбор за услуги: скидка 2 179₽",
                price: "0",
                icon: true,
              },
              {
                text: "Сбор за дополнительные услуги",
                price: "300",
                icon: true,
              },
            ],
          },
        })
