.dropdown__content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  border: 1px solid $color-dark-50;
  border-top: 0;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px $color-dark-5;
  border-radius: 0px 0px 4px 4px;
}
