include /block-head/block-head.pug
include /dropdown-head/dropdown-head.pug
include /dropdown-counter/dropdown-counter.pug

mixin dropdown(options)
    -
        const {
            text,
            head = null,
            content = "",
            variations = {},
        } = options;

        const classes = ["dropdown js-dropdown"];
        if (content !== "") classes.push(`dropdown_content_${content} js-dropdown_content_${content}`);
        const variationsStr = JSON.stringify(variations);

    div(class=classes, data-variations=variationsStr)
        if head !== null
            .dropdown__block-head
                +block-head(head)
        .dropdown__container
            +dropdown-head(text)
            .dropdown__body
                .dropdown__content
                    if block
                        block
