.dropdown {
  @include reset-css;
  width: 100%;

  &_expanded {
    .dropdown__body {
      display: block;
    }
  }

  &__block-head {
    margin-bottom: 0.2857rem;
  }

  &__body {
    position: relative;
    display: none;
  }

  &__content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
    border: 0.0714rem solid $text-secondary;
    border-top: 0;
    box-sizing: border-box;
    box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;
    border-radius: 0rem 0rem 0.2857rem 0.2857rem;
  }
}
