include /block-head/block-head.pug
include /dropdown-head/dropdown-head.pug
include /dropdown-counter/dropdown-counter.pug

mixin dropdown(options = {})
    -
        const {
            head = null,
            text = "",
            classes = [],
            variations = {},
        } = options;

        classes.push("dropdown js-dropdown");
        const variationsStr = JSON.stringify(variations);

    div(class=classes, data-variations=variationsStr)
        if head !== null
            .dropdown__block-head
                +block-head(head)
        .dropdown__container
            +dropdown-head({ text })
            .dropdown__body
                .dropdown__content
                    if block
                        block
