include ../block-head/block-head.pug
include ../dropdown-head/dropdown-head.pug

mixin dropdown(options = {})
    -
        const {
            head = null,
            text = "",
            classes = [],
        } = options;

        classes.push("dropdown js-dropdown");
        const classesStr = classes.join(" ");

    div(class=classesStr)
        if head !== null
            .dropdown__block-head
                +block-head(head)

        .dropdown__container
            +dropdown-head({
                text,
            })
            .dropdown__body
                .dropdown__content
                    if block
                        block
