.pagination {

  &__title {
    @include text-h3;
    margin-bottom: $standard-size;
  }

  &__container {
    display: inline-block;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__bottom-text {
    @include text-body;
    margin-top: .5714rem;
    text-align: center;
  }
}
