.pagination {
  display: inline-block;

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__bottom-text {
    @include text-body;
    margin-top: 8px;
    text-align: center;
  }
}
