include /button/button.pug

mixin pagination(options = {})
  -
    const {
      bottomText,
      buttons = [
        {
          value: 1,
          type: "current",
        },
        { value: 2 },
        { value: 3 },
        { value: "..." },
        { value: 15 },
        { type: "another-page" },
      ],
    } = options;

  .pagination
    ul.pagination__buttons
      for config in buttons
        li.pagination__nav-button-container
          -
            const { type, value } = config;
            const classes = ['pagination__nav-button'];

            if (['current', 'another-page'].includes(type)) classes.push(`pagination__nav-button_theme_${type}`);
            else if (type) throw (new Error('Invalid pagination button type.'));

            let resValue = value;
            if (type === 'another-page') resValue = 'arrow_forward';

          button(class=classes) #{resValue}
    if bottomText
      p.pagination__bottom-text #{bottomText}
