extends /../template/landing.pug

include /card-selection-room/card-selection-room.pug

block pageTitle
  title Landing page

block main
  main.landing-page
    .landing-page__banner
      .landing-page__banner-content
        .landing-page__selection-room
          +card-selection-room() 
        p.landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
