extends /../template/landing.pug

include /card-selection-room/card-selection-room.pug

block pageHead
  title Сайт для поиска номеров отеля
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Hotel room search site")

block main
  main.landing-page
    .landing-page__banner
      .landing-page__banner-content
        .landing-page__selection-room
          +card-selection-room() 
        p.landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
