.landing-page {

  &__banner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 830px;
    display: block;
    background-image: url('./images/landing-page.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 425px) {
      height: 595px;
    }
  }

  &__banner-content {
    @include reset-css;

    @include container-content;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 69px;

    @media (max-width: 425px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 380px) {
      padding: 69px 10px;
    }
  }

  &__description {
    @include text-body;
    width: 100%;
    max-width: 290px;
    position: absolute;
    right: 8px;
    bottom: 21px;
    text-align: right;

    @media (max-width: 1244px) {
      right: 30px;
    }

    @media (max-width: 425px) {
      margin: 0 auto;
      right: 0;
      left: 0;
      text-align: center;
    }
  }
}
