extends /../template/landing.pug

include /landing-page/landing-page.pug

block pageHead
  title Сайт для поиска номеров отеля
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Hotel room search site")

block main
  +landing-page()
