.container-content {
    @include flex;
    width: 100%;
    min-width: 320px;
    max-width: 1160px;
    margin: 0 auto;
}

@import './container-content-horizontal.scss';
@import './container-content_content_start.scss';
@import './container-content_items_top.scss';