.pagination {
  width: 100%;
  max-width: 240px;

  &__head {
    margin-bottom: 1.0714rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__bottom-text {
    margin-top: 0.5714rem;
  }
}
