include ../block-head/block-head.pug
include ../text/text.pug
include ../button/button.pug

mixin pagination(options={})
    -
        const {
           head = '',
           bottomText = '',
        } = options;

    .pagination
        if head !== ''
            .pagination__head
                +block-head({
                    title: head,
                })
        .pagination__container
            .pagination__buttons
                .pagination__nav-button
                    +button({
                        text: '1',
                        theme: 'round',
                        fweight: 'bold',
                        background: 'gradient-1',
                        hoverTheme: 'gradient-1',
                    })
                .pagination__nav-button
                    +button({
                        text: '2',
                        theme: 'round',
                        textColor: 'dark-50',
                        hoverTheme: 'gradient-1',
                    })
                .pagination__nav-button
                    +button({
                        text: '3',
                        theme: 'round',
                        textColor: 'dark-50',
                        hoverTheme: 'gradient-1',
                    })
                .pagination__nav-button
                    +button({
                        text: '...',
                        theme: 'round',
                        textColor: 'dark-50',
                        hoverTheme: 'gradient-1',
                    })
                .pagination__nav-button
                    +button({
                        text: '15',
                        theme: 'round',
                        textColor: 'dark-50',
                        hoverTheme: 'gradient-1',
                    })
                .pagination__nav-button
                    +button({
                        text: 'arrow_forward',
                        theme: 'round-icon',
                        background: 'gradient-2',
                        hoverTheme: 'gradient-2',
                    })
            if bottomText !== ''
                .pagination__bottom-text
                    +text({
                        text: bottomText,
                        horizontal: 'middle',
                    }) 