.pagination {
  width: 100%;
  max-width: 240px;
}

.pagination__head {
  margin-bottom: 1.0714rem;
}

.pagination__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pagination__bottom-text {
  margin-top: 0.5714rem;
}
