include /text/text.pug

mixin room-advantage(options = {})
    -
        const {
            icon = "",
            title = "",
            description = "",
        } = options;

    .room-advantage
        .room-advantage__icon #{icon}
        .room-advantage__text-container
            .room-advantage__title
                +text({
                    text: title,
                    fontWeight: "bold",
                })
            .room-advantage__description
                +text({
                    text: description,
                })