@import './room-advantage__icon.scss';

.room-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border-bottom: 0.0714rem solid $color-dark-10;
  padding-bottom: 1.2143rem;
}
