mixin room-advantage({ icon, title, description })
    .room-advantage
        .room-advantage__icon #{icon}
        .room-advantage__text-container
            p.room-advantage__title #{title}
            p.room-advantage__description #{description}
