.room-advantage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 0.0714rem solid $dim-border;
  padding-bottom: 1.2143rem;
  max-width: 255px;

  &__icon {
    width: 3.4286rem;
    height: 3.4286rem;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 3.4286rem;
    line-height: 3.4286rem;
    display: flex;
    align-items: center;
    text-align: center;
    background: $bg-gradient-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 0.7143rem;
  }
}
