mixin toggle-input(params={})
    label.toggle-input(class=params.classes)
        if params.checked
            input.toggle-input__input(type='checkbox', checked)
        else
            input.toggle-input__input(type='checkbox')
        .toggle-input__switch
            .toggle-input__switch-indicator