include ../text/text.pug

mixin dropdown-head(options={})
    -const {
    -   text = '',
    -   icon = 'expand_more',
    -   classes = [],
    -} = options;

    -const classList = [
    -   ...classes,
    -];

    -const classListStr = classList.join(' ');

    .dropdown-head.js-dropdown-head(class=classListStr)
        .dropdown-head__text
            +text({
                text,
                wspace: 'nowrap',
                noSelect: true,
                verticalMiddle: true,
                classes: [
                    'js-dropdown-head__text',
                ],
            })
        .dropdown-head__icon #{icon}
