$size: 3.1429rem;

.dropdown-head__icon {
  @include reset-css;
  @include no-select;
  width: $size;
  height: $size;
  min-width: $size;
  padding-left: 0.1429rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.7143rem;
  color: $color-dark-75;
}
