.dropdown-head {
  width: 100%;
  height: $veri-big-size;
  display: flex;
  background-color: #fff;
  border: 0.0714rem solid $light-title;
  box-sizing: border-box;
  border-radius: 0.2857rem;
  color: $text-primary;
  cursor: pointer;

  &:hover {
    border-color: $text-secondary;
  }

  &_theme {
    &_expanded {
      border-radius: 0.2857rem 0.2857rem 0rem 0rem;
      border-color: $text-secondary;
    }
    
    &_select-date {
      border-color: $text-secondary;
    }
  }

  &__text {
    @include reset-css;
    @include text-body;
    width: 100%;
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    line-height: 3rem;
  }

  &__expand-button {
    width: $veri-big-size;
    height: $veri-big-size;
    min-width: $veri-big-size;
  }
}
