include ../text/text.pug

mixin dropdown-head(options = {})
    -
        const {
            text = '',
            classes = [],
        } = options;

        classes.push('dropdown-head js-dropdown-head');
        const classesStr = classes.join(' ');

    div(class=classesStr)
        .dropdown-head__text
            +text({
                text,
                whiteSpace: 'nowrap',
                noSelect: true,
                verticalMiddle: true,
                classes: [
                    'js-dropdown-head__text',
                ],
            })
        .dropdown-head__icon expand_more

