mixin dropdown-head(options = {})
    -
        const {
            text = "",
            classes = [],
        } = options;

        classes.push("dropdown-head js-dropdown-head");
        const classesStr = classes.join(" ");

    div(class=classesStr)
        p.dropdown-head__text.js-dropdown-head__text #{text}
        .dropdown-head__expand-button expand_more
