@import './dropdown-head__text.scss';
@import './dropdown-head__icon.scss';

.dropdown-head {
  width: 100%;
  height: 3.1429rem;
  display: flex;
  background-color: #fff;
  border: 0.0714rem solid $color-dark-25;
  box-sizing: border-box;
  border-radius: 0.2857rem;
  color: $color-dark-75;
}

@import './_theme/dropdown-head_theme_expanded.scss';
@import './_theme/dropdown-head_theme_select-date.scss';
