include /button/button.pug

mixin dropdown-head(text, dataAssignment = false)
    .dropdown-head.js-dropdown-head(data-assignment=dataAssignment)
        p.dropdown-head__text.js-dropdown-head__text #{text}
        .dropdown-head__expand-button
            +button({ text: "expand_more", theme: "icon" })
