include /button/button.pug

mixin dropdown-head(options = {})
    -
        const {
            text = "",
            classes = [],
        } = options;

        classes.push("dropdown-head js-dropdown-head");

    div(class=classes)
        p.dropdown-head__text.js-dropdown-head__text #{text}
        .dropdown-head__expand-button
            +button({
                text: "expand_more",
                theme: "icon",
            })
