mixin checkbox(params)
    .checkbox(class=params.classes)
        include ../checkbox-input/checkbox-input.pug
        +checkbox-input({
            checked: params.checked
        })
        .checkbox__text-container
            .checkbox__text #{params.text}
            if params.help
                .checkbox__text-help #{params.help}