.checkbox__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $color-dark-50;
}