@import './inputs.scss';

$root: '.input-button';

#{$root} {
  display: flex;
  flex-direction: column;

  &_theme_rich &__text {
    line-height: 20px;
    font-weight: bold;
    color: $text-primary;
  }

  &[data-type='checkbox'] {
    #{$root}__new-input {
      @include checkbox;    
    }
  
    #{$root}__vector {
      margin-bottom: 1px;
      opacity: 0;
      transition: opacity .1s ease-in-out;
    }

    #{$root}__input {

      &:checked + #{$root}__new-input {
        border-color: $bg-primary;
      }
  
      &:checked + #{$root}__new-input > #{$root}__vector {
        opacity: 1;
        transition: opacity .1s ease-in-out;
      }
  
      &:hover + #{$root}__new-input {
        box-shadow: 0 0 10px $bg-primary;
      }
  
      &:active + #{$root}__new-input {
        box-shadow: 0 0 5px $text-secondary;
      }
  
      &:focus + #{$root}__new-input {
        border-color: $text-secondary;
      }
    }
  }

  &[data-type='radio'] {
    #{$root}__new-input {
      @include radio;    
    }

    #{$root}__input {
      &:checked + #{$root}__new-input {
        border-color: $bg-primary;
        transition: border-color .1s ease-in-out;
  
        &:after {
          opacity: 1;
          transition: opacity .1s ease-in-out;
        }
      }
  
      &:checked + #{$root}__new-input + #{$root}__text {
        color: $text-primary;
      }
  
      &:active + #{$root}__new-input {
        box-shadow: 0px 0px 5px $text-secondary;
      }
  
      &:focus + #{$root}__new-input {
        border-color: $text-secondary;
      }
    }
  }

  &[data-type='toggle'] {
    #{$root}__new-input {
      @include toggle;    
    }

    #{$root}__input {

      &:checked + #{$root}__new-input {
        border-color: $bg-primary;
  
        &::after {
          background: $gradient-primary;
          left: 23px;
          transition: left .1s ease-in-out;
        }
      }
  
      &:active + #{$root}__new-input {
        box-shadow: 0px 0px 5px $text-secondary;
      }
    }

    #{$root}__text {
      color: $text-primary;   
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  &__label {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
  }

  &__text {
    padding-top: 1px;
    margin-left: 10px;
    word-break: normal;
    max-width: 215px;
    color: $text-secondary;
    line-height: normal;
  } 

  &__bottom-container {
    margin-top: 4px;
    max-width: 260px;
    padding-left: 30px;
  }

  &__description {
    line-height: 14px;
    font-size: 12px;
    color: $text-secondary;
    font-weight: 400;
  }
}
