mixin dropdown-date(params={})
    .dropdown-date(class=params.classes)
        +block-head({
            title: params.title,
            help: params.help,
            classes: 'dropdown-date__block-head'
        })
        +dropdown({
            text: params.date || 'ДД.ММ.ГГГГ'
        })