.expandable-checkbox-list__head {
  height: 3.1429rem;
  margin-bottom: 0.1429rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
