.expandable-checkbox-list_expanded {
    .expandable-checkbox-list__body {
        display: block;
    }

    .expandable-checkbox-list__icon {
        transform: rotate(180deg);
        padding: 0px 0px 2px 2px;
    }
}