$size: 3.1429rem;

.expandable-checkbox-list__icon {
  @include reset-css;
  @include no-select;
  width: $size;
  height: $size;
  min-width: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.7143rem;
  color: $color-dark-75;
  cursor: pointer;

  &:hover,
  &:active {
    color: $color-purple;
  }

  &:active {
    font-size: 2rem;
  }
}