include /text/text.pug
include /checkbox-button/checkbox-button.pug

mixin expandable-checkbox-list(options = {})
    -
        const {
            title = "",
            items = [],
            expandBtnIcon = "expand_more"
        } = options;

    .expandable-checkbox-list.js-expandable-checkbox-list
        .expandable-checkbox-list__head.js-expandable-checkbox-list__head
            .expandable-checkbox-list__title
                +text({
                    text: title,
                    theme: "h3",
                })
            .expandable-checkbox-list__expand-btn #{expandBtnIcon}
        .expandable-checkbox-list__body
            for item in items
                .expandable-checkbox-list__checkbox
                    +checkbox-button(item)
