.expandable-checkbox-list_expanded {
  .expandable-checkbox-list__body {
    display: block;
  }

  .expandable-checkbox-list__icon {
    transform: rotate(180deg);
    padding: 0rem 0rem 0.1429rem 0.1429rem;
  }
}
