.expandable-checkbox-list {
  width: 100%;
  max-width: 266px;

  &_expanded {
    .expandable-checkbox-list__body {
      display: block;
    }
  
    .expandable-checkbox-list__expand-button {
      transform: rotate(180deg);
      padding: 0rem 0rem 0.1429rem 0.1429rem;
    }
  }

  &__head {
    height: 3.1429rem;
    margin-bottom: 0.1429rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    @include text-h3;
  }

  &__expand-button {
    width: 3.1429rem;
    height: 3.1429rem;
    min-width: 3.1429rem;
  }
  
  &__body {
    display: none;
  }
  
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: 0.7143rem;
    }
  }
}
