.expandable-checkbox-list {
  width: 100%;
  max-width: 266px;

  &_expanded {
    .expandable-checkbox-list__body {
      display: block;
    }
  
    .expandable-checkbox-list__expand-button {
      transform: rotate(180deg);
      padding: 0rem 0rem $micro-size $micro-size;
    }
  }

  &__head {
    height: $veri-big-size;
    margin-bottom: $micro-size;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    @include text-h3;
  }

  &__expand-button {
    width: $veri-big-size;
    height: $veri-big-size;
    min-width: $veri-big-size;
  }
  
  &__body {
    display: none;
  }
  
  &__checkbox {
    &:not(:last-child) {
      margin-bottom: $tiny-size;
    }
  }
}
