include /block-head/block-head.pug
include /input-text/input-text.pug

mixin text-field(options = {})
    -
        const {
            head = null,
            placeholder = "",
            value = "",
            type = "text",
            iconRight = "",
            mask = "",
        } = options;

        const attr = {};
        if (mask !== "") attr["data-mask"] = mask;

    .text-field.js-text-field&attributes(attr)
        if head !== null
            .text-field__head
                +block-head(head)
        +input-text({
            placeholder,
            value,
            type,
            iconRight,
        })        
