include /block-head/block-head.pug
include /input-text/input-text.pug

mixin text-field(options = {})
    -
        const {
            head = null,
            placeholder = false,
            value = false,
            type = "text",
            iconRight = "",
            mask = false,
        } = options;

    .text-field.js-text-field(data-mask=mask)
        if head !== null
            .text-field__head
                +block-head(head)
        +input-text({
            placeholder,
            value,
            type,
            iconRight,
        })        
