mixin checkbox-button({ text, description, checked = false })
    label.checkbox-button
        input.checkbox-button__input(type="checkbox", checked=checked)
        .checkbox-button__new-input check
        if description
            .checkbox-button__container
                p.checkbox-button__title #{text}
                p.checkbox-button__description #{description}
        else
            p.checkbox-button__text #{text}
