.checkbox-button {
  @include reset-css;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    min-width: 320px;
    cursor: pointer;
  }

  &__text {
    margin-left: 0.7143rem;
    word-break: normal;
    width: 100%;
    max-width: 200px;
  }
}
