include /input-checkbox/input-checkbox.pug

mixin checkbox-button({ text, checked = false })
    .checkbox-button
        label.checkbox-button__container
            +input-checkbox(checked)
            p.checkbox-button__text #{text}
