include /input-checkbox/input-checkbox.pug
include /text/text.pug

mixin checkbox-button(options = {})
    -
        const {
            text = "",
            checked = false,
        } = options;

    .checkbox-button
        label.checkbox-button__container
            +input-checkbox(checked)
            .checkbox-button__text
                +text({
                    text,
                    theme: "body",
                    lineHeight: "middle",
                    color: "text-secondary",
                })