.checkbox-button {
  @include reset-css;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    cursor: pointer;
  }

  &__text {
    @include text-body;
    margin-left: 0.7143rem;
    word-break: normal;
    width: 100%;
    max-width: 200px;
    color: $text-secondary;
    line-height: normal;
  }
}
