include /input-checkbox/input-checkbox.pug

mixin checkbox-button(options = {})
    -
        const {
            text = "",
            checked = false,
        } = options;

    .checkbox-button
        label.checkbox-button__container
            +input-checkbox(checked)
            p.checkbox-button__text #{text}
