$size: 7.5px;

.image-slider__item {
  @include reset-css;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 0.0714rem solid #ffffff;
  box-shadow: 0rem 0.3571rem 0.3571rem $color-dark-30;

  &:not(:last-child) {
    margin-right: 3.75px;
  }
}
