.bullet-list-item__maker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.7143rem;
  margin-right: 0.7143rem;
}
