include ../text/text.pug

mixin bullet-list-item(text = '')
    .bullet-list-item
        .bullet-list-item__maker-container
            .bullet-list-item__marker
        .bullet-list-item__text
            +text({
                text,
            })

