extends ../../template/page.pug

include ../../components/logo/logo.pug
include ../../components/colors-and-type/colors-and-type.pug
include ../../components/form-elements/form-elements.pug
include ../../components/cards/cards.pug

block pageTitle
    title ui-kit

block page
    main.ui-kit
        .ui-kit__head
            +logo({
                theme: 'minimal',
            })
        //- +colors-and-type()
        //- +form-elements()
        +cards()
        //- +header-footer() 