extends ../../template/page.pug

include ../../desktop.blocks/logo/logo.pug
include ./__colors-and-texts/__colors-and-texts.pug
include ./__form-elements/__form-elements.pug
include ./__cards/__cards.pug
include ./__demo-headers-and-footers/__demo-headers-and-footers.pug

block pageTitle
    title ui-kit

block page
    body.ui-kit
        main
            .ui-kit__head
                +logo(true)
            +ui-kit__colors-and-texts()
            +ui-kit__form-elements()
            +ui-kit__cards()
            +ui-kit__demo-headers-and-footers() 
