extends ../../template/page.pug

include ../../desktop.blocks/logo/logo.pug
include ../../desktop.blocks/colors-and-type/colors-and-type.pug
include ../../desktop.blocks/form-elements/form-elements.pug
include ../../desktop.blocks/cards/cards.pug
include ../../desktop.blocks/header-footer/header-footer.pug

block pageTitle
    title ui-kit

block page
    body.ui-kit
        main
            .ui-kit__head
                +logo(true)
            +colors-and-type()
            +form-elements()
            +cards()
            +header-footer() 
