extends ../../template/page.pug

block pageTitle
    title ui-kit

block page
    main.ui-kit
        .container-content
            +logo('ui-kit__logo')
            +colors-and-type()
            +form-elements()
            //- +cards()
            //- +header-footer() 