extends ../../template/page.pug
include ../../components/logo/logo.pug
include ../../components/cards/cards.pug

block pageTitle
    title ui-kit

block page
    main.ui-kit
        .container-content
            +logo({
                theme: 'minimal',
            })
            //- +colors-and-type()
            //- +form-elements()
            +cards()
            //- +header-footer() 