extends /../template/page.pug

include /logo/logo.pug

block pageTitle
    title ui-kit

block page
    body.ui-kit
        main
            .ui-kit__head
                +logo(true)
            include __colors-and-texts/__colors-and-texts.pug
            include __form-elements/__form-elements.pug
            include __cards/__cards.pug
            include __demo-headers-and-footers/__demo-headers-and-footers.pug
