.rating {
  margin: 0;
  padding: 0;
  list-style: none;

  &__star {
    display: inline-block;
    vertical-align: middle;
    width: $big-size;
    height: $big-size;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: $big-size;
    line-height: $big-size;
    text-align: center;
    background: $gradient-primary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
  }
}
