include ../block-head/block-head.pug
include ../like-button/like-button.pug

mixin like-buttons(options={})
    -
        const {
           head = '',
           items = [],
        } = options;

    .like-buttons
        if head !== ''
            .like-buttons__head
                +block-head({
                    title: head,
                })
        .like-buttons__container
            for item in items
                .like-buttons__button
                    +like-button({
                        likes: item
                    })
