include /block-head/block-head.pug
include /like-button/like-button.pug

mixin like-buttons({ items, head = null })
    .like-buttons
        if head !== null
            .like-buttons__head
                +block-head(head)
        .like-buttons__container
            for item in items
                .like-buttons__button
                    +like-button(item)
