include ../block-head/block-head.pug
include ../like-button/like-button.pug

mixin like-buttons(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .like-buttons
        if head !== null
            .like-buttons__head
                +block-head(head)
        .like-buttons__container
            for item in items
                .like-buttons__button
                    -
                        const {
                            likes,
                            checked = false,
                        } = item;
                    +like-button(likes, checked)
