.like-buttons {
  &__head {
    margin-bottom: $standard-size;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__button {
    &:not(:last-child) {
      margin-right: $tiny-size;
    }
  }
}
