include /input-checkbox/input-checkbox.pug

mixin rich-checkbox-button({ text, description = "" })
    label.rich-checkbox-button
        +input-checkbox()
        .rich-checkbox-button__container
            p.rich-checkbox-button__text #{text}
            p.rich-checkbox-button__description #{description}
