.rich-checkbox-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  cursor: pointer;

  &__container {
    margin-left: $tiny-size;
    width: 270px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    @include text-body;
    margin-bottom: 0.3571rem;
    line-height: $middle-first-size;
    font-weight: bold;
  }

  &__description {
    @include text-body;
    line-height: $standard-size;
    font-size: $small-size;
  }
}
