include /text/text.pug
include /input-checkbox/input-checkbox.pug

mixin rich-checkbox-button(options = {})
    -
        const {
            text = "",
            description = "",
        } = options;

    label.rich-checkbox-button
        +input-checkbox()
        .rich-checkbox-button__container
            .rich-checkbox-button__text
                +text({
                    text,
                    fontWeight: "bold",
                    lineHeight: "middle",
                })
            .rich-checkbox-button__description
                +text({
                    text: description,
                    lineHeight: "very-small",
                    size: "small",
                })
