@import './rich-checkbox-button__container.scss';
@import './rich-checkbox-button__text.scss';

.rich-checkbox-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
