include ../text/text.pug
include ../input-checkbox/input-checkbox.pug

mixin rich-checkbox-button(options={})
    -const {
    -   text = '',
    -   description = '',
    -} = options;

    .rich-checkbox-button
        +input-checkbox()
        .rich-checkbox-button__container
            .rich-checkbox-button__text
                +text({
                    text,
                    fweight: 'bold',
                    lheight: 'middle-1',
                })
            .rich-checkbox-button__description
                +text({
                    text: description,
                    lheight: 'small',
                    fsize: 'small',
                })
