mixin radio-buttons(params={})
    .radio-buttons(class=params.classes)
        -if(params.title || params.help){
            +block-head({
                title: params.title,
                help: params.help,
                classes: 'radio-buttons__block-head'
            })
        -}
        .radio-buttons__container
            -const items = params.items || [];
            -for(let i = 0; i < items.length; i++){
                -const item = items[i];
                -item.classes = (item.classes || '') + ' radio-buttons__radio-button';
                +radio-button(item)
            -}