include /card-selection-room/card-selection-room.pug

mixin landing-page()
  main.landing-page
    .landing-page__banner
      .landing-page__banner-content
        +card-selection-room({ titleTagNumber: 1 }) 
        p.landing-page__description Лучшие номера для вашей работы, отдыха и просто вдохновения
