mixin expandable-checkbox-list(params={})
    .expandable-checkbox-list(class=params.classes)
        .expandable-checkbox-list__title #{params.title}
        .button.button_theme_form-element.expandable-checkbox-list__expend-button expand_more
        .expandable-checkbox-list__body
            if block
                block