mixin button-go-to(params={})
    .button-go-to.button.button_theme_default(class=params.classes) #{params.text}
        .button.button_theme_form-element.button-go-to__button-form-element arrow_forward