mixin dropdown-rooms(params={})
    -let classes = (params.classes || ''); 
    -if(params.expend) classes += ' dropdown-rooms_expend';
    -let init = params.init ? JSON.stringify(params.init) : '{}';
    .dropdown-rooms(class=classes, data-init=init)
        +block-head({
            title: params.title,
            help: params.help,
            classes: 'dropdown-rooms__block-head'
        })
        +dropdown({
            text: params.text || 'Сколько комнат'
        })
        .dropdown-rooms__body
            .dropdown-rooms__body-content
                +dropdown-item-counter({
                    name: 'bedrooms',
                    classes: 'dropdown-rooms__item-counter',
                    text: 'Спальни',
                    value: params.bedrooms || '0'
                })
                +dropdown-item-counter({
                    name: 'beds',
                    classes: 'dropdown-rooms__item-counter',
                    text: 'Кровати',
                    value: params.beds || '0'
                })
                +dropdown-item-counter({
                    name: 'bathrooms',
                    text: 'Ванные комнаты',
                    value: params.bathrooms || '0'
                })