include /button/button.pug
include /social-icons/social-icons.pug

mixin copyright-bar({ copyright, socialIcons })
  .copyright-bar
    .copyright-bar__content
      p.copyright-bar__copyright-text #{copyright}
      .copyright-bar__social-icons
        +social-icons(socialIcons)
