include ../text/text.pug

mixin color-demo-item(options = [])
    -
        const [
            colorName,
            colorValue,
            squareBgColor,
        ] = options;

    .color-demo-item
        .color-demo-item__color-square(style=`background-color: ${squareBgColor};`)
        .color-demo-item__description
            .color-demo-item__color-name
                +text({
                    text: colorName,
                    theme: "h2",
                    lineHeight: "big",
                })
            .color-demo-item__color-value
                +text({
                    text: colorValue,
                    theme: "h2",
                    fontWeight: "normal",
                    lineHeight: "big",
                })
