include ../text/text.pug

mixin color-demo-item(options={})
    -
        const {
           color = '', 
           name = '',
           bgColor = '',
        } = options;

    .color-demo-item
        .color-demo-item__color-block(style=`background-color: ${bgColor};`)
        .color-demo-item__color-description
            .color-demo-item__color-name
                +text({
                    text: name,
                    theme: 'h2',
                    lheight: 'big',
                })
            .color-demo-item__color-value
                +text({
                    text: color,
                    theme: 'h2',
                    fweight: 'normal',
                    lheight: 'big',
                })
