mixin room-details-banner(images)
  -const imagesSrc = images.map((src) => require(`../../components/room-details-banner/images/${src}`).default);
  .room-details-banner
    .room-details-banner__main-img-container
      -const mainImage = imagesSrc.shift();
      img.room-details-banner__main-img(src=mainImage, alt="Image description template.")
    .room-details-banner__img-column
      for imageSrc in imagesSrc
        .room-details-banner__img-item-container
          img.room-details-banner__img-item(src=imageSrc, alt="Image description template.")
