.hotel-room-head {
    @include flex-row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    height: 30px;
}

@import './hotel-room-head__number.scss';
@import './hotel-room-head__price-num.scss';
@import './hotel-room-head__price.scss';
@import './hotel-room-head__price-time.scss';
@import './hotel-room-head_cm.scss';