.ui-kit__form-elements {
  width: 100%;

  &-container-content {
    @include container-content;
    display: flex;
    flex-direction: column;
    padding-top: 140px;

    @media (max-width: $breakpoint-old-displays) {
      padding-top: 5rem;
    }

    @media (max-width: $breakpoint-cell-phones) {
      padding-top: 1.4286rem;
    }
  }

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &:not(:last-child) {
      margin-bottom: 7.1429rem;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 0.7143rem;
    }

    @media (max-width: $breakpoint-cell-phones) {
      width: 100%;
      margin-right: 0rem;
    }
  }

  &-item {
    margin-bottom: 1.4286rem;
    min-width: 320px;

    @media (max-width: 400px) {
      min-width: auto;
    }
  }

  &-comment {
    max-width: 63%;

    @media (max-width: $breakpoint-cell-phones) {
      max-width: 100%;
    }
  }
}
