include ../../../desktop.blocks/text-field/text-field.pug
include ../../../desktop.blocks/button/button.pug
include ../../../desktop.blocks/dropdown-guest/dropdown-guest.pug
include ../../../desktop.blocks/date-range/date-range.pug
include ../../../desktop.blocks/dropdown-filter-date/dropdown-filter-date.pug
include ../../../desktop.blocks/checkbox-list/checkbox-list.pug
include ../../../desktop.blocks/radio-buttons/radio-buttons.pug
include ../../../desktop.blocks/toggle-buttons/toggle-buttons.pug
include ../../../desktop.blocks/like-buttons/like-buttons.pug
include ../../../desktop.blocks/rating-buttons/rating-buttons.pug
include ../../../desktop.blocks/range-slider/range-slider.pug
include ../../../desktop.blocks/buttons-demo/buttons-demo.pug
include ../../../desktop.blocks/pagination/pagination.pug
include ../../../desktop.blocks/dropdown-room-amenities/dropdown-room-amenities.pug
include ../../../desktop.blocks/expandable-checkbox-list/expandable-checkbox-list.pug
include ../../../desktop.blocks/rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../../../desktop.blocks/bullet-list/bullet-list.pug
include ../../../desktop.blocks/room-advantages/room-advantages.pug
include ../../../desktop.blocks/comment/comment.pug
include ../../../desktop.blocks/container-content/container-content.pug

article.ui-kit__form-elements
        +container-content()
            .ui-kit__form-elements-container-content
                .ui-kit__form-elements-row
                    .ui-kit__form-elements-column
                        .ui-kit__form-elements-item
                            +text-field({
                                head: {
                                    title: "text field",
                                    help: "default",
                                },
                                placeholder: "Email",
                                type: "email",
                            })
                        .ui-kit__form-elements-item
                            +text-field({
                                head: {
                                    title: "subscription text field",
                                    help: "default",
                                },
                                placeholder: "Email",
                                iconRight: "arrow_forward",
                                type: "email",
                            })
                        .ui-kit__form-elements-item
                            +text-field({
                                head: {
                                    title: "masked text field",
                                    help: "default",
                                },
                                placeholder: "ДД.ММ.ГГГГ",
                                mask: "%D.%M.%Y",
                            })
                        .ui-kit__form-elements-item
                            +dropdown-guest({
                                head: {
                                    title: "dropdown",
                                    help: "default",
                                },
                            })
                        .ui-kit__form-elements-item
                            +date-range()
                        .ui-kit__form-elements-item
                            +dropdown-filter-date({
                                head: {
                                    title: "filter date dropdown",
                                },
                                text: "19 авг - 23 авг",
                            })
                    .ui-kit__form-elements-column
                        .ui-kit__form-elements-item
                            +checkbox-list({
                                head: {
                                    title: "checkbox buttons",
                                },
                                items: [
                                    {text: "Можно курить"},
                                    {text: "Можно с питомцами"},
                                    {text: "Можно пригласить гостей (до 10 человек)"},
                                ]
                            })
                        .ui-kit__form-elements-item
                            +radio-buttons({
                                head: {
                                    title: "radio buttons",
                                },
                                items: [
                                    {
                                        text: "Мужчина",
                                        group: "gender",
                                        checked: true
                                    },
                                    {
                                        text: "Женщина",
                                        group: "gender"
                                    },
                                ],
                            })
                        .ui-kit__form-elements-item
                            +toggle-buttons({
                                head: {
                                    title: "toggle",
                                },
                                items: [
                                    {
                                        text: "Получать спецпредложения",
                                        checked: true,
                                    },
                                    {
                                        text: "Получать спецпредложения",
                                    },
                                ],
                            })
                        .ui-kit__form-elements-item
                            +like-buttons({
                                head: {
                                    title: "like button",
                                },
                                items: [
                                    {
                                        likes: 2,
                                    },
                                    {
                                        likes: 12,
                                        checked: true,
                                    },
                                ],
                            })
                        .ui-kit__form-elements-item
                            +rating-buttons({
                                head: {
                                    title: "rate button",
                                },
                                items: [
                                    4,
                                    5,
                                ],
                            })
                    .ui-kit__form-elements-column
                        .ui-kit__form-elements-item
                            +range-slider({
                                range: [0, 16000],
                                start: [5000, 10000],
                                step: 1000,
                                title: "range slider",
                            })
                        .ui-kit__form-elements-item
                            +buttons-demo()
                        .ui-kit__form-elements-item
                            +pagination({
                                head: {
                                    title: "pagination",
                                },
                                bottomText: "1 – 12 из 100+ вариантов аренды",
                            })
                .ui-kit__form-elements-row
                    .ui-kit__form-elements-column         
                        .ui-kit__form-elements-item
                            +dropdown-room-amenities()
                        .ui-kit__form-elements-item
                            +expandable-checkbox-list({
                                title: "expandable checkbox list",
                                items: [
                                    {text: "Завтрак"},
                                    {text: "Письменный стол"},
                                    {text: "Стул для кормления"},
                                    {text: "Кроватка"},
                                    {text: "Телевизор"},
                                    {text: "Шампунь"},
                                    {text: "Телевизор"},
                                    {text: "Шампунь"},
                                ],
                            })
                    .ui-kit__form-elements-column
                        .ui-kit__form-elements-item
                            +rich-checkbox-buttons({
                                head: {
                                    title: "rich checkbox buttons",
                                },
                                items: [
                                    {
                                        text: "Широкий коридор",
                                        description: "Ширина коридоров в номере не менее 91 см.",
                                    },
                                    {
                                        text: "Помощник для инвалидов",
                                        description: "На 1 этаже вас встретит специалист  и проводит до номера.",
                                    },
                                ],
                            })                        
                    .ui-kit__form-elements-column
                        +bullet-list({
                            head: {
                                title: "bullet list",
                            },
                            items: [
                                "Нельзя с питомцами",
                                "Без вечеринок и мероприятий",
                                "Время прибытия — после 13:00, а выезд до 12:00",
                            ],
                        })
                .ui-kit__form-elements-row
                    .ui-kit__form-elements-column
                        +room-advantages([
                            {
                                title: "Комфорт",
                                description: "Шумопоглощающие стены",
                                icon: "insert_emoticon",
                            },
                            {
                                title: "Удобство",
                                description: "Окно в каждой из спален",
                                icon: "location_city",
                            },
                        ])
                    .ui-kit__form-elements-column.ui-kit__form-elements-comment
                        -const avatar = require("../../desktop.blocks/comment/images/user1.jpg").default;
                        +comment({
                            avatar,
                            userName: "Мурад Сарафанов",
                            publicationDate: "5 дней назад",
                            likes: 12,
                            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
                        })
