include /logo/logo.pug
include /text/text.pug
include /button/button.pug
include /social-icons/social-icons.pug
include /container-content/container-content.pug

mixin footer-creative(options = {})
    -
        const {
            siteDescription = "",
            socialIcons = null,
        } = options;

    .footer-creative
        +container-content()
            .footer-creative__content
                .footer-creative__logo
                    +logo()
                .footer-creative__site-description
                    +text({
                        text: siteDescription,
                    })
                .footer-creative__social-icons
                    +social-icons(socialIcons)
            