include ../logo/logo.pug
include ../text/text.pug
include ../button/button.pug
include ../social-buttons/social-buttons.pug

mixin footer-creative(options = {})
    -
        const {
            siteDescription = "",
            socialButtons = null,
        } = options;

    .footer-creative
        .container-content
            .footer-creative__container-content
                .footer-creative__logo
                    +logo()
                .footer-creative__site-description
                    +text({
                        text: siteDescription,
                    })
                .footer-creative__social-buttons
                    +social-buttons(socialButtons)
            