@import "../colors-demo/colors-demo.scss";
@import "../text-demo/text-demo.scss";

@import "./colors-and-type__container-content.scss";
@import "./colors-and-type__text-demo.scss";

.colors-and-type {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  background-color: #fff;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
