include ../colors-demo/colors-demo.pug
include ../text-demo/text-demo.pug

mixin colors-and-type(options={})
    -const {
    -   classes = [],    
    -} = options;
    -const classList = [...classes];
    -const classListStr = classList.join(' ');

    article.colors-and-type(class=classListStr)
        .colors-and-type__container-content
            .colors-and-type__colors-demo
                +colors-demo()
            .colors-and-type__text-demo
                +text-demo()