include ../colors-demo/colors-demo.pug

mixin colors-and-type(options={})
    -const {
    -   classes = [],    
    -} = options;
    -const classList = [...classes];
    -const classListStr = classList.join(',');
    .colors-and-type(class=classListStr)
        .container-content.container-content_horizontal.container-content_content_sp-bt
            +colors-demo()
            //- +text-demo()