.colors-and-type__container-content {
  @include reset-css;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 145px;
  margin: 0 auto;

  @media screen and (max-width: $breackpoint3) {
    flex-direction: column;
    align-items: center;
  }
}
