.search-room {
  flex-grow: 1;
  border-bottom: 1px solid #e3e3e3;

  &__container-content {
    @include container-content;
    padding-top: 30px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: $breakpoint-cell-phones) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__filters {
    width: 266px;
    margin-right: 60px;
    margin-top: 1px;

    @media (max-width: $breakpoint-cell-phones) {
      margin-bottom: 40px;
      margin-right: 0;
    }
  }

  &__dropdown-date-filter {
    margin-bottom: 22px;
  }
  
  &__dropdown-guest {
    margin-bottom: 31px;
  }

  &__range-slider {
    margin-bottom: 25px;
  }

  &__checkbox-list {
    margin-bottom: 32px;
    border: 0;

    &-title {
      @include text-h3;
      margin-bottom: 16px;
    }

    &-wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__checkbox:not(:last-child) {
    margin-bottom: 11px;
  }

  &__rich-checkbox-list {
    margin-bottom: 31px;
    border: 0;

    &-title {
      @include text-h3;
      margin-bottom: 16px;
    }

    &-wrapper {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  &__rich-checkbox:not(:last-child) {
    margin-bottom: 8px;
  }

  &__dropdown-room-amenities {
    margin-bottom: 16px;
  }

  &__rooms {

    &-title {
      @include text-h1;
      margin-bottom: 2px;
      font-family: Montserrat, Arial, sans-serif;
    }
  
    &-container {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;

      @media (max-width: 895px) {
        justify-content: center;
      }

      @media (max-width: 768px) {
        justify-content: space-around;
      }
  
      @media (max-width: 586px) {
        justify-content: center;
      }
    }
  }

  &__room-information {
    margin-top: 19px;
  }
  
  &__pagination {
    margin-top: 38px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
}
