.dropdown-rooms__body-content {
    display: none;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    border: 1px solid $color-dark-50;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $color-dark-5;
    padding: 5px 6px 8px 14px;
    z-index: 999;
    border-radius: 0px 0px 4px 4px;
}