extends ../../template/landing.pug

include ../../desktop.blocks/card-authentication/card-authentication.pug
include ../../desktop.blocks/text/text.pug
include ../../desktop.blocks/banner/banner.pug

block pageTitle
    title Sign in

block main
    main.sign-in
        +banner()
            .sign-in__card-authentication
                +card-authentication()
