extends /../template/landing.pug

include /card-authentication/card-authentication.pug
include /text/text.pug
include /banner/banner.pug

block pageTitle
    title Sign in

block main
    main.sign-in
        +banner()
            .sign-in__card-authentication
                +card-authentication()
