extends ../../template/landing.pug

include ../../desktop.blocks/card-authentication/card-authentication.pug
include ../../desktop.blocks/text/text.pug

block pageTitle
    title Sign in

block main
    main.sign-in
        .sign-in__banner
            .container-content
                .sign-in__banner-content
                    +card-authentication()
