extends ../../template/landing.pug

block pageTitle
    title Sign in


include ./__banner/sign-in__banner.pug
block content
    main.sign-in
        +sign-in__banner({
            image: 'images/banner.png'
        })