extends /../template/landing.pug

include /card-authentication/card-authentication.pug

block pageHead
  title Войти
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Login page")

block main
  main.sign-in
    .sign-in__banner
      .sign-in__card-authentication
        +card-authentication({ titleTagNumber: 1 })
