extends /../template/landing.pug

include /sign-in/sign-in.pug

block pageHead
  title Войти
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Login page")

block main
  +sign-in()
