include /room-head/room-head.pug
include /date-range/date-range.pug
include /receipt/receipt.pug
include /button/button.pug
include /dropdown/dropdown.pug

mixin card-book-room(options = {})
  -
    const {
      roomHead = {},
      receipt = {},
      dropdownGuest = {
        head: { title: "Гости" },
        placeholder: "Сколько гостей",
        name: "guests",
        variations: {
          adults:  ["гость", "гостя", "гостей"],
          babies: ["младенец", "младенца", "младенцев"],
        },
        counters: [
          { text: "взрослые", group: "adults", value: 0 },
          { text: "дети", group: "adults", value: 0 },
          { text: "младенцы", group: "babies", value: 0 },
        ],
        withControls: true,
      },
      dateRange = {},
      bookingButton = "забронировать",
      formAction = "/mock-address/change-me",
    } = options;

  .card-book-room
    .card-book-room__head
      +room-head(roomHead)
    form.card-book-room__form(action=formAction, method="post")
      .card-book-room__date-range
        +date-range(dateRange)
      .card-book-room__dropdown-guest
        +dropdown(dropdownGuest)
      .card-book-room__receipt
        +receipt(receipt)
      .card-book-room__booking-button
        +button({
          text: bookingButton,
          isLong: true,
          withArrow: true,
          type: "submit",
        })
