.button {
  @include reset-css;

  @include no-select;

  @include reset-link;
  
  position: relative;
  cursor: pointer;
  border: 0;
  background: #ffffff;
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  overflow: hidden;
  
  @at-root a#{&} {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &_theme {

    &_default {
      border-radius: $middle-second-size;
      background: $gradient-primary;
      
      &:hover,
      &:focus {
        opacity: .5;
      }

      &:active {
        background: $bg-primary;
      }

      .button__text {
        padding: 14px 19.7px 15px;
        font-size: $small-size;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }

    &_default-long {
      width: 100%;
      border-radius: $middle-second-size;
      background: $gradient-primary;
      position: relative;

      &:hover {
        box-shadow: 0px 0px 10px $bg-primary;
      }

      &:active {
        background: $bg-primary;
      }

      &:focus {
        box-shadow: 0px 0px 10px $text-secondary;
      }

      .button__text {
        padding: 14px 19.7px 15px;
        font-size: $small-size;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
    }

    &_icon {
      width: 100%;
      height: 100%;
      background-color: transparent;

      &:hover {
        text-shadow: 0px 0px 20px $bg-primary;
      }

      &:active {
        text-shadow: 0px 0px 20px $text-secondary;
      }

      &:focus {
        text-shadow: 0px 0px 20px $text-secondary;
      }

      .button__text {
        font-family: 'Material Icons';
        font-size: $big-size;
        font-weight: normal;
        line-height: $big-size;
        color: $text-secondary;
        background-color: transparent;
        word-wrap: inherit;
      }
    }

    &_light {
      position: relative;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      background-origin: border-box;
      border-radius: 22px;
      border: 2px solid transparent;
      
      &:hover,
      &:focus {
        background: linear-gradient(180deg, rgba(188, 156, 255, .5) 0%, rgba(139, 164, 249, .5) 100%);
        background-origin: border-box;
      }

      .button__text {
        font-weight: bold;
        color: $bg-primary;
        font-size: $small-size;
        padding: 12px 17px 13px;
        border-radius: inherit;
        background: #ffffff;
        text-transform: uppercase;
      }
    }

    &_round-icon {
      width: 2.8571rem;
      height: 2.8571rem;
      background: $gradient-primary;
      border-radius: $middle-second-size;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .button__text {
        font-family: 'Material Icons';
        font-weight: normal;
        font-size: $big-size;
        line-height: $middle-first-size;
        color: #ffffff;
        word-wrap: inherit;
      }
    }

    &_round-little {
      width: 2.1429rem;
      height: 2.1429rem;
      border: .0714rem solid rgba(31, 32, 65, .25);
      border-radius: $middle-second-size;
    
      .button__text {
        color: $text-secondary;
        font-weight: normal;
        font-size: 1.2857rem;
        line-height: 2.1429rem;
      }
    }

    &_round {
      width: 2.8571rem;
      height: 2.8571rem;
      border-radius: $middle-second-size;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .button__text {
        font-weight: normal;
        font-size: $small-size;
        line-height: $standard-size;
        color: #ffffff;
      }
    }

    &_text {
      font-weight: bold;
      font-size: $small-size;
      line-height: $standard-size;
      text-transform: uppercase;
      color: $bg-primary;

      &:hover {
        text-shadow: 0px 0px 10px $bg-primary;
      }

      &:active {
        text-shadow: 0px 0px 10px $text-secondary;
      }

      &:focus {
        text-shadow: 0px 0px 10px $text-secondary;
      }
    }
  }

  &_background {

    &_gradient-primary {
      background: $gradient-primary;
    }

    &_gradient-success {
      background: $gradient-secondary;
    }

    &_none {
      background: none;
    }
  }

  &_hover-theme {

    &_gradient-primary,
    &_gradient-success {

      &:hover,
      &:active {
        z-index: 9999;

        .button__text {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }

    &_gradient-primary {

      &:hover,
      &:active {
        background: $gradient-primary;
        box-shadow: 0px 0px 10px $bg-primary;
      }

      &:active,
      &:focus {
        box-shadow: 0px 0px 10px $bg-secondary;
      }
    }

    &_gradient-success {
      
      &:hover,
      &:active {
        background: $gradient-secondary;
        box-shadow: 0px 0px 10px $bg-secondary;
      }

      &:active,
      &:focus {
        box-shadow: 0px 0px 10px $bg-primary;
      }
    }
  }

  &_disabled {
    opacity: .5;

    &:active,
    &:hover,
    &:focus {
      box-shadow: none;
      text-shadow: none;
    }

    cursor: default;
  }

  &_font-weight_bold .button__text {
    font-weight: bold;
  }

  &_hidden {
    display: none;
  }

  &_horizontal-size_big .button__text {
    padding: 12px 24px 13px;
  }

  &_size_sm {

    &.button_theme_light .button__text {
      padding: 7px 19px 8px;
    }

    .button__text {
      padding: 9px 1.3571rem 10px;
    }
  } 

  &_text-color {

    &_text-secondary .button__text {
      color: $text-secondary;
    }

    &_gradient-primary .button__text {
      background: $gradient-primary;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_bg-primary .button__text {
      color: $bg-primary;
    }
  }

  &__text {
    display: block;
    max-width: 100%;
    max-height: 100%;
    line-height: 15px;
    word-wrap: break-word;
    border-radius: inherit;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    width: $very-big-size;
    height: 100%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: $big-size;
    line-height: $big-size;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-transform: none;
  }
}
