.button {
  @include reset-css;
  @include no-select;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;

  &::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

@import './button_theme_default.scss';
@import './button_theme_circle.scss';

@import './button_disable.scss';
