mixin button(options={})
    - const {
    -   theme = 'default', 
    -   bgColor = '', 
    -   size = '', 
    -   textColor = '', 
    -   classes = [],
    -   text = '',
    -   disable = false,
    -} = options;

    -const classList = [
    -   'button',
    -   ...classes
    -];

    -if(theme !== '') classList.push(`button_theme_${theme}`);
    -if(disable) classList.push('button_disable');

    -const classListStr = classList.join(' ');

    div(class=classListStr) #{text}