mixin button(options={})
    - const {
    -   theme = 'default', 
    -   bgColor = '', 
    -   size = '', 
    -   textColor = '', 
    -   classes = [],
    -   text = '',
    -   disable = false,
    -   hidden = false,
    -} = options;

    -const classList = [
    -   'button',
    -   ...classes
    -];

    -if (theme !== '') classList.push(`button_theme_${theme}`);
    -if (disable) classList.push('button_disable');
    -if (textColor !== '') classList.push(`button_text-color_${textColor}`);
    -if (hidden) classList.push('button_hidden');

    -const classListStr = classList.join(' ');

    div(class=classListStr) #{text}