mixin footer-creative(params={})
    .footer-creative(class=params.classes)
        +logo('logo_theme_main footer-creative__site-info-logo')
        .text.text_body.footer-creative__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        .footer-creative__social-buttons
            .button.button_theme_social-icon.footer-creative__social-icon &#xf099;
            .button.button_theme_social-icon.footer-creative__social-icon &#xf082;
            .button.button_theme_social-icon.footer-creative__social-icon &#xf16d;
            