include /logo/logo.pug
include /button/button.pug
include /social-icons/social-icons.pug

mixin footer-creative({ siteDescription, socialIcons })
    .footer-creative
        .footer-creative__content
            .footer-creative__logo
                +logo()
            p.footer-creative__site-description #{siteDescription}
            .footer-creative__social-icons
                +social-icons(socialIcons)
            