.footer-creative {
  @include reset-css;
  background: #fff;
  box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;

  &__content {
    @include reset-css;

    @include container-content;
    padding: 119px 0 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__site-description {
    @include text-body;
    margin-top: 14px;
    width: 100%;
    max-width: 560px;
    text-align: center;
  }

  &__social-icons {
    margin-top: 23px;
  }
}
