.footer-creative {
  @include reset-css;
  background: #fff;
  box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;

  &__content {
    @include reset-css;

    @include container-content;
    padding-top: 7.1429rem;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 1.2143rem;
  }

  &__site-description {
    @include text-body;
    margin-bottom: 1.9286rem;
    width: 100%;
    max-width: 560px;
    text-align: center;
  }

  &__social-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__social-button:not(:last-child) {
    margin-right: $middle-first-size;
  }
}
