.input-checkbox {
  display: block;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .input-checkbox__new-input {
      border-color: $primary;
      background: $bg-gradient-primary;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover + .input-checkbox__new-input {
      box-shadow: 0px 0px 10px $primary;
    }

    &:active + .input-checkbox__new-input {
      box-shadow: 0px 0px 5px $text-secondary;
    }

    &:focus + .input-checkbox__new-input {
      border-color: $text-secondary;
    }
  }

  &__new-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4286rem;
    height: 1.4286rem;
    background: #fff;
    border: 0.0714rem solid $light-title;
    box-sizing: border-box;
    border-radius: 0.2857rem;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    @include no-select;
  }
}
