include /logo/logo.pug
include /header/header.pug
include /footer/footer.pug

mixin headers-and-footers()
  main.headers-and-footers
    .headers-and-footers__logo
      +logo({ isMinimality: true })
    .headers-and-footers__container-content
      .headers-and-footers__header
        +header()
      .headers-and-footers__header
        +header("Юлий Цезарь")
      .headers-and-footers__footer
        +footer()
