include ../toggle-button/toggle-button.pug

mixin toggle-buttons(options={})
    -
        const {
           head = '',
           items = [],
        } = options;

    .toggle-buttons
        if head !== ''
            .toggle-buttons__head
                +block-head({
                    title: head,
                })
        .toggle-buttons__container
            -items.forEach(({text, checked}) => {
                .toggle-buttons__button
                    +toggle-button({
                        text,
                        checked,
                    })
            -});
