include ../toggle-button/toggle-button.pug

mixin toggle-buttons(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .toggle-buttons
        if head !== null
            .toggle-buttons__head
                +block-head(head)
        .toggle-buttons__container
            for item in items
                .toggle-buttons__button
                    +toggle-button(item)

