extends ../template/page.pug

block pageTitle
    title ui-kit

block page
    main
        include ../common.blocks/index.pug
        +logo('ui-kit__logo')
        +colors-and-type()
        +form-elements()
        +cards()
        +header-footer() 