extends ../template/page.pug

block pageTitle
    title ui-kit

block page
    main.flex-container.container-content.page-container__container-content
        //- include ../common.blocks/colors-and-type/colors-and-type.pug
        include ../common.blocks/form-elements/form-elements.pug