.like-button_active {
  border-color: $color-purple;

  .like-button__icon {
    background: $color-purple;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .like-button__counter {
    color: $color-purple;
  }
}
