.like-button {
  @include no-select;
  min-width: 40px;
  border: 1px solid transparent;
  border-radius: 12px;
  background: $light-title;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px $light-title;
  }

  &:active {
    box-shadow: 0 0 5px $text-secondary;
  }

  &_checked {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;

    .like-button__icon {
      background: $bg-primary;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .like-button__counter {
      color: $bg-primary;
    }

    &:hover {
      box-shadow: 0 0 10px $bg-primary;
    }
  }

  &__container {
    padding: 0 7px 0 4px;
    border-radius: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
  }

  &__icon,
  &__counter {
    font-size: 10px;
    line-height: 19px;
    color: $light-title;
  }

  &__icon {
    padding-right: 3px;
    font-family: 'Material Icons';
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__counter {
    width: 100%;
    text-align: center;
    user-select: none;
  }
}
