.dropdown-item__text {
    display: inline-block;
    vertical-align: middle;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-100;
    padding: 7px 0px 8px 0px;
}