extends /../template/landing.pug

include /search-room/search-room.pug

block pageHead
  title Подобрать комнату
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Search hotel rooms")

block main
  +search-room()
