extends /../template/landing.pug



include /container-content/container-content.pug

block pageTitle
    title Search page

block main
    main.search-room
        .search-room__container-content
            include ./__filters.pug
            include ./__rooms.pug
