.search-room {
  border-bottom: 1px solid #e3e3e3;

  &__container-content {
    @include reset-css;

    @include container-content;
    padding-top: 30px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: $breakpoint-cell-phones) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__filters {
    width: 266px;
    margin-right: 60px;
    margin-top: 1px;

    @media (max-width: $breakpoint-cell-phones) {
      margin-bottom: 40px;
      margin-right: 0;
    }
  }

  &__dropdown-date-filter {
    margin-bottom: 22px;
  }
  
  &__dropdown-guest {
    margin-bottom: 31px;
  }

  &__range-slider {
    margin-bottom: 1.7857rem;
  }

  &__checkbox-list {
    margin-bottom: 32px;
  }

  &__rich-checkbox-buttons {
    margin-bottom: 2.2143rem;
  }

  &__dropdown-room-amenities {
    margin-bottom: 1.1429rem;
  }

  &__rooms {
    @include reset-css;
    width: 100%;
  
    &-title {
      @include text-h1;
      margin-bottom: .1429rem;
      font-family: Montserrat, Arial, sans-serif;
    }
  
    &-container {
      @include reset-css;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  
      @media (max-width: $breakpoint-cell-phones) {
        justify-content: space-around;
      }
  
      @media (max-width: 586px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__room-information {
    margin-top: 19px;
  }
  
  &__pagination {
    margin-top: 38px;
    padding-right: 1.1429rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
}
