include /button/button.pug

mixin dropdown-counter(options)
    -
        const {
            label,
            group = "",
            value = 0,
        } = options;

        const valueRes = (value < 0) ? 0 : value;
        const attr = {};
        if (group !== "") attr["data-group"] = group;

    .dropdown-counter.js-dropdown-counter&attributes(attr)
        label.dropdown-counter__label #{label}
        .dropdown-counter__controls
            .dropdown-counter__btn-minus
                -const btnMinusDisabled = (valueRes === 0);
                +button({
                    action: "minus",
                    text: "-",
                    theme: "round-little",
                    disabled: btnMinusDisabled,
                })
            p.dropdown-counter__out.js-dropdown-counter__out #{valueRes}
            .dropdown-counter__btn-plus
                +button({
                    action: "plus",
                    text: "+",
                    theme: "round-little",
                })
            