include /button/button.pug

mixin dropdown-counter({ label, group = false, value = 0 })
    .dropdown-counter.js-dropdown-counter(data-group=group)
        label.dropdown-counter__label #{label}
        .dropdown-counter__controls
            .dropdown-counter__btn-minus
                -const valueRes = (value < 0) ? 0 : value;
                +button({
                    dataAction: "minus",
                    text: "-",
                    theme: "round-little",
                    disabled: (valueRes === 0),
                })
            p.dropdown-counter__out.js-dropdown-counter__out #{valueRes}
            .dropdown-counter__btn-plus
                +button({
                    dataAction: "plus",
                    text: "+",
                    theme: "round-little",
                })
            