include ../text/text.pug
include ../button/button.pug

mixin dropdown-counter(options = {})
    -
        const {
            label = "",
            group = "",
            value = 0,
        } = options;

        const valueRes = (value < 0) ? 0 : value;

    .dropdown-counter.js-dropdown-counter(data-group=group)
        +text({
            text: label,
            theme: "h3",
            classes: [
                "dropdown-counter__label",
                "js-dropdown-counter__label",
            ],
            noSelect: true,
        })
        .dropdown-counter__control
            .dropdown-counter__btn-minus
                -const btnMinusDisable = (valueRes === 0);
                +button({
                    classes: [
                        "button_action_minus",
                        "js-button_action_minus",
                    ],
                    text: "-",
                    theme: "round-little",
                    disable: btnMinusDisable,
                })
            .dropdown-counter__out
                +text({
                    text: valueRes,
                    classes: [
                        "text_assignment_count-out",
                        "js-text_assignment_count-out",
                    ],
                    horizontal: "middle",
                    theme: "h3",
                    noSelect: true,
                })
            .dropdown-counter__btn-plus
                +button({
                    classes: [
                        "button_action_plus",
                        "js-button_action_plus",
                    ],
                    text: "+",
                    theme: "round-little",
                })
            