include ../text/text.pug
include ../button/button.pug

mixin dropdown-counter(options={})
    -
        const {
           text = '',
        } = options;

    .dropdown-counter.js-dropdown-counter
        +text({
            text,
            theme: 'h3',
            classes: [
                'js-dropdown-counter__label'
            ],
        })
        .dropdown-counter__control
            .dropdown-counter__btn-minus
                +button({
                    classes: [
                        'js-dropdown-counter__btn-minus',
                    ],
                    text: '-',
                    theme: 'round-little',
                    disable: true,
                })
            .dropdown-counter__value
                +text({
                    text: '0',
                    classes: [
                        'js-dropdown-counter__value',
                    ],
                    horizontal: 'middle',
                    theme: 'h3',
                })
            .dropdown-counter__btn-plus
                +button({
                    classes: [
                        'js-dropdown-counter__btn-plus',
                    ],
                    text: '+',
                    theme: 'round-little',
                })
            