mixin colors-and-type(params={})
    .colors-and-type(class=params.classes)
        include ../colors-demo/colors-demo.pug
        +colors-demo()
        include ../text-demo/text-demo.pug
        +text-demo()