.colors-and-type {
    position: relative;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding-top: 145px;
}

@import './colors-and-type__logo.scss';
@import '../colors-demo/colors-demo.scss';
@import './colors-and-type__colors-demo.scss';
@import './colors-and-type__text-demo.scss';
@import '../text-demo/text-demo.scss';