.colors-and-type__colors-demo{
    display: inline-block;
    margin-left: 145px;
}

@media screen and (max-width: 320px) {
    .colors-and-type__colors-demo {
        margin: 145px 0px 0px 30px;
    }
}