.colors-and-type {
    width: 100%;
    background-color: #fff;
    justify-content: space-around;
    padding-top: 145px;
    display: flex;
}

@import './colors-and-type__logo.scss';
@import './colors-and-type__colors-demo.scss';
@import './colors-and-type__text-demo.scss';
@import './colors-and-type__container-content.scss';