mixin text-demo(classes)
    .text-demo(class=classes)
        include ./text-demo__item/text-demo__item.pug
        +text-demo__item({
            head: 'H1',
            text: 'This one is the sub-section or widget title',
            classes: 'text-demo__item_h1'
        })
        +text-demo__item({
            head: 'H2',
            text: 'Next one is the item title inside widgets',
            classes: 'text-demo__item_h2'
        })
        +text-demo__item({
            head: 'H3',
            text: 'This is a label or CTA text',
            classes: 'text-demo__item_h3'
        })
        +text-demo__item({
            head: 'Body',
            text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
            classes: 'text-demo__item_body'
        })