.text-demo__item-head {
    display: block;
    margin-right: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #1f204140;
    min-width: 50px;
}