.rate-button__star {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}