include ../block-head/block-head.pug
include ../button/button.pug

mixin buttons-demo(head = null)
    .buttons-demo
        if head !== null
            .buttons-demo__head
                +block-head(head)
        .buttons-demo__container
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: 'click me',
                    })
                .buttons-demo__button
                    +button({
                        text: 'click me',
                        disable: true,
                    })
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: 'click me',
                        theme: 'light',
                    })
                .buttons-demo__button
                    +button({
                        text: 'click me',
                        disable: true,
                        theme: 'light',
                    })
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: 'click me',
                        theme: 'text',
                    })
                .buttons-demo__button
                    +button({
                        text: 'click me',
                        theme: 'text',
                        textColor: 'text-secondary',
                    })
            .buttons-demo__row
                +button({
                    text: 'перейти к оплате',
                    theme: 'default-long',
                    icon: 'arrow_forward',
                })
        