include ../block-head/block-head.pug
include ../button/button.pug

mixin buttons-demo(options = {})
    -
        const {
            head = { title: "buttons" },
            buttonDefault = "click me",
            buttonDefaultDisable = "click me",
            buttonLight = "click me",
            buttonLightDisable = "click me",
            buttonText = "click me",
            buttonTextDisable = "click me",
            buttonLong = "перейти к оплате",
        } = options;

    .buttons-demo
        if head !== null
            .buttons-demo__head
                +block-head(head)
        .buttons-demo__container
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: buttonDefault,
                    })
                .buttons-demo__button
                    +button({
                        text: buttonDefaultDisable,
                        disable: true,
                    })
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: buttonLight,
                        theme: "light",
                    })
                .buttons-demo__button
                    +button({
                        text: buttonLightDisable,
                        disable: true,
                        theme: "light",
                    })
            .buttons-demo__row
                .buttons-demo__button
                    +button({
                        text: buttonText,
                        theme: "text",
                    })
                .buttons-demo__button
                    +button({
                        text: buttonTextDisable,
                        theme: "text",
                        textColor: "text-secondary",
                    })
            .buttons-demo__row
                +button({
                    text: buttonLong,
                    theme: "default-long",
                    icon: "arrow_forward",
                })
        