include ../text/text.pug

mixin block-head(options = {})
    -
        const {
            title = "",
            titleOptions = {
                theme: "h3",   
            },
            help = "",
            helpOptions = {
                classes: [],
                theme: "h3",
                color: "text-secondary",
                fontWeight: "normal",
            }
        } = options;

        titleOptions.text = title;
        helpOptions.text = help;

    .block-head
        .block-head__title
            +text(titleOptions)
        .block-head__help
            +text(helpOptions)
