include /text/text.pug

mixin block-head(options = {})
    -
        const {
            title = "",
            help = "",
            titleTheme = "",
            helpTheme = "",
        } = options;

        const titleOpt = {
            text: title,
            theme: "h3",
        };

        if (titleTheme === "big") {
            titleOpt.theme = "h2";
            titleOpt.fontName = "montserrat";
        }

        const helpOpt = {
            text: help,
            theme: "h3",
            color: "text-secondary",
            fontWeight: "normal",
        };

        if (helpTheme === "main-text") {
            helpOpt.theme = "body";
            helpOpt.transform = "none";
        }

    .block-head
        if title !== ""
            .block-head__title
                +text(titleOpt)
        if help !== ""
            .block-head__help
                +text(helpOpt)
