include ../text/text.pug

mixin block-head(options={})
    -
        const {
           title = '',
           titleOptions = {
               theme: 'h3',
               uppercase: true,    
           },
           help = '',
           helpOptions = {
               classes: ['js-block-head__help'],
               theme: 'h3',
               color: 'dark-50',
               fweight: 'normal',
               ttransform: 'uppercase', 
           }
        } = options;

        titleOptions.text = title;
        helpOptions.text = help;

    .block-head
        .block-head__title
            +text(titleOptions)
        .block-head__help
            +text(helpOptions)
