include ../logo/logo.pug
include ../header/header.pug
include ../footer/footer.pug
include ../copyright-bar/copyright-bar.pug
include ../footer-creative/footer-creative.pug

mixin header-footer()
    article.header-footer
        -
            const menu = {
               items: [
                   {text: 'Home', theme: 'main'},
                   {text: 'About Us'},
                   {
                       text: 'Services',
                       expandable: true,
                       items: [
                           {text: 'example1'},
                           {text: 'example2'},
                           {text: 'example3'},
                       ],
                   },
                   {text: 'Careers'},
                   {text: 'News'},
                   {text: 'Documentation'}
               ]
            };

        .header-footer__header
            +header({
                menu,
                logo: {
                    href: '../landing-page/index.html'
                },
                btnLogin: {
                    href: '../sign-in/index.html',
                },
                btnRegister: {
                    href: '../registration/index.html',
                },
            })
        .header-footer__header
            +header({
                menu,
                logo: {
                    href: '../landing-page/index.html'
                },
                user: 'Cosmin Negoita',
            })
        .header-footer__footer
            +footer({
                siteDescription: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
                subscribe: {
                    title: 'Subscribe to our newsletter',
                    description: 'Receive our latest news and promotions in your inbox!',
                    placeholder: 'Your email address',
                    type: 'email',
                },
                navList: [
                    {
                        title: 'navigation',
                        items: [
                            {text: 'About Us', href: ''},
                            {text: 'News', href: ''},
                            {text: 'Support', href: ''},
                            {text: 'Products', href: ''},
                        ],
                    },
                    {
                        title: 'about us',
                        items: [
                            {text: 'Who we are', href: ''},
                            {text: 'Our team', href: ''},
                            {text: 'Careers', href: ''},
                            {text: 'Investors', href: ''},
                        ],
                    },
                    {
                        title: 'Support',
                        items: [
                            {text: 'Documentation', href: ''},
                            {text: 'Community', href: ''},
                            {text: 'Get in Touch', href: ''},
                        ],
                    },
                ],
            })
        .header-footer__copyright-bar
            +copyright-bar({
                text: 'Copyright © 2018 Toxin UI Kit. All rights reserved.',
                socialButtons: [
                    {text: 'twitter', href: 'https://twitter.com'},
                    {text: 'facebook-square', href: 'https://ru-ru.facebook.com'},
                    {text: 'instagram', href: 'https://www.instagram.com'},
                ],
            })
        .header-footer__footer
            +footer-creative({
                siteDescription: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
                socialButtons: [
                    {text: 'twitter', href: 'https://twitter.com'},
                    {text: 'facebook-square', href: 'https://ru-ru.facebook.com'},
                    {text: 'instagram', href: 'https://www.instagram.com'},
                ],
            })