include ../logo/logo.pug
include ../header/header.pug

mixin header-footer()
    .header-footer
        -const menu = {
        -   items: [
        -       {text: 'Home', theme: 'main'},
        -       {text: 'About Us'},
        -       {
        -           text: 'Services',
        -           expandable: true,
        -           items: [
        -               {text: 'example1'},
        -               {text: 'example2'},
        -               {text: 'example3'},
        -           ],
        -       },
        -       {text: 'Careers'},
        -       {text: 'News'},
        -       {text: 'Documentation'}
        -   ]
        -};

        .header-footer__header1
            +header({
                menu,
            })
        .header-footer__header2
            +header({
                menu,
                user: 'Cosmin Negoita',
            })
