@import './image-slider__container.scss';
@import './__image/image-slider__image.scss';
@import './__image/image-slider__image_selected.scss';
@import './image-slider__items.scss';
@import './__item/image-slider__item.scss';
@import './__item/image-slider__item_theme_selected.scss';
@import './__nav-button/image-slider__nav-button.scss';
@import './__nav-button/image-slider__nav-button_right.scss';
@import './__nav-button-icon/image-slider__nav-button-icon.scss';
@import './image-slider__image_index-item.scss';

.image-slider{
  width: 100%;
  max-height: 100%;

  &:hover {
    .image-slider__nav-button {
      display: flex;
    }
  }
}
