mixin image-slider(images = [])
    .image-slider.js-image-slider(data-selected-image=0)
        .image-slider__container
            -
                const imageConfigs = [];

                if (images.length) {
                    for (let i = 0; i < images.length; i += 1) {
                        const {
                            src = "",
                            alt = "Image description template.",
                        } = images[i];

                        imageConfigs.push({
                            src,
                            alt,
                            classes: ["image-slider__image js-image-slider__image"],
                        });
                    }

                    imageConfigs[0].classes.push("image-slider__image_selected");
                }


            for imageConfig in imageConfigs
                -
                    const {
                        classes,
                        src,
                        alt,
                    } = imageConfig;

                    const classesStr = classes.join(" ");

                img(src=src, alt=alt, class=classesStr)
                

            .image-slider__image_index-item.js-image-slider__image_index-item 0

            .image-slider__indicators
                -
                    const indicatorsClasses = [];

                    if (images.length) {
                        for (let i = 0; i < images.length; i += 1) {
                            indicatorsClasses.push([
                                "image-slider__indicator js-image-slider__indicator",
                            ]);
                        }
                        indicatorsClasses[0].push("image-slider__indicator_theme_selected");
                    }                    
                    

                for indicatorClasses in indicatorsClasses
                    -const indicatorClassesStr = indicatorClasses.join(" ");
                    div(class=indicatorClassesStr)

            .image-slider__nav-button.js-image-slider__nav-button.js-image-slider__nav-button-prev
                .image-slider__nav-button-icon expand_more
            
            .image-slider__nav-button.image-slider__nav-button_right.js-image-slider__nav-button.js-image-slider__nav-button-next
                .image-slider__nav-button-icon expand_more
