@import './color-demo__color-block.scss';
@import './color-demo__color-description.scss';

.color-demo {
  @include reset-css;
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
