include ../text/text.pug

mixin color-demo(options={})
    -const {
    -   color = '', 
    -   name = '',
    -   bgColor = '',
    -} = options;

    .color-demo
        .color-demo__color-block(style=`background-color: ${bgColor};`)
        .color-demo__color-description
            .color-demo__color-name
                +text({
                    value: name,
                    theme: 'h2',
                    lheight: 'bg',
                })
            .color-demo__color-value
                +text({
                    value: color,
                    theme: 'h2',
                    fweight: 'normal',
                    lheight: 'bg',
                })
