mixin toggle-button({ text, checked })
    label.toggle-button
        input.toggle-button__input(type="checkbox", checked=checked)
        .toggle-button__new-input
        p.toggle-button__text #{text}
