.dropdown-guest {
  width: 320px;
  max-width: 100%;

  &__counter {
    padding: 0.5rem 0.5rem 0rem 1.0714rem;
  }

  &__controls {
    @include reset-css;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 1.3571rem 0.5rem 0.9286rem 1.0714rem;
  }
}
