include ../dropdown/dropdown.pug
include ../dropdown-counter/dropdown-counter.pug
include ../button/button.pug

mixin dropdown-guest(options={})
    -const {
    -   title = 'Гости',
    -   text = 'Сколько гостей',
    -} = options;

    +dropdown({
        title,
        text,
        classes: [
            'js-dropdown-guest',
        ],
    })
        .dropdown-guest__counter
            +dropdown-counter({
                text: 'взрослые',
            })
        .dropdown-guest__counter
            +dropdown-counter({
                text: 'дети',
            })
        .dropdown-guest__counter
            +dropdown-counter({
                text: 'младенцы',
            })
        .dropdown-guest__btn-container
            .dropdown-guest__btn-clear
                +button({
                    classes: [
                        'js-dropdown-guest__btn-clear'
                    ],
                    text: 'очистить',
                    theme: 'text',
                    textColor: 'dark-50',
                    hidden: true,
                })
            .dropdown-guest__btn-apply
                +button({
                    classes: [
                        'js-dropdown-guest__btn-apply'
                    ],
                    text: 'применить',
                    theme: 'text',
                })
