include ../dropdown/dropdown.pug
include ../dropdown-counter/dropdown-counter.pug
include ../button/button.pug

mixin dropdown-guest(options = {})
    -
        const {
            head,
        } = options;

    +dropdown({
        head,
        text: 'Сколько гостей',
        classes: [
            'js-dropdown-guest',
        ],
    })
        .dropdown-guest__counter
            +dropdown-counter('взрослые')
        .dropdown-guest__counter
            +dropdown-counter('дети')
        .dropdown-guest__counter
            +dropdown-counter('младенцы')
        .dropdown-guest__btn-container
            .dropdown-guest__btn-clear
                +button({
                    classes: [
                        'js-dropdown-guest__btn-clear'
                    ],
                    text: 'очистить',
                    theme: 'text',
                    textColor: 'text-secondary',
                    hidden: true,
                })
            .dropdown-guest__btn-apply
                +button({
                    classes: [
                        'js-dropdown-guest__btn-apply'
                    ],
                    text: 'применить',
                    theme: 'text',
                })
