include /dropdown/dropdown.pug
include /button/button.pug

mixin dropdown-guest(options = {})
    -
        const {
            head = { title: "гости" },
            text = "Сколько гостей",
            variations = {
                adults:  [
                    "гость",
                    "гостя",
                    "гостей",
                ],
                babies: [
                    "младенец",
                    "младенца",
                    "младенцев",
                ],
            },
            counters = [
                {
                    label: "взрослые",
                    group: "adults",
                },
                {
                    label: "дети",
                    group: "adults",
                },
                {
                    label: "младенцы",
                    group: "babies",
                },
            ],
            btnClear = "очистить",
            btnApply = "применить",
        } = options;

        const variationsStr = JSON.stringify(variations);

    +dropdown({
        head,
        text,
        variations,
        classes: [
            "dropdown_content_guest",
            "js-dropdown_content_guest",
        ],
    })
        for counter in counters
            .dropdown-guest__counter
                +dropdown-counter(counter)
        .dropdown-guest__controls
            .dropdown-guest__btn-clear
                +button({
                    classes: [
                        "button_action_clear",
                        "js-button_action_clear",
                    ],
                    text: btnClear,
                    theme: "text",
                    textColor: "text-secondary",
                    hidden: true,
                })
            .dropdown-guest__btn-apply
                +button({
                    classes: [
                        "button_action_apply",
                        "js-button_action_apply",
                    ],
                    text: btnApply,
                    theme: "text",
                })
