.text-demo__item {
    @include flex-row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.text-demo__item:not(:last-child) {
    margin-bottom: 50px;
}

.text-demo__item:last-child {
    margin-top: -3px;
}

@import './text-demo__item-title.scss';
@import './text-demo__item-text.scss';