include ./logo/logo.pug
include ./colors-and-type/colors-and-type.pug
include ./form-elements/form-elements.pug
include ./cards/cards.pug
include ./colors-demo/colors-demo.pug
include ./text-demo/text-demo.pug
include ./form-pick-number/form-pick-number.pug
include ./form-create-account/form-create-account.pug
include ./room-reservation-form/room-reservation-form.pug

