.card-room-information__rating-comments {
  padding: 0.5714rem 0.2143rem 0rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
}
