.like-button__counter {
  width: 0.8571rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7143rem;
  line-height: 1.2143rem;
  text-align: center;
  color: $color-dark-25;
  user-select: none;
}
