@import './like-button__icon.scss';
@import './like-button__counter.scss';

.like-button {
  @include reset-css;
  @include no-select;
  width: 2.8571rem;
  height: 1.4286rem;
  background: white;
  border: 0.0714rem solid $color-dark-25;
  box-sizing: border-box;
  border-radius: 0.7143rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

@import './like-button_selected.scss';
