.like-button_selected {
  border-color: $color-purple;

  .like-button__icon {
    background: $color-purple;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .like-button__counter {
    color: $color-purple;
  }

  &:hover {
    box-shadow: 0px 0px 10px $color-purple;
  }
}
