mixin like-button({ likes = 0, checked = false })
    -
        const classes = [
            "like-button",
            "js-like-button",
        ];

        if (checked) classes.push("like-button_checked");
        const icon = checked ? "favorite" : "favorite_border";

    div(class=classes)
        .like-button__icon.js-like-button__icon #{icon}
        .like-button__counter.js-like-button__counter #{likes}
