.form-pick-number {
    @include form;
    width: 380px;
    height: 374px;
    max-height: 374px;
}

@import './form-pick-number__title.scss';
@import './form-pick-number__date-range.scss';
@import './form-pick-number__dropdown-guests.scss';