mixin checkbox-list(params={})
    .checkbox-list(class=params.classes)
        +block-head({
            title: params.title,
            help: params.help,
            classes: 'checkbox-list__block-head'
        })
        .checkbox-list__container
            +checkbox-list-items(params.items, 'checkbox-list__checkbox')