include /text/text.pug

mixin demo-color-item(options = [])
    -
        const [
            colorName,
            colorValue,
            squareBgColor,
        ] = options;

    .demo-color-item
        .demo-color-item__color-square(style=`background-color: ${squareBgColor};`)
        .demo-color-item__description
            .demo-color-item__color-name
                +text({
                    text: colorName,
                    theme: "h2",
                    lineHeight: "big",
                })
            .demo-color-item__color-value
                +text({
                    text: colorValue,
                    theme: "h2",
                    fontWeight: "normal",
                    lineHeight: "big",
                })
