mixin demo-color-item(options = [])
    -
        const [
            colorName,
            colorValue,
            squareBgColor,
        ] = options;

    .demo-color-item
        .demo-color-item__color-square(style=`background-color: ${squareBgColor};`)
        .demo-color-item__description
            p.demo-color-item__color-name #{colorName}
            p.demo-color-item__color-value #{colorValue}
