mixin colors-and-type(params={})
    .colors-and-type(class=params.classes)
        .container-content.container-content_horizontal.container-content_content_sp-bt
            +colors-demo()
            +text-demo()