include /block-head/block-head.pug
include /button/button.pug

mixin demo-buttons(options = {})
    -
        const {
            head = { title: "buttons" },
            buttonDefault = "click me",
            buttonDefaultDisabled = "click me",
            buttonLight = "click me",
            buttonLightDisabled = "click me",
            buttonText = "click me",
            buttonTextDisabled = "click me",
            buttonLong = "перейти к оплате",
        } = options;

    .demo-buttons
        if head !== null
            .demo-buttons__head
                +block-head(head)
        .demo-buttons__container
            .demo-buttons__row
                .demo-buttons__button
                    +button({ text: buttonDefault })
                .demo-buttons__button
                    +button({
                        text: buttonDefaultDisabled,
                        disabled: true,
                    })
            .demo-buttons__row
                .demo-buttons__button
                    +button({
                        text: buttonLight,
                        theme: "light",
                    })
                .demo-buttons__button
                    +button({
                        text: buttonLightDisabled,
                        disabled: true,
                        theme: "light",
                    })
            .demo-buttons__row
                .demo-buttons__button
                    +button({
                        text: buttonText,
                        theme: "text",
                    })
                .demo-buttons__button
                    +button({
                        text: buttonTextDisabled,
                        theme: "text",
                        textColor: "text-secondary",
                    })
            .demo-buttons__row
                +button({
                    text: buttonLong,
                    theme: "default-long",
                    icon: "arrow_forward",
                    href: "/mock-address/change-me",
                })
        