.expandable-checkbox-list {
  width: 100%;
  max-width: 266px;

  &_expanded {

    .expandable-checkbox-list__body {
      display: block;
    }
  
    .expandable-checkbox-list__button {
      transform: rotate(180deg);
    }
  }

  &__head {
    height: $very-big-size;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__label {
    @include text-h3;
    margin: 0;
  }

  &__button {
    width: $very-big-size;
    height: $very-big-size;
    min-width: $very-big-size;
  }
  
  &__body {
    display: none;
  }
  
  &__checkbox {

    &:not(:last-child) {
      margin-bottom: $tiny-size;
    }
  }
}
