.expandable-checkbox-list {
  width: 266px;

  &_expanded &__body {
    display: block;
  }
  
  &_expanded &__button {
    transform: rotate(180deg);
  }

  &__head {
    margin-bottom: 3px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__label {
    @include text-h3;
  }

  &__button {
    min-width: 44px;
    max-height: 24px;
  }
  
  &__body {
    display: none;
  }
  
  &__checkbox:not(:last-child) {
    margin-bottom: $tiny-size;
  }
}
