.button__icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.1429rem;
  height: 100%;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.7143rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  text-transform: none;
}
