.button {
  @include reset-css;
  @include no-select;
  height: 100%;
  max-height: 44px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;

  &::after {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

@import './_theme/button_theme_default.scss';
@import './_theme/button_theme_round-little.scss';
@import './_theme/button_theme_text.scss';
@import './_theme/button_theme_light.scss';
@import './_theme/button_theme_default-long.scss';
@import './_theme/button_theme_round.scss';
@import './_theme/button_theme_round-icon.scss';
@import './_theme/button_theme_square.scss';
@import './_theme/button_theme_icon.scss';

@import './button_disable.scss';
@import './button_hidden.scss';

@import './button_text-color_dark-50.scss';
@import './button_background_gradient-green.scss';

@import './button__icon.scss';
@import './button_size_sm.scss';
