mixin header-footer(params={})
    .header-footer(class=params.classes)
        +header({
            classes: 'header-footer__header1'
        })
        +header({
            user: 'Cosmin Negoita'
        })
            