include ../../text/text.pug

mixin bullet-list__item(text = "")
    li.bullet-list__item
        .bullet-list__item-maker-container
            .bullet-list__item-marker
        .bullet-list__item-text
            +text({
                text,
            })

