.card-book-room {
  &__head {
    margin-bottom: 1.4286rem;
    width: 100%;
  }

  &__date-range {
    margin-bottom: 1.5714rem;
    width: 100%;
  }

  &__dropdown-guest {
    margin-bottom: 1.5714rem;
    width: 100%;
  }
  
  &__receipt {
    margin-bottom: 1.3571rem;
    width: 100%;
  }

  &__booking-button {
    width: 100%;
  }
}
