include ../card-container/card-container.pug
include ../room-head/room-head.pug
include ../date-range/date-range.pug
include ../receipt/receipt.pug
include ../button/button.pug
include ../dropdown-guest/dropdown-guest.pug

mixin card-book-room(options = {})
    .card-book-room
        +card-container()
            .card-book-room__head
                +room-head(options)
            .card-book-room__date-range
                +date-range({
                    headDropdownLeft: {
                        title: 'прибытие',
                    },
                    headDropdownRight: {
                        title: 'выезд',
                    },
                    textDropdownLeft: 'ДД.ММ.ГГГГ',
                    textDropdownRight: 'ДД.ММ.ГГГГ',
                })
            .card-book-room__dropdown-guest
                +dropdown-guest({
                    head: {
                        title: 'гости',
                    },
                })
            .card-book-room__receipt
                -const { receipt = {} } = options;
                +receipt(receipt)
            .card-book-room__booking-button
                +button({
                    text: 'забронировать',
                    theme: 'default-long',
                    icon: 'arrow_forward',
                })
