.receipt {

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  &__text-container {
    width: 100%;
    max-width: 215px;
    margin-right: 5px;
  }

  &__item-title {
    @include text-body;
    color: $text-primary;
    line-height: 18px;
  }

  &__icon {
    @include reset-css;

    @include no-select;
    width: $middle-first-size;
    min-width: $middle-first-size;
    height: $middle-first-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light-title;
    color: $light-title;
    cursor: pointer;
  }

  &__price {
    @include text-body;
    margin-left: 10px;
    flex: auto;
    color: $text-primary;
    line-height: 18px;
    text-align: right;
    white-space: nowrap;
  }

  &__total-sum {
    @include text-h2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    font-family: Montserrat, Arial, sans-serif;
    white-space: nowrap;
  
    &:not(:only-child) {
      margin-top: 31px;
    }
  }

  &__separate-line {
    @include reset-css;
    width: 100%;
    margin: 0 5px;
    height: 1px;
    border-bottom: 1px dotted $light-title;
  }

  &__total-sum-title,
  &__total-sum-result {
    margin: 0;
  }
}
