.button_theme_default-light {
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    border-radius: 22px;
    border: 2px solid $color-purple;
    color: $color-purple;
    padding: 12px 20px;
    text-transform: uppercase;
}