.button_theme_text_dark {
    color: $color-dark-50;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 0;
}