.button {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 14px 20px 15px 20px;
    color: $color-dark-75;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

@import './button_theme_form-element.scss';
@import './button_theme_default.scss';
@import './button_disable.scss';
@import './button_theme_default_light.scss';
@import './button_theme_text.scss';
@import './button_theme_text_dark.scss';
@import './button_theme_round.scss';
@import './button_theme_form-element-text.scss';
@import './button_theme_round-green.scss';