.hotel-rooms {
  @include reset-css;
  width: 100%;

  &__title {
    margin-bottom: 0.1429rem;
  }

  &__body {
    @include reset-css;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__room-information {
    margin-top: 1.2857rem;
  }
  
  &__pagination {
    margin-top: 2.8571rem;
    padding-right: 1.1429rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }  
}
