include /text/text.pug

mixin room-head(options = {})
    -
        const {
            roomNumber = 0,
            roomNumberSize = "h1",
            roomNumberHref = "./room-details.html",
            roomPrice = "0",
            pricePeriod = "в сутки",
            luxury = false,
            luxuryText = "люкс",
        } = options;

        const roomPriceRes = `${roomPrice}₽`;

    .room-head
        a.room-head__room-number(href=roomNumberHref, tabindex="-1")
            +text({
                text: "№ ",
                fontWeight: "bold",
                color: "text-title",
                whiteSpace: "pre",
            })
            +text({
                text: roomNumber,
                theme: roomNumberSize,
            })
            if luxury
                .room-head__luxury
                    +text({
                        text: luxuryText,
                        theme: "h3",
                        color: "primary",
                    })
        .room-head__room-price
            .room-head__price-number
                +text({
                    text: roomPriceRes,
                    fontWeight: "bold",
                    color: "text-secondary",
                })
            +text({
                size: "small",
                text: pricePeriod,
                whiteSpace: "pre",
                color: "text-secondary",
            })
