include ../text/text.pug

mixin room-head(options = {})
    -
        const {
            roomNumber = 0,
            roomNumberSize = 'h1',
            roomPrice = '0',
            luxury = false,
        } = options;

        const roomPriceRes = `${roomPrice}₽`;

    .room-head
        a.room-head__room-number(href='../room-details/index.html', tabindex='-1')
            +text({
                text: '№ ',
                fontWeight: 'bold',
                color: 'text-title',
                whiteSpace: 'pre',
            })
            +text({
                text: roomNumber,
                theme: roomNumberSize,
            })
            if luxury
                .room-head__luxury
                    +text({
                        text: 'люкс',
                        theme: 'h3',
                        color: 'primary',
                    })
        .room-head__room-price
            .room-head__price-number
                +text({
                    text: roomPriceRes,
                    fontWeight: 'bold',
                    color: 'text-secondary',
                })
            +text({
                size: 'small',
                text: 'в сутки',
                whiteSpace: 'pre',
                color: 'text-secondary',
            })
