.room-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;

  &__luxury {
    margin-left: 0.3571rem;
  }

  &__price-number {
    margin-right: 0.2857rem;
  }

  &__room-number {
    @include reset-link;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    cursor: pointer;
  
    &:hover,
    &:active {
      text-decoration: underline $light-title;
    }
  }

  &__room-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
