.room-head__room-number {
  @include reset-link;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: underline $color-dark-25;
  }
}
