.checkbox-list-expend__title {
    display: block;
    float: left;
    padding: 14px 0px 15px 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-100;
}