include ../text/text.pug
include ../block-head/block-head.pug

mixin range-slider(options={})
    -const {
    -   step = 1,    
    -   min = 0,
    -   max = step * 100,
    -   title = '',
    -   bottomText = '',
    -} = options;

    .range-slider(data-min=min, data-max=max, data-step=step)
        .range-slider__head
            +block-head({
                title,
                help: value,
            })
        .range-slider__slider
            .range-slider__line
                .range-slider__point-left
                .range-slider__point-right
            .range-slider__move-container
        if bottomText !== ''
            .range-slider__bottom-text
                +text({
                    text: bottomText,
                })
