.form-elements {
  width: 100%;
  background-color: #fff;
  justify-content: space-around;
  display: flex;

  &__container-content {
    @include reset-css;

    @include container-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 63px 16px 145px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tablets) {
      padding: 4.7857rem 0rem 0rem 0rem;
    }

    @media (max-width: $breakpoint-cell-phones) {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
    &:not(:last-child) {
      margin-bottom: 7.1429rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: $tiny-size;
    }

    @media (max-width: $breakpoint-cell-phones) {
      width: 100%;
      margin-right: 0rem;
    }
  }

  // row 1 column 1
  &__text-field-focused {
    margin-top: 20px;
    width: 320px;
    max-width: 100%;
  }

  &__dropdown-guests {
    margin-top: 20px;
    width: 320px;
    max-width: 100%;
  }

  &__masked-text-field {
    margin-top: 25px;
    width: 320px;
    max-width: 100%;
  }

  &__date-range {
    margin-top: 42px;
    width: 320px;
    max-width: 100%;
  }

  &__filter-date-dropdown {
    margin-top: 41px;
    width: 266px;
  }

  &__subscription-text-field {
    margin-top: 42px;
    width: 266px;
  }

  // row 1 column 2
  &__radio-buttons {
    margin-top: 41px;

    &-head {
      margin-bottom: 1.1429rem;
    }
  
    &-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__radio-button:not(:last-child) {
    margin-right: $middle-first-size;
  }

  &__toggle-buttons {
    margin-top: 42px;
  }

  &__toggle-buttons-head {
    margin-bottom: .9286rem;
  }

  &__toggle-button:not(:last-child) {
    margin-bottom: $tiny-size;
  }

  &__like-buttons {
    margin-top: 45px;

    &-head {
      margin-bottom: $standard-size;
    }
  
    &-container {
      display: flex;
      flex-direction: row;
    }
  }

  &__like-button {

    &:not(:last-child) {
      margin-right: $tiny-size;
    }
  }

  &__rating-buttons {
    margin-top: 41px;

    &-head {
      margin-bottom: $standard-size;
    }
  
    &-container {
      display: flex;
      flex-direction: row;
    }
  }

  &__rating:not(:last-child) {
    margin-right: $middle-first-size;
  }

  // row 1 column 3
  &__range-slider {
    max-width: 266px;
  }

  &__demo-buttons {
    margin-top: 45px;
    width: 320px;
    max-width: 100%;

    &-head {
      margin-bottom: 15px;
    }
  
    &-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
    }
  }

  &__demo-button:not(:last-child) {
    margin-right: 21px;
  }

  &__pagination {
    margin-top: 11px;
  }

  // row 2 column 1
  &__room-amenities {
    width: 266px;
  }

  &__expandable-checkbox-list {
    margin-top: 40px;
  }

  // row 3 column 2
  &__comment {
    max-width: 65%;
  }
}
