extends /../template/page.pug

include /form-elements/form-elements.pug

block pageHead
  title Элементы форм
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Basic site blocks")

block content
  +form-elements()
