extends /../template/page.pug

include /simple-header/simple-header.pug
include /text-field/text-field.pug
include /button/button.pug
include /dropdown/dropdown.pug
include /filter-date-dropdown/filter-date-dropdown.pug
include /date-range/date-range.pug
include /checkbox-list/checkbox-list.pug
include /rating/rating.pug
include /toggle-button/toggle-button.pug
include /like-button/like-button.pug
include /radio-button/radio-button.pug
include /range-slider/range-slider.pug
include /pagination/pagination.pug
include /expandable-checkbox-list/expandable-checkbox-list.pug
include /bullet-list/bullet-list.pug
include /room-advantages/room-advantages.pug
include /comment/comment.pug

block pageHead
  title Элементы форм
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Basic site blocks")

block content
  +simple-header()
  main.form-elements
    .form-elements__container-content
      .form-elements__row
        .form-elements__column
          .form-elements__text-field
            +text-field({
              title: "text field",
              placeholder: "Email",
              type: "email",
              name: "email",
            })
          .form-elements__dropdown-guests
            +dropdown({
              title: "dropdown",
              placeholder: "Сколько гостей",
              name: "guests",
              variations: {
                adults:  ["гость", "гостя", "гостей"],
                babies: ["младенец", "младенца", "младенцев"],
              },
              counters: [
                { text: "взрослые", group: "adults", value: 0 },
                { text: "дети", group: "adults", value: 0 },
                { text: "младенцы", group: "babies", value: 0 },
              ],
              withControls: true,
            })
          .form-elements__masked-text-field
            +text-field({
              title: "masked text field",
              placeholder: "ДД.ММ.ГГГГ",
              mask: "00.00.0000",
              name: "date-of-birth",
            })
          .form-elements__date-range
            +date-range({
              dropdownEntranceTitle: "date dropdown",
              dropdownDepartureTitle: "date dropdown",
            })
          .form-elements__filter-date-dropdown
            +filter-date-dropdown({ title: "filter date dropdown" })
          .form-elements__subscription-text-field
            +text-field({
              title: "subscription text field",
              placeholder: "Email",
              withArrow: true,
              type: "email",
              name: "subscribe",
            })
        .form-elements__column
          .form-elements__checkbox-list
            +checkbox-list({
              title: "checkbox buttons",
              items: [
                { text: "Можно курить", name: "smoking" },
                { text: "Можно с питомцами", name: "pets", checked: true },
                { text: "Можно пригласить гостей (до 10 человек)", name: "guests", checked: true },
              ]
            })
          .form-elements__radio-buttons
            h3.form-elements__radio-buttons-head radio buttons
            .form-elements__radio-buttons-container
              .form-elements__radio-button
                +radio-button({ text: "Мужчина", group: "gender", checked: true })
              .form-elements__radio-button
                +radio-button({ text: "Женщина", group: "gender" })
          .form-elements__toggle-buttons
            h3.form-elements__toggle-buttons-head toggle
            .form-elements__toggle-buttons-container
              .form-elements__toggle-button
                +toggle-button({ text: "Получать спецпредложения", checked: true, name: "special-offers1" })
              .form-elements__toggle-button
                +toggle-button({ text: "Получать спецпредложения", name: "special-offers2" })
          .form-elements__like-buttons
            h3.form-elements__like-buttons-head like button
            .form-elements__like-buttons-container
              .form-elements__like-button
                +like-button({ likes: 2 })
              .form-elements__like-button
                +like-button({ likes: 12, checked: true })
          .form-elements__rating-buttons
            h3.form-elements__rating-buttons-head rate button
            .form-elements__rating-buttons-container
              .form-elements__rating
                +rating(4)
              .form-elements__rating
                +rating(5)
        .form-elements__column
          .form-elements__range-slider
            +range-slider({
              range: [0, 16000],
              start: [5000, 10000],
              step: 1000,
              title: "range slider",
            })
          .form-elements__demo-buttons
            h3.form-elements__demo-buttons-head buttons
            .form-elements__demo-buttons-container
              .form-elements__demo-buttons-row
                .form-elements__demo-button
                  +button({ text: "click me" })
                .form-elements__demo-button
                  +button({ text: "click me", theme: "light" })
              .form-elements__demo-buttons-row
                .form-elements__demo-button
                  +button({ text: "click me", theme: "textual" })
              .form-elements__demo-buttons-row
                +button({
                  text: "перейти к оплате",
                  isLong: true,
                  withArrow: true,
                  href: "/mock-address/change-me",
                })
          .form-elements__pagination
            +pagination({
              head: "pagination",
              bottomText: "1 – 12 из 100+ вариантов аренды",
            })
      .form-elements__row
        .form-elements__column         
          .form-elements__room-amenities
            +dropdown({
              title: "dropdown",
              placeholder: "Удобства номера",
              name: "room-amenities",
              variations: {
                bedrooms: ["спальня", "спальни", "спален"],
                beds: ["кровать","кровати","кроватей"],
                bathrooms: ["ванная комната","ванные комнаты","ванныx комнат"],
              },
              counters: [
                { text: "спальни", group: "bedrooms" },
                { text: "кровати", group: "beds" },
                { text: "ванные комнаты", group: "bathrooms" },
              ],
            })
          .form-elements__expandable-checkbox-list
            +expandable-checkbox-list({
              label: "expandable checkbox list",
              items: [
                { text: "Завтрак", name: "breakfast" },
                { text: "Письменный стол", name: "desk" },
                { text: "Стул для кормления", name: "feeding-chair" },
                { text: "Кроватка", name: "crib" },
                { text: "Телевизор", name: "tv" },
                { text: "Шампунь", name: "shampoo" },
              ],
            })
        .form-elements__column
          .form-elements__item
            +checkbox-list({
              title: "rich checkbox buttons",
              withRichButtons: true,
              items: [
                {
                  text: "Широкий коридор",
                  description: "Ширина коридоров в номере не менее 91 см.",
                  name: "wide-corridor",
                },
                {
                  text: "Помощник для инвалидов",
                  description: "На 1 этаже вас встретит специалист  и проводит до номера.",
                  name: "disabled-assistant",
                },
              ],
            })                        
        .form-elements__column
          +bullet-list({
            title: "bullet list",
            items: [
              "Нельзя с питомцами",
              "Без вечеринок и мероприятий",
              "Время прибытия — после 13:00, а выезд до 12:00",
            ],
          })
      .form-elements__row
        .form-elements__column
          +room-advantages({
            items: [
              {
                title: "Комфорт",
                description: "Шумопоглощающие стены",
                icon: "insert_emoticon",
              },
              {
                title: "Удобство",
                description: "Окно в каждой из спален",
                icon: "location_city",
              },
            ],
          })
        .form-elements__column.form-elements__comment
          -const avatar = require("../../components/comment/images/user1.jpg").default;
          +comment({
            avatar,
            userName: "Мурад Сарафанов",
            publicationDate: "5 дней назад",
            likes: 12,
            text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
          })
