mixin input-radio({ group = false, checked = false })
    label.input-radio
        input.input-radio__input(type="radio", name=group, checked=checked)
        .input-radio__new-input
            .input-radio__input-indicator
