$size: 20px;

.input-radio__new-input {
    @include reset-css;
    display: flex;
    width: $size;
    height: $size;
    background: #fff;
    border: 1px solid $color-dark-25;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.input-radio__input:checked + .input-radio__new-input {
    border-color: $color-purple;
}

.input-radio__input:checked + .input-radio__new-input > .input-radio__input-indicator {
    display: block;
}