mixin input-radio(group = "", checked = false)
    label.input-radio
        input.input-radio__input(type="radio", name=group, checked=checked)
        .input-radio__new-input
            .input-radio__input-indicator