.input-radio {
  display: block;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .input-radio__new-input {
      border-color: $primary;
    }

    &:checked + .input-radio__new-input > .input-radio__input-indicator {
      display: block;
    }

    &:hover + .input-radio__new-input {
      box-shadow: 0px 0px 10px $primary;
    }

    &:active + .input-radio__new-input {
      box-shadow: 0px 0px 5px $text-secondary;
    }

    &:focus + .input-radio__new-input {
      border-color: $text-secondary;
    }
  }

  &__new-input {
    @include reset-css;
    display: flex;
    width: 1.4286rem;
    height: 1.4286rem;
    background: #fff;
    border: 0.0714rem solid $light-title;
    border-radius: 0.7143rem;
    align-items: center;
    justify-content: center;
  }

  &__input-indicator {
    display: none;
    width: 0.8571rem;
    height: 0.8571rem;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 0.7143rem;
  }
}
