.input-radio {
  display: block;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .input-radio__new-input {
      border-color: $bg-primary;

      &:after {
        content: '';
        display: block;
        width: $small-size;
        height: $small-size;
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: $tiny-size;
      }
    }

    &:active + .input-radio__new-input {
      box-shadow: 0px 0px 5px $text-secondary;
    }

    &:focus + .input-radio__new-input {
      border-color: $text-secondary;
    }
  }

  &__new-input {
    @include reset-css;
    display: flex;
    width: $middle-first-size;
    height: $middle-first-size;
    background: #fff;
    border: 0.0714rem solid $light-title;
    border-radius: $tiny-size;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow: 0px 0px 10px $bg-primary;
    }
  }
}
