$size: 1.4286rem;

.input-radio__new-input {
  @include reset-css;
  display: flex;
  width: $size;
  height: $size;
  background: #fff;
  border: 0.0714rem solid $color-dark-25;
  border-radius: 0.7143rem;
  align-items: center;
  justify-content: center;
}

.input-radio__input:checked + .input-radio__new-input {
  border-color: $color-purple;
}

.input-radio__input:checked
  + .input-radio__new-input
  > .input-radio__input-indicator {
  display: block;
}

.input-radio__input:hover + .input-radio__new-input {
  box-shadow: 0px 0px 10px $color-purple;
}

.input-radio__input:active + .input-radio__new-input {
  box-shadow: 0px 0px 5px $color-dark-50;
}

.input-radio__input:focus + .input-radio__new-input {
  border-color: $color-dark-50;
}
