.toggle-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;

  &__text {
    @include text-body;
    margin-left: $tiny-size;
    user-select: none;
  }
}
