@import './comment__avatar-likes.scss';
@import './comment__avatar.scss';
@import './comment__avatar-image.scss';
@import './comment__like-button.scss';
@import './comment__head-body.scss';
@import './comment__head.scss';

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 300px;
}
