include ../text/text.pug
include ../like-button/like-button.pug

mixin comment(options = {})
    -
        const {
            avatar = "",
            userName = "",
            publicationDate = "",
            likes = 0,
            text = "",
            likeBtnChecked = false,
        } = options;
    
    .comment
        .comment__aside
            .comment__avatar-container
                img.comment__avatar-image(src=avatar, alt="")
            .comment__like-button
                +like-button({
                    likes,
                    checked: likeBtnChecked,
                })
        .comment__head-body
            .comment__head
                .comment__user-name
                    +text({
                        text: userName,
                        fontWeight: "bold",
                    })
                .comment__publication-date
                    +text({
                        text: publicationDate,
                    })
            .comment__body
                +text({
                    text,
                })
