.room-reservation-form {
    @include form;
    width: 380px;
    height: 511px;
    max-height: 511px;
}

@import './room-reservation-form__head.scss';
@import './room-reservation-form__date-range.scss';
@import './room-reservation-form__guest.scss';
@import './__service-cost/room-reservation__service-cost.scss';
@import './room-reservation-form__total-cost.scss';
@import './room-reservation-form__total-cost-line.scss';
@import './room-reservation__service-cost_additional-services.scss';