include ../text/text.pug

mixin text-demo-item(options={})
    -const {
    -   name = {},
    -   value = {},
    -} = options; 

    .text-demo-item
        .text-demo-item__name
            +text(name)
        .text-demo-item__value
            +text(value)
