$text-title: #1F2041;
$text-primary: #1f2041bf;
$text-secondary: #1f204180;
$light-title: #1f204140;
$dim-border: #1f20411a;
$dim-shadow: #1f20410d;
$primary: #bc9cff;
$bg-good: #6fcf97;
$bg-gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$bg-gradient-success: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$bg-gradient-good: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$bg-gradient-bad: linear-gradient(180deg, #919191 0%, #3D4975 100%);
