// breakpoints
$breakpoint-old-displays: 1200px; // Устаревшие мониторы
$breakpoint-laptops: 1024px; // Устаревшие мониторы
$breakpoint-tablets: 992px; // Планшеты
$breakpoint-cell-phones: 768px; // Мобильные телефоны

// colors
$text-title: #1F2041;
$text-primary: #1f2041bf;
$text-secondary: #1f204180;
$light-title: #1f204140;
$dim-border: #1f20411a;
$dim-shadow: #1f20410d;
$bg-primary: #bc9cff;
$bg-secondary: #6fcf97;
$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$gradient-warn: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gradient-dark: linear-gradient(180deg, #919191 0%, #3D4975 100%);

// sizes
$very-big-size: 3.1429rem;
$big-size: 1.7143rem;
$middle-third-size: 1.6429rem;
$middle-second-size: 1.5714rem;
$middle-first-size: 1.4286rem;
$standard-size: 1.0714rem;
$small-size: .8571rem;
$tiny-size: .7143rem;
$micro-size: .1429rem;
