// breakpoints
$breakpoint-old-displays: 1200px; // Устаревшие мониторы
$breakpoint-laptops: 1024px; // Устаревшие мониторы
$breakpoint-tablets: 992px; // Планшеты
$breakpoint-cell-phones: 768px; // Мобильные телефоны

// colors
$text-title: rgb(31, 32, 65);
$text-primary: rgba(31, 32, 65, .75);
$text-secondary: rgba(31, 32, 65, .50);
$light-title: rgba(31, 32, 65, .25);
$dim-border: rgba(31, 32, 65, .10);
$dim-shadow: rgba(31, 32, 65, .05);
$bg-primary: #bc9cff;
$bg-secondary: #6fcf97;
$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$gradient-warn: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
$gradient-dark: linear-gradient(180deg, #919191 0%, #3D4975 100%);

// sizes
$very-big-size: 44px;
$big-size: 24px;
$middle-third-size: 23px;
$middle-second-size: 22px;
$middle-first-size: 20px;
$standard-size: 15px;
$small-size: 12px;
$tiny-size: 10px;
$micro-size: 2px;
