@mixin flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

@mixin flex-row {
    @include flex;
    flex-direction: row;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}

@mixin reset-css {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}