@mixin reset-css {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@mixin reset-link {
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:visited {
    text-decoration: none;
  }
}

@mixin no-select {
  user-select: none;
}

@mixin inner-float {
  &::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin text-title {
  font-family: Quicksand, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: $text-title;
}

@mixin text-h1 {
  @include text-title;
  font-size: 1.7143rem;
  line-height: 2.1429rem;
}

@mixin text-h2 {
  @include text-title;
  font-size: 1.3571rem;
  line-height: 1.7143rem;
}

@mixin text-h3 {
  @include text-title;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  text-transform: uppercase;
}

@mixin text-body {
  font-family: Montserrat, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7143rem;
  color: $text-primary;
  font-style: normal;
}
