@mixin reset-css {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@mixin no-select {
  user-select: none;
}

@mixin inner-float {
  &::after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}
