extends ../../template/landing.pug

include ../../desktop.blocks/card-account-registration/card-account-registration.pug
include ../../desktop.blocks/text/text.pug

block pageTitle
    title Registration

block main
    main.registration
        .registration__banner
            .container-content
                .registration__banner-content
                    .registration__selection-room
                        +card-account-registration()
