extends /../template/landing.pug

include /card-account-registration/card-account-registration.pug
include /text/text.pug
include /banner/banner.pug

block pageTitle
    title Registration

block main
    main.registration
        +banner()
            .registration__card-account-registration
                +card-account-registration()
