extends ../../template/landing.pug

include ../../desktop.blocks/card-account-registration/card-account-registration.pug
include ../../desktop.blocks/text/text.pug

block pageTitle
    title Registration

block main
    main.registration
        .page-banner
            .container-content
                .page-banner__content
                    .registration__card-account-registration
                        +card-account-registration()
