extends ../../template/landing.pug

block pageTitle
    title Registration


include ./__banner/registration__banner.pug
block content
    main.registration
        +registration__banner({
            image: 'site2/images/registration/banner.png'
        })