extends /../template/landing.pug

include /card-account-registration/card-account-registration.pug

block pageHead
  title Зарегистрироваться
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="New user registration")

block main
  main.registration
    .registration__banner
      .registration__card-account-registration
        +card-account-registration({ titleNumber: 1 })
