extends /../template/landing.pug

include /registration/registration.pug

block pageHead
  title Зарегистрироваться
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="New user registration")

block main
  +registration()
