include /block-head/block-head.pug
include /dropdown-head/dropdown-head.pug

mixin dropdown-date-filter(options = {})
    -
        const {
            head = null,
            text = "",
        } = options;

    .dropdown-date-filter
        if head !== null
            .dropdown-date-filter__head
                +block-head(head)
        .dropdown-date-filter__dropdown-head
            +dropdown-head({ text })
