.menu-item-expandable__list {
  @include reset-css;
  z-index: 999;
  min-width: 100%;
  position: absolute;
  left: -0.5rem;
  top: 0;
  background: #fff;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0rem 0rem 0.2857rem 0.2857rem;
  box-shadow: 0rem 0.7143rem 1.4286rem $color-dark-25;
}
