mixin menu-item-expandable(options = {})
    -
        const {
            text = "",
            items = [],
        } = options;

    .menu-item-expandable.js-menu-item-expandable
        .menu-item-expandable__head
            p.menu-item-expandable__title #{text}
            .menu-item-expandable__btn-expand.js-menu-item-expandable__btn-expand expand_more
        .menu-item-expandable__body
            ul.menu-item-expandable__list 
                for item in items
                    -
                        const {
                            text: linkText = "",
                            href = "/mock-address/change-me",
                        } = item;

                    li.menu-item-expandable__item
                        a.menu-item-expandable__link(href=href) #{linkText}
