mixin text-demo__item(options)
    .text-demo__item.flex-container(class=options.classes)
        .text-demo__item-head #{options.head}
        .text-demo__item-text(class=textClasses) #{options.text}