.text-demo__item {
    @include flex-row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.text-demo__item:not(:last-child) {
    margin-bottom: 50px;
}

@import './text-demo__item_h1.scss';
@import './text-demo__item_h2.scss';
@import './text-demo__item_h3.scss';
@import './text-demo__item_body.scss';