.text-demo__item_body .text-demo__item-head {
    font-size: 14px;
    line-height: 24px;
    color: #1f204140;
}

.text-demo__item_body .text-demo__item-text {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}