include ../input-radio/input-radio.pug
include ../text/text.pug

mixin radio-button(options = {})
    -
        const {
            text = "",
            group = "",
            checked = false,
        } = options;

    .radio-button
        .radio-button__container
            +input-radio(group, checked)
            .radio-button__text
                +text({
                    text,
                    lineHeight: "middle",
                })