include /input-radio/input-radio.pug

mixin radio-button(options)
    -
        const {
            text,
            group,
            checked = false,
        } = options;

    .radio-button
        label.radio-button__container
            +input-radio(options)
            p.radio-button__text #{text}
