.range-slider__slider {
  display: block;
  clear: both;
  height: 6px;
  background: #fff;
  border: 1px solid $color-dark-25;
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
}
