.range-slider__bg-line {
  @include reset-css;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: auto;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
