.range-slider__point {
  display: block;
  position: absolute;
  top: -0.4286rem;
  left: -8px;
  z-index: 2;
  width: 0.8571rem;
  height: 0.8571rem;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 0.1429rem solid #ffffff;
  border-radius: 0.7143rem;
}
