.logo {
  @include reset-link;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;

  &__text {
    margin-left: 11.5px;
    width: 55px;
    height: 14px;
  }

  &__icon {
    width: 48px;
  }

  &__icon-main {
    width: 40px;
    max-height: 40px;
  }
}
