mixin logo(isMinimality = false)
  a.logo(href="./landing-page.html")
    if isMinimality
      .logo__icon
        include ./images/icon.svg
    else
      .logo__icon-main
        include ./images/icon-main.svg
      .logo__text
        include ./images/text.svg  
