mixin logo(classes)
    .logo(class=classes)
        -if(!/logo_theme_main/i.test(classes)) {
            include ./icon.svg
        -} else {
            include ./icon-main.svg
            include ./text.svg
        -}