include ../card-selection-room/card-selection-room.pug
include ../card-account-registration/card-account-registration.pug

mixin cards()
    .cards
        .container-content
            .cards__container-content
                .cards__column
                    .cards__item
                        +card-selection-room()
                    .cards__item    
                        +card-account-registration()
