.demo-text {
  width: auto;

  &__item {
    @include reset-css;
    width: 100%;
    max-width: 400px;
    display: flex;

    &_theme {

      &_h1 {
        @include text-h1;
      }

      &_h2 {
        @include text-h2;
      }

      &_h3 {
        @include text-h3;
      }

      &_body {
        @include text-body;
      }
    }

    &-name {
      width: 100%;
      min-width: 2.6429rem;
      max-width: 2.6429rem;
      text-align: right;
      font-weight: normal;
      color: $light-title;
    }

    &-value {
      margin-left: 2.2143rem;
    }

    &:not(:last-child) {
      margin-bottom: 3.5714rem;
    }
  }
}
