.checkbox-list {

  &_with-rich-buttons {

    .checkbox-list__title {
      margin-bottom: 16px;
    }
  
    .checkbox-list__item:not(:last-child) {
      margin-bottom: .6429rem;
    }
  }

  &__title {
    @include text-h3;
    margin-bottom: 1.2143rem;
  }

  &__container {
    margin: 0;
    padding: 0;
  }
  
  &__item {
    margin: 0;
    padding: 0;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
