include /checkbox-button/checkbox-button.pug

mixin checkbox-list({ items, head, withRichButtons })
  .checkbox-list(class=(withRichButtons ? "checkbox-list_with-rich-buttons" : ""))
    h3.checkbox-list__head #{head}
    ul.checkbox-list__container
      for item in items
        li.checkbox-list__item
          +checkbox-button(item)
