include ../block-head/block-head.pug
include ../checkbox-button/checkbox-button.pug

mixin checkbox-list(options={})
    -const {
    -   head = '',
    -   items = [],
    -} = options;

    .checkbox-list
        if head !== ''
            .checkbox-list__head
                +block-head({
                    title: head,
                })
        .checkbox-list__container
            for buttonText in items
                .checkbox-list__button
                    +checkbox-button({
                        text: buttonText,
                    })

