.form-element-title {
    float: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-dark-100;
    margin-bottom: 5px;
}