.input-toggle__switch {
  width: 2.8571rem;
  height: 1.4286rem;
  background: white;
  border: 0.0714rem solid $color-dark-25;
  box-sizing: border-box;
  border-radius: 0.7143rem;
  padding: 0.2143rem;
}

.input-toggle__input:checked + .input-toggle__switch {
  border-color: $color-purple;
}
.input-toggle__input:checked
  + .input-toggle__switch
  .input-toggle__switch-indicator {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  float: right;
}
