.input-toggle {
  display: block;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .input-toggle__switch-wrapper {
      border-color: $bg-primary;
    }

    &:checked + .input-toggle__switch-wrapper .input-toggle__switch {
      background: $gradient-primary;
      float: right;
    }

    &:hover + .input-toggle__switch-wrapper {
      box-shadow: 0px 0px 10px $bg-primary;
    }

    &:active + .input-toggle__switch-wrapper {
      box-shadow: 0px 0px 5px $text-secondary;
    }
  }

  &__switch-wrapper {
    width: 2.8571rem;
    height: $middle-first-size;
    background: white;
    border: 0.0714rem solid $light-title;
    box-sizing: border-box;
    border-radius: $tiny-size;
    padding: 0.2143rem;
  }

  &__switch {
    display: block;
    float: left;
    width: $small-size;
    height: $small-size;
    background: $light-title;
    border-radius: $tiny-size;
  }
}
