.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__aside {
    text-align: center;
  }

  &__avatar-container {
    display: block;
    width: 48px;
    max-height: 48px;
  }

  &__avatar-image {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #fff;
    border-radius: 24px;
    box-shadow: 0 10px 20px rgba(31, 32, 65, .1);
  }

  &__like-button {
    margin-top: 12px;
    display: inline-block;
  }

  &__main {
    margin-left: 10px;
  }

  &__head {
    margin-bottom: 10px;
  }

  &__user-name {
    font-weight: bold;
  }
}
