.comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar-container {
    display: block;
    width: 48px;
    height: 48px;
  }

  &__avatar-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    border: $micro-size solid #fff;
    box-sizing: border-box;
    box-shadow: 0 $tiny-size $middle-first-size rgba(31, 32, 65, .1);
    border-radius: 24px;
  }

  &__like-button {
    margin-top: $small-size;
  }

  &__main {
    margin-left: $tiny-size;
  }

  &__head {
    margin-bottom: $tiny-size;
  }

  &__user-name {
    @include text-body;
    font-weight: bold;
  }

  &__publication-date {
    @include text-body;
  }

  &__body {
    @include text-body;
  }
}
