.comment__head-image {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid white;
    width: 47.67px;
    height: 48px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $color-dark-10;
    border-radius: 32px;
}