include ../text/text.pug
include ../like-button/like-button.pug

mixin comment(options={})
    -const {
    -   avatar = '',
    -   name = '',
    -   publicationDate = '',
    -   likes = 0,
    -   text = '',
    -} = options;
    
    .comment
        .comment__avatar-likes
            .comment__avatar
                image.comment__avatar-image(src=avatar)
            .comment__like-button
                +like-button({
                    likes,
                })
        .comment__head-body
            .comment__head
                .comment__user-name
                    +text({
                        text: name,
                        fweight: 'bold',
                    })
                .comment__publication-date
                    +text({
                        text: publicationDate,
                    })
            .comment__body
                +text({
                    text,
                })
