mixin bullet-list(params={})
    .bullet-list(class=params.classes)
        .text.text_h2_m.bullet-list__title #{params.title}
        ul.bullet-list__container
            include ./__item/bullet-list__item.pug
            -const list = params.list || [];
            -for(let i = 0; i < list.length; i++){
                -const item = list[i];
                +bullet-list__item(item)
            -}  