mixin bullet-list(params={})
    .bullet-list(class=params.classes)
        +block-head({
            title: params.title,
            help: params.help,
            classes: 'bullet-list__block-head'
        })
        ul.bullet-list__container
            include ./__item/bullet-list__item.pug
            -const items = params.items || [];
            -for(let i = 0; i < items.length; i++){
                -const item = items[i];
                +bullet-list__item(items[i])
            -}  