mixin text-field(params={})
    -let classes = (params.classes || '');
    -if(params.focus) classes += ' text-field_focus';
    .text-field(class=classes)
        +block-head({
            classes: 'text-field__block-head',
            title: params.title,
            help: params.help
        })
        input.text-field__input(placeholder=params.placeholder, value=params.value)
