.cards__column {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  align-items: center;

  @media (max-width: $breakpoint3) {
    flex-direction: column;
  }

  @media (max-width: 380px) {
    max-width: 100%;
    width: 100%;
  }
}
