include ../card-selection-room/card-selection-room.pug
include ../card-account-registration/card-account-registration.pug
include ../card-book-room/card-book-room.pug
include ../card-authentication/card-authentication.pug
include ../calendar/calendar.pug
include ../card-room-information/card-room-information.pug

mixin cards()
    article.cards
        .container-content
            .cards__container-content
                .cards__column
                    .cards__item
                        +card-selection-room()
                    .cards__item    
                        +card-account-registration()
                .cards__column
                    .cards__item
                        +card-book-room({
                            roomNumber: 888,
                            roomPrice: 9990,
                            luxury: true,
                            receipt: {
                                total:  '38 081',
                                items: [
                                    {
                                        text: '9 990₽ х 4 суток',
                                        price: '39 960',
                                    },
                                    {
                                        text: 'Сбор за услуги: скидка 2 179₽',
                                        price: '0',
                                        icon: true,
                                    },
                                    {
                                        text: 'Сбор за дополнительные услуги',
                                        price: '300',
                                        icon: true,
                                    },
                                ],
                            },
                        })
                    .cards__item
                        +card-authentication()
                .cards__column
                    .cards__item
                        +calendar()
                    .cards__item
                        -
                            const images1 = [
                                'room-888.jpg',
                                'room-840.jpg',
                                'room-888.jpg',
                                'room-840.jpg',
                            ].map((src) => {
                                return {
                                    src: require(`../../chunks/images/rooms/${src}`).default,
                                };
                            });
                            const images2 = [...images1].reverse();

                        +card-room-information({
                            images: images1,
                            roomNumber: 888,
                            roomPrice: 9990,
                            luxury: true,
                            stars: 5,
                            comments: 145,
                        })
                    .cards__item
                        +card-room-information({
                            images: images2,
                            roomNumber: 840,
                            roomPrice: 9900,
                            stars: 4,
                            comments: 65,
                        })
