extends ../template/page.pug

include ../desktop.blocks/header/header.pug
include ../desktop.blocks/footer/footer.pug
include ../desktop.blocks/copyright-bar/copyright-bar.pug
include ../desktop.blocks/page-container/page-container.pug

block page
    +page-container()
        -
            const headerConfig = {
                menu: {
                    items: [
                        {text: "О нас"},
                        {
                            text: "Услуги",
                            expandable: true,
                            items: [
                                {text: "example1"},
                                {text: "example2"},
                                {text: "example3"},
                            ],
                        },
                        {text: "ui-kit", href: "./ui-kit.html"},
                        {text: "Вакансии"},
                        {text: "Новости"},
                        {
                            text: "Соглашения",
                            expandable: true,
                            items: [
                                {text: "example1"},
                                {text: "example2"},
                                {text: "example3"},
                            ],
                        },
                    ],
                },
                btnLogin: "войти",
                btnRegister: "зарегистрироваться",
            };

            const footerConfig = {
                siteDescription: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                subscribe: {
                    title: "Подписка",
                    description: "Получайте специальные предложения и новости сервиса",
                    placeholder: "Email",
                },
                navList: [
                    {
                        title: "навигация",
                        items: [
                            {text: "О нас", href: "./landing-page.html"},
                            {text: "Новости"},
                            {text: "Служба поддержки"},
                            {text: "Услуги"},
                        ],
                    },
                    {
                        title: "о нас",
                        items: [
                            {text: "О сервисе"},
                            {text: "Наша команда"},
                            {text: "Вакансии"},
                            {text: "Инвесторы"},
                        ],
                    },
                    {
                        title: "Служба поддержки",
                        items: [
                            {text: "Соглашения"},
                            {text: "Сообщества"},
                            {text: "Связь с нами"},
                        ],
                    },
                ],
            };

        +header(headerConfig)
        
        .page-container__main
            block main

        +footer(footerConfig)
        .page-container__copyright-bar
            +copyright-bar({
                copyright: "Copyright © 2018 Toxin отель. Все права зачищены.",
            })
