include ../color-demo-item/color-demo-item.pug

mixin colors-demo(classes)
    -
        const colors = [
            ["Dark Shade 100%", "#1F2041", "#1F2041"],
            ["Dark Shade 75%", "#1F2041", "rgba(31, 32, 65, 0.75)"],
            ["Dark Shade 50%", "#1F2041", "rgba(31, 32, 65, 0.5)"],
            ["Dark Shade 25%", "#1F2041", "rgba(31, 32, 65, 0.25)"],
            ["Dark Shade 5%", "#1F2041", "rgba(31, 32, 65, 0.05)"],
            ["Purple", "#BC9CFF", "#BC9CFF"],
            ["Green", "#6FCF97", "#6FCF97"],
        ];

    .colors-demo(class=classes)
        for colorItem in colors
            .colors-demo__color-demo
                +color-demo-item(colorItem)
