include /color-demo-item/color-demo-item.pug

mixin colors-demo(colors = [])
    .colors-demo
        for colorItem in colors
            .colors-demo__color-demo
                +color-demo-item(colorItem)
