include /button/button.pug

mixin calendar(options = {})
  -
    const {
      weekdayNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
      buttonClear = "очистить",
      buttonApply = "применить",
    } = options;

  .calendar.js-calendar
    .calendar__date-navigation
      .calendar__change-month
        +button({
          text: 'arrow_back',
          textColor: 'bg-primary',
          theme: 'icon',
          dataAction: 'previous-month',
        })
      h2.calendar__drawn-date.js-calendar__drawn-date
      .calendar__change-month
        +button({
          text: 'arrow_forward',
          textColor: 'bg-primary',
          theme: 'icon',
          dataAction: 'next-month',
        })
    .calendar__weekday-names
      for name in weekdayNames
        p.calendar__weekday-name #{name}
    .calendar__days-container.js-calendar__days-container
    .calendar__control-buttons
      .calendar__clear-button
        +button({ text: buttonClear, theme: "textual", dataAction: "clear" })
      .calendar__apply-button
        +button({ text: buttonApply, theme: "textual", dataAction: "apply" })
