$root: '.calendar';

#{$root} {
  @include no-select;
  padding: 20px 20px 16px;
  border: 1px solid $light-title;
  border-radius: 4px;
  max-width: 320px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 10px 20px $dim-shadow;

  &__date-navigation {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__change-month {
    width: 24px;
    max-height: 24px;

    &_hidden {
      visibility: hidden;
    }
  }

  &__drawn-date {
    @include text-h2;
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__weekday-names {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  &__weekday-name {
    padding: 8px 0;
    width: 14.285714286%;
    display: inline-block;
    color: $bg-primary;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }

  &__days-container {
    margin-bottom: 15px;
    list-style: none;
  }

  &__day-week {
    width: 14.285714286%;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;

    &_range-day {

      &_end,
      &_start {
        position: relative;
        z-index: 1;
        
        &::after {
          content: '';
          top: 0;
          z-index: -1;
          width: 50%;
          height: 100%;
          position: absolute;
          background: $gradient-primary;
          opacity: .25;
        }
      }

      &_end::after {
        left: 0;
      }

      &_start::after {
        right: 0;
      }
    }

    &_theme {

      &_not-clickable {
        cursor: default;
        
        #{$root}__day-number {
          color: $light-title;
        }
      }

      &_another-month #{$root}__day-number {
        color: $light-title;
      }
  
      &_range-day-middle {
        position: relative;
        z-index: 2;
  
        &::after {
          content: '';
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          position: absolute;
          display: block;
          background: $gradient-primary;
          opacity: .25;
        }
      }
  
      &_range-day {
        background: $gradient-primary;
      }
  
      &_today {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        cursor: default;
      }

      &_range-day,
      &_today {

        #{$root}__day-number {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  &__day-inner {
    padding: 50% 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__day-number {
    text-align: center;
    font-size: 12px;
    color: $text-secondary;
    text-align: center;
  }

  &__control-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__clear-button_hidden {
    visibility: hidden;
  }
}
