.calendar {
  @include reset-css;

  @include no-select;
  width: 100%;
  max-width: 320px;
  padding: $middle-first-size $middle-first-size;
  background: #ffffff;
  border: 1px solid $light-title;
  box-sizing: border-box;
  box-shadow: 0 $tiny-size $middle-first-size $dim-shadow;
  border-radius: 4px;

  &__date-navigation {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__change-month {
    width: $big-size;
    height: $big-size;
  }

  &__drawn-date {
    @include text-h2;
    margin: 0;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__weekday-names {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
  }

  &__weekday-name {
    @include reset-css;

    @include text-body;
    height: 40px;
    width: 100%;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg-primary;
    font-size: $small-size;
    font-weight: bold;
  }

  &__days-container {
    margin: 0 0 $middle-first-size;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
  }

  &__day-week {
    @include reset-css;
    width: 14.285714286%;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;

    &_range-day {

      &_end,
      &_start {
        position: relative;
        z-index: 1;
        
        &::after {
          content: '';
          top: 0;
          z-index: -1;
          width: 50%;
          height: 100%;
          position: absolute;
          display: block;
          background: $gradient-primary;
          opacity: .25;
        }
      }

      &_end {

        &::after {
          left: 0;
        }
      }

      &_start {
        color: #fff;

        &::after {
          right: 0;
        }
      }
    }

    &_theme {

      &_not-clickable {
        cursor: default;
        
        .calendar__day-number {
          color: $light-title;
        }
      }

      &_another-month .calendar__day-number {
        color: $light-title;
      }
  
      &_range-day-middle {
        position: relative;
        z-index: 2;
  
        &::after {
          content: '';
          left: 0;
          top: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          position: absolute;
          display: block;
          background: $gradient-primary;
          opacity: .25;
        }
      }
  
      &_range-day {
        background: $gradient-primary;
      }
  
      &_today {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        cursor: default;
      }

      &_range-day,
      &_today {

        .calendar__day-number {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  &__day-inner {
    margin: 0;
    padding: 50% 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__day-number {
    display: block;
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $small-size;
    color: $text-secondary;
    text-align: center;
  }

  &__control-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
