.header__user-name {
  @include reset-css;
  padding-left: 1.4286rem;
  border-left: 0.0714rem solid $color-dark-10;

  @media (max-width: $breakpoint2) {
    padding: 1.4286rem 0rem 0rem 0rem;
    border-left: none;
    border-top: 0.0714rem solid $color-dark-10;
  }
}
