include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug

mixin header(options={})
    -const {    
    -   menu = {},
    -   user = '',
    -   btnLoginText = 'login',
    -   btnRegisterText = 'register',
    -} = options;

    header.header
        .container-content
            .header__container-content
                .header__head
                    .header__logo
                        +logo()
                    .header__menu-mobile-btn
                        +button({
                            text: 'view_headline',
                            theme: 'icon',
                        })
                .header__mobile-body 
                    .header__menu
                        +menu(menu)
                    .header__personal-area
                        if user !== ''
                            .header__user-name
                                +text({
                                    text: user,
                                    color: 'dark-50',
                                })
                        else
                            .header__login-register
                                .header__login
                                    +button({
                                        text: btnLoginText,
                                        size: 'sm',
                                        theme: 'light',
                                    })
                                .header__register
                                    +button({
                                        text: btnRegisterText,
                                        size: 'sm',
                                    })
