include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug

mixin header(options = {})
    -
        const {
            menu = {},
            user = "",
            btnLogin = "login",
            btnRegister = "register",
        } = options;

    header.header.js-header
        .container-content
            .header__container-content
                .header__head
                    .header__logo
                        +logo()
                    .header__menu-mobile-btn
                        +button({
                            classes: [
                                "js-header__menu-mobile-btn",
                            ],
                            text: "view_headline",
                            theme: "icon",
                        })
                .header__nav-container
                    .header__menu
                        +menu(menu)
                    .header__personal-area
                        if user !== ""
                            .header__user-name
                                +text({
                                    text: user,
                                    color: "text-secondary",
                                })
                        else
                            .header__personal-area-buttons
                                .header__btn-login
                                    +button({
                                        text: btnLogin,
                                        href: "./sign-in.html",
                                        size: "sm",
                                        theme: "light",
                                    })
                                .header__btn-register
                                    +button({
                                        text: btnRegister,
                                        href: "./registration.html",
                                        size: "sm",
                                    })
