.header__login-register {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $breakpoint3) {
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
  }
}
