.header {
  background-color: #fff;
  box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;

  &_extended {
    .header__nav-container {
      @media (max-width: $breakpoint-tablets) {
        display: block;
      }
    }
  }

  &__content {
    @include reset-css;
    @include container-content;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablets) {
      padding-left: $tiny-size;
      flex: auto;
      flex-direction: column;
      height: auto;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      width: 100%;
      height: 5rem;
    }
  }

  &__logo {
    flex: auto;
  }

  &__expand-mobile-menu-btn {
    display: none;

    @media (max-width: $breakpoint-tablets) {
      display: block;
    }
  }

  &__nav-container {
    margin-left: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      display: none;
      width: 100%;
      margin-left: 0;
    }
  }

  &__personal-area {
    margin-left: $middle-second-size;

    @media (max-width: $breakpoint-tablets) {
      margin: $middle-first-size 0rem $middle-first-size 0rem;
    }
  }

  &__user-name {
    @include reset-css;
    @include text-body;
    padding-left: $middle-first-size;
    border-left: 0.0714rem solid $dim-border;
    color: $text-secondary;

    @media (max-width: $breakpoint-tablets) {
      padding: $middle-first-size 0rem 0rem 0rem;
      border-left: none;
      border-top: 0.0714rem solid $dim-border;
    }
  }

  &__personal-area-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (max-width: $breakpoint-cell-phones) {
      width: 100%;
      max-width: 290px;
      justify-content: space-between;
    }
  }

  &__btn-login {
    margin-right: $middle-first-size;

    @media (max-width: $breakpoint-cell-phones) {
      margin-right: 0;
    }
  }
}
