include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug

mixin header(options = {})
    -
        const {
            menu = {},
            user = "",
            btnLogin = "login",
            btnRegister = "register",
            btnLoginHref = "./sign-in.html",
            btnRegisterHref = "./registration.html",
            btnMobileIcon = "view_headline",
        } = options;

    header.header.js-header
        .container-content
            .header__container-content
                .header__head
                    .header__logo
                        +logo()
                    .header__menu-mobile-btn
                        +button({
                            classes: [
                                "button_action_expand-mobile-menu",
                                "js-button_action_expand-mobile-menu",
                            ],
                            text: btnMobileIcon,
                            theme: "icon",
                        })
                .header__nav-container
                    .header__menu
                        +menu(menu)
                    .header__personal-area
                        if user !== ""
                            .header__user-name
                                +text({
                                    text: user,
                                    color: "text-secondary",
                                })
                        else
                            .header__personal-area-buttons
                                .header__btn-login
                                    +button({
                                        text: btnLogin,
                                        href: btnLoginHref,
                                        size: "sm",
                                        theme: "light",
                                    })
                                .header__btn-register
                                    +button({
                                        text: btnRegister,
                                        href: btnRegisterHref,
                                        size: "sm",
                                    })
