include /logo/logo.pug
include /menu/menu.pug
include /button/button.pug

mixin header(options = {})
    -
        const {
            menu,
            user,
            btnLogin = "login",
            btnRegister = "register",
            btnLoginHref = "./sign-in.html",
            btnRegisterHref = "./registration.html",
            mobileBtnIcon = "view_headline",
        } = options;

    header.header.js-header
        .header__content
            .header__main
                .header__logo
                    +logo()
                .header__expand-mobile-menu-btn
                    +button({
                        dataAction: "expand-mobile-menu",
                        text: mobileBtnIcon,
                        theme: "icon",
                    })
            .header__nav-container
                .header__menu
                    +menu(menu)
                .header__personal-area
                    if user
                        p.header__user-name #{user}
                    else
                        .header__personal-area-buttons
                            .header__btn-login
                                +button({
                                    text: btnLogin,
                                    href: btnLoginHref,
                                    size: "sm",
                                    theme: "light",
                                })
                            .header__btn-register
                                +button({
                                    text: btnRegister,
                                    href: btnRegisterHref,
                                    size: "sm",
                                })
