include ../logo/logo.pug
include ../menu/menu.pug
include ../button/button.pug

mixin header(options={})
    -
        const {
            logo = {},
            menu = {},
            user = '',
            btnLogin = {},
            btnRegister = {},
        } = options;

    header.header.js-header
        .container-content
            .header__container-content
                .header__head
                    .header__logo
                        +logo(logo)
                    .header__menu-mobile-btn
                        +button({
                            classes: [
                                'js-header__menu-mobile-btn',
                            ],
                            text: 'view_headline',
                            theme: 'icon',
                        })
                .header__nav-container
                    .header__menu
                        +menu(menu)
                    .header__personal-area
                        if user !== ''
                            .header__user-name
                                +text({
                                    text: user,
                                    color: 'dark-50',
                                })
                        else
                            .header__login-register
                                .header__login
                                    -
                                        const {
                                            text: textLog = 'login',
                                            href: hrefLog = '',
                                        } = btnLogin;

                                        const configLogin = {
                                            text: textLog,
                                            href: hrefLog,
                                            size: 'sm',
                                            theme: 'light',
                                        }
                                    +button(configLogin)
                                .header__register
                                    -
                                        const {
                                            text: textReg = 'register',
                                            href: hrefReg = '',
                                        } = btnRegister;

                                        const configRegister = {
                                            text: textReg,
                                            href: hrefReg,
                                            size: 'sm',
                                        }
                                    +button(configRegister)
