.card-account-registration {
  &__title {
    @include text-h1;
    margin-bottom: 1.3571rem;
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__form {
    margin-bottom: 2rem;
    width: 100%;
  }

  &__input-name {
    margin-bottom: 0.7143rem;
  }

  &__input-surname {
    margin-bottom: 0.7143rem;
  }

  &__select-gender {
    margin-bottom: 1.7857rem;
  }

  &__date-of-birth {
    margin-bottom: 1.6429rem;
  }
  
  &__email {
    margin-bottom: 0.7143rem;
  }
  
  &__password {
    margin-bottom: 0.5rem;
  }
  
  &__special-offers {
    margin-bottom: 1.7143rem;
  }

  &__has-account {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__has-account-text {
    @include text-body;
    color: #000000;
  }
}
