include /card-container/card-container.pug
include /input-text/input-text.pug
include /radio-button/radio-button.pug
include /text-field/text-field.pug
include /toggle-button/toggle-button.pug
include /button/button.pug

mixin card-account-registration(options = {})
    -
        const {
            title = "Регистрация аккаунта",
            formAction = "/mock-address/change-me",
            inputNamePlaceholder = "Имя",
            inputSurnamePlaceholder = "Фамилия",
            genderRadio = [
                "Мужчина",
                "Женщина",
            ],
            inputDateOfBirthTitle = "дата рождения",
            inputDateOfBirthPlaceholder = "ДД.ММ.ГГГГ",
            inputsAuthenticationTitle = "данные для входа в сервис",
            inputEmailPlaceholder = "Email",
            inputPasswordPlaceholder = "Пароль",
            toggleBtnSpecialOffers = "Получать спецпредложения",
            paymentBtn = "перейти к оплате",
            paymentBtnHref = "/mock-address/change-me",
            hasAccount = "Уже есть аккаунт на Toxin",
            btnSignIn = "войти",
        } = options;

        const radioButtonsGender = genderRadio.map((item) => ({text: item, group: "gender"}))
        if (radioButtonsGender.length) {
            radioButtonsGender[0].checked = true;
        }

    .card-account-registration
        +card-container()
            h2.card-account-registration__title #{title}
            form.card-account-registration__form(action=formAction, method="post")
                .card-account-registration__input-name
                    +input-text({ placeholder: inputNamePlaceholder })
                .card-account-registration__input-surname
                    +input-text({ placeholder: inputSurnamePlaceholder })
                .card-account-registration__select-gender
                    for item in radioButtonsGender
                        .card-account-registration__gender-radio
                            +radio-button(item)
                .card-account-registration__date-of-birth
                    +text-field({
                        head: { title: inputDateOfBirthTitle },
                        placeholder: inputDateOfBirthPlaceholder,
                    })
                .card-account-registration__email
                    +text-field({
                        head: { title: inputsAuthenticationTitle },
                        placeholder: inputEmailPlaceholder,
                        type: "email",
                    })
                .card-account-registration__password
                    +input-text({ placeholder: inputPasswordPlaceholder, type: "password" })
                .card-account-registration__special-offers
                    +toggle-button({ text: toggleBtnSpecialOffers })
                .card-account-registration__payment-button
                    +button({
                        text: paymentBtn,
                        href: paymentBtnHref,
                        theme: "default-long",
                        icon: "arrow_forward",
                        type: "submit",
                    })
            .card-account-registration__has-account
                p.card-account-registration__has-account-text #{hasAccount}
                +button({
                    href: "./sign-in.html",
                    text: btnSignIn,
                    theme: "light",
                    horizontalSize: "big",
                })
