.card-account-registration {
  &__title {
    @include text-h1;
    margin-bottom: 1.3571rem;
    width: 100%;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__form {
    margin-bottom: 2rem;
    width: 100%;
  }

  &__user-name {
    margin-bottom: $tiny-size;
  }

  &__user-surname {
    margin-bottom: $tiny-size;
  }

  &__genders {
    margin-bottom: 1.7857rem;
    display: flex;
    flex-direction: row;
  }

  &__gender:not(:last-child) {
    margin-right: 20px;
  }

  &__date-of-birth {
    margin-bottom: $middle-third-size;
  }
  
  &__email {
    margin-bottom: $tiny-size;
  }
  
  &__password {
    margin-bottom: 0.5rem;
  }
  
  &__offer {
    margin-bottom: $big-size;
  }

  &__account-question {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__account-question-text {
    @include text-body;
    color: #000000;
  }
}
