.dropdown {
    display: block;
    width: 100%;
    min-width: 266px;
    height: auto;
    background-color: #fff;
}

@import './dropdown__button-expend.scss';
@import './dropdown__body.scss';
@import './dropdown_expend.scss';
@import './dropdown__item.scss';