.dropdown {
    display: block;
    width: 320px;
    min-width: 266px;
    max-width: 100%;
    height: auto;
    background-color: #fff;
    min-height: 65px;
    position: relative;
}

@import './dropdown__button-expend.scss';
@import './dropdown__body.scss';
@import './dropdown_expend.scss';
@import './dropdown__item.scss';