.dropdown__body {
    display: none;
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $color-dark-50;
    border-top: none;
    box-sizing: border-box;
    padding: 7px 7px 8px 15px;
    z-index: 999;
}