mixin dropdown(params)
    .dropdown(class=params.classes)
        if params.title
            .form-element-title #{params.title}
        if params.help
            .form-element-help #{params.help}
        .dropdown__head
            .dropdown__text #{params.text}
            .button.button_form-element.dropdown__button-expend expand_more
        .dropdown__body
            if block
                block