.text-demo__item_h3 .text-demo__item-head {
    font-size: 12px;
    line-height: 15px;
}

.text-demo__item_h3 .text-demo__item-text {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}