mixin text-demo__item(head, text, classes, textClasses)
    .text-demo__item.flex-container(class=classes)
        .text-demo__item-head #{head}
        .text-demo__item-text(class=textClasses) #{text}