mixin found-rooms(params={})
    .found-rooms(class=params.classes)
        .text.text_h1_m.found-rooms__title Номера, которые мы для вас подобрали
        -const rooms = (params.rooms || []).map(room => {
            -room.classes = `${room.classes || ''} found-rooms__hotel-room`;
            -return room;
        -});
        -for(let i = 0; i < rooms.length; i++){
            +hotel-number(rooms[i])
        -}
        +pagination({
            classes: 'found-rooms__pagination',
            bottomText: '1 – 12 из 100+ вариантов аренды'
        })