mixin date-range(params={})
    .date-range(class=params.classes)
        +dropdown-date({
            title: 'прибытие',
            date: params.start
        })
        +dropdown-date({
            title: 'выезд',
            date: params.end
        })
        +calendar({
            classes: 'date-range__calendar'
        })