$display-size: 480px;

.room-details {
  flex-grow: 1;
  border-bottom: 1px solid #e5e5e5;

  &__banner {
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @media (max-width: $display-size) {
      flex-direction: column;
    }
  
    &-main-img-container {
      width: 68%;
    
      @media (max-width: $display-size) {
        width: 100%;
      }
    }
  
    &-main-img,
    &-img-item {
      width: 100%;
      height: 100%;
      display: block;
    }
  
    &-img-column {
      width: 32%;
      height: 100%;
      display: flex;
      flex-direction: column;
    
      @media (max-width: $display-size) {
        width: 100%;
      }
    }
  
    &-img-item-container {
      height: 50%;
    
      @media (max-width: $breakpoint-cell-phones) {
        height: auto;
      }
    }
  }

  &__title {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  &__cancel-reservation {
    max-width: 340px;
  }

  &__cancel-reservation-head {
    @include text-h2;
    margin-bottom: 17px;
    font-family: Montserrat, Arial, sans-serif;
  }

  &__comments {
    margin-bottom: 34px;

    &-head {
      margin-bottom: 19px;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  
    &-title {
      @include text-h2;
      font-family: Montserrat, Arial, sans-serif;
    }
  
    &-counter {
      margin: 0;
      padding: 0;
      list-style: none;
      color: $text-secondary;
    }

    &-body {
      list-style: none;
    }
  }

  &__comment:not(:last-child) {
    margin-bottom: $middle-third-size;
  }

  &__container-content {
    @include container-content;
    padding-top: 68px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    @media (max-width: $breakpoint-old-displays) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__feedback,
  &__additional-information {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @media (max-width: $breakpoint-old-displays) and (min-width: $breakpoint-cell-phones) {

      &:last-child {
        margin-bottom: 40px;
      }
    }
  
    @media (max-width: $breakpoint-cell-phones) {
      flex-direction: column;      
      margin-bottom: 0;
    }
  }

  &__main-info {
    padding-top: 2px;
    margin-right: 70px;

    @media (max-width: $breakpoint-old-displays) {
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 0;
    }
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0 0 40px 0;
    }
  }

  &__room-advantages {
    margin-right: 107px;
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0 0 40px 0;
    }
  }

  &__reviews-chart {
    @media (max-width: $breakpoint-cell-phones) {
      margin-bottom: 40px;
    }
  }

  &__rules {
    margin-right: 92px;
  
    @media (max-width: $breakpoint-cell-phones) {
      margin: 0 0 30px;
    }
  }
}
