extends /../template/page.pug

include /headers-and-footers/headers-and-footers.pug

block pageHead
  title Шапки и подвалы
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Header and footer examples")

block content
  +headers-and-footers()
