.headers-and-footers {
  background: #e5e5e5;

  &__logo {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 30px 0;
  }

  &__container-content {
    padding: 60px 0 140px;
  }

  &__header,
  &__footer {
    margin-bottom: 40px;
  }
}
