$size: 3.1429rem;

.input-text__icon-right {
  @include reset-css;
  @include no-select;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.7143rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background: $color-gradient-1;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  max-width: $size;
  min-width: $size;
  height: 100%;
  max-height: $size;
  position: absolute;
  right: 0;
  top: 0;
}
