include /button/button.pug

mixin input-text(options = {})
    -
        const {
            type = "text",
            placeholder = "",
            value = "",
            iconRight = "",
        } = options;

        const classes = ["input-text"];
        if (iconRight !== "") classes.push("input-text_use-icon-right");

    div(class=classes)
        .input-text__container
            -
                const attr = {};
                if (placeholder !== "") attr.placeholder = placeholder;
                if (value !== "") attr.value = value;

            input.input-text__input(type=type)&attributes(attr)
            if iconRight !== ""
                .input-text__submit
                    +button({
                        text: iconRight,
                        theme: "icon",
                        type: "submit",
                        textColor: "gradient-primary",
                    })
