.text {
  @include reset-css;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  color: $color-dark-100;
}

@import "./_theme/text_theme_h1.scss";
@import "./_theme/text_theme_h2.scss";
@import "./_theme/text_theme_h3.scss";
@import "./_theme/text_theme_body.scss";

@import "./_fweight/text_fweight_normal.scss";
@import "./_fweight/text_fweight_bold.scss";

@import "./_color/text_color_purple.scss";
@import "./_color/text_color_dark-50.scss";
@import "./_color/text_color_dark-75.scss";
@import "./_color/text_color_dark-25.scss";
@import "./_color/text_color_dark-5.scss";
@import './_color/text_color_black.scss';
@import './_color/text_color_dark-100.scss';
@import './_color/text_color_gradient-1.scss';
@import './_color/text_color_gradient-2.scss';
@import './_color/text_color_gradient-3.scss';
@import './_color/text_color_gradient-4.scss';

@import './_lheight/text_lheight_small.scss';
@import './_lheight/text_lheight_middle-1.scss';
@import './_lheight/text_lheight_middle.scss';
@import './_lheight/text_lheight_big.scss';
@import './_lheight/text_lheight_middle-2.scss';

@import './_wspace/text_wspace_nowrap.scss';
@import './_wspace/text_wspace_pre.scss';

@import './_horizontal/text_horizontal_middle.scss';
@import './_horizontal/text_horizontal_right.scss';

@import './_ttransform/text_ttransform_uppercase.scss';
@import './_ttransform/text_ttransform_none.scss';

@import './text_no-select.scss';
@import './text_vertical-middle.scss';
@import './text_fsize_small.scss';
@import './text_fname_montserrat.scss';
@import './text_wbreak_break-all.scss';
