.text {
  @include reset-css;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  color: $text-title;

  &_theme {
    &_h1 {
      font-size: 1.7143rem;
      line-height: 2.1429rem;
    }
    
    &_h2 {
      font-size: 1.3571rem;
      line-height: 1.7143rem;
    }
    
    &_h3 {
      font-family: Montserrat;
      font-size: 0.8571rem;
      line-height: 1.0714rem;
      text-transform: uppercase;
    }
    
    &_body {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.7143rem;
      color: $text-primary;
    }
  }
  
  &_white-space {
    &_nowrap {
      white-space: nowrap;
    }

    &_pre {
      white-space: pre;
    }
  }
  
  &_transform {
    &_none {
      text-transform: none;
    }

    &_uppercase {
      text-transform: uppercase;
    }
  }
  
  &_line-height {
    &_big {
      line-height: 2.1429rem;
    }

    &_middle {
      line-height: 1.4286rem;
    }
    
    &_small {
      line-height: 1.2857rem;
    }
    
    &_very-small {
      line-height: 1.0714rem;
    }
  }
  
  &_horizontal {
    &_middle {
      width: 100%;
      text-align: center;
    }

    &_right {
      text-align: right;
    }
  }
  
  &_font-weight {
    &_bold {
      font-weight: bold;
    }

    &_normal {
      font-weight: normal;
    }
  }

  &_color {
    &_important-text {
      color: #000000;
    }

    &_text-title {
      color: $text-title;
    }
    
    &_text-primary {
      color: $text-primary;
    }
    
    &_text-secondary {
      color: $text-secondary;
    }
    
    &_light-title {
      color: $light-title;
    }
    
    &_primary {
      color: $primary;
    }
  }
  
  &_font-name_montserrat {
    font-family: Montserrat;
  }
  
  &_size_small {
    font-size: 0.8571rem;
  }
  
  &_no-select {
    @include no-select;
  }
  
  &_vertical-middle {
    vertical-align: middle;
  
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  
  &_word-break_break-all {
    word-break: break-all;
  }  
}
