mixin sign-in__banner(params={})
    .sign-in__banner(class=params.classes, style=`background-image: url('${params.image}');`)
        .container-content.sign-in__banner-content
            +form-log-in()