.container-content {
  @include reset-css;
  width: 100%;
  min-width: 320px;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 1.0714rem;

  @media (max-width: $breakpoint3) {
    padding: 0 0.7143rem;
  }
}
