.container-content {
  @include reset-css;
  width: 100%;
  min-width: 320px;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $breackpoint3) {
    padding: 0 10px;
  }
}
