include /card-container/card-container.pug
include /input-text/input-text.pug
include /button/button.pug

mixin card-authentication(options = {})
    -
        const {
            title = "Войти",
            formAction = "/mock-address/change-me",
            inputEmailPlaceholder = "Email",
            inputPasswordPlaceholder = "Пароль",
            authBtn = "войти",
            noAccount =  "Нет аккаунта на Toxin?",
            createAccountBtn = "создать",
            createAccountBtnHref = "./registration.html",
        } = options;

    .card-authentication
        +card-container()
            h2.card-authentication__head #{title}
            form.card-authentication__form(action=formAction, method="post")
                .card-authentication__email
                    +input-text({ placeholder: inputEmailPlaceholder, type: "email" })
                .card-authentication__password
                    +input-text({ placeholder: inputPasswordPlaceholder, type: "password" })
                .card-authentication__auth-btn
                    +button({
                        text: authBtn,
                        icon: "arrow_forward",
                        theme: "default-long",
                        type: "submit",
                    })
            .card-authentication__no-account
                p.card-authentication__no-account-text #{noAccount}
                +button({ href: createAccountBtnHref, text: createAccountBtn, theme: "light" })
