.form-create-account {
    width: 380px;
    height: 646px;
    max-height: 646px;
    background: #ffffff;
    border: 1px solid #0000001f;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px #00000033;
    border-radius: 4px;
    padding: 40px 30px 30px 30px;
}

@import './form-create-account__title.scss';
@import './form-create-account__input-name.scss';
@import './form-create-account__input-surname.scss';
@import './form-create-account__select-gender.scss';
@import './form-create-account__radio-btn-girl.scss';
@import './form-create-account__date-of-birth.scss';
@import './form-create-account__input-email.scss';
@import './form-create-account__input-password.scss';
@import './form-create-account__toggle-special-offers.scss';
@import './form-create-account__btn-sign-in.scss';
@import './form-create-account__row-sign-in.scss';