mixin form-elements-col4(params={})
    .form-elements-col4(class=params.classes)
        +dropdown-rooms({
            title: 'dropdown',
            help: 'Default',
            classes: 'form-elements-col4__dropdown-rooms1'
        })
        +dropdown-rooms({
            title: 'dropdown',
            help: 'expanded',
            expend: true,
            bedrooms: 2,
            beds: 2,
            classes: 'form-elements-col4__dropdown-rooms2'
        })
        +checkbox-list-expend({
            classes: 'form-elements-col4__checkbox-list1',
            title: 'expandable checkbox list'
        })
        +checkbox-list-expend({
            title: 'expandable checkbox list',
            expend: true,
            items: [
                {
                    text: 'Завтрак'
                },
                {
                    text: 'Письменный стол',
                    checked: true
                },
                {
                    text: 'Стул для кормления',
                    checked: true
                },
                {
                    text: 'Кроватка',
                    checked: true
                },
                {
                    text: 'Телевизор'
                },
                {
                    text: 'Шампунь'
                },
                {
                    text: 'Телевизор'
                },
                {
                    text: 'Шампунь'
                }
            ]
        })