mixin hotel-room-head(params={})
    -let classes = params.classes || '';
    -if(params.size === 'sm') classes += ' hotel-room-head_cm'
    .hotel-room-head(class=classes)
        div
            span.text.text_body.text_fw_b.hotel-room-head__icon №
            span.text.text_h1.hotel-room-head__number #{params.roomNumber || 0} 
            if params.luxury
                span.text.text_h3.text_color_purple.hotel-room-head__luxury люкс
        
        if params.price
            .hotel-room-head__price.text.text_body
                -let price = String(params.price || 0).split('');
                -let resPrice = '';
                -for(let i = price.length - 1, j = 1; i >= 0; i--, j++){
                    -resPrice = price[i] + resPrice;
                    -if(j === 3){
                        -resPrice = ' ' + resPrice;
                        -j = 1;
                    -}
                -}
                span.hotel-room-head__price-num #{resPrice}&#8381;
                span.hotel-room-head__price-time в сутки