.form-create-account {
    @include form;
    width: 380px;
    height: 646px;
    max-height: 646px;
}

@import './form-create-account__title.scss';
@import './form-create-account__input-name.scss';
@import './form-create-account__input-surname.scss';
@import './form-create-account__select-gender.scss';
@import './form-create-account__date-of-birth.scss';
@import './form-create-account__input-email.scss';
@import './form-create-account__input-password.scss';
@import './form-create-account__toggle-special-offers.scss';
@import './form-create-account__btn-payment.scss';
@import './form-create-account__sign-in.scss';