mixin form-create-account(params={})
    .form-create-account(class=params.classes)
        .text.text_h1_m.form-create-account__title Регистрация аккаунта
        +text-field({
            placeholder:'Имя', 
            classes: 'form-create-account__input-name'
        })
        +text-field({
            placeholder:'Фамилия', 
            classes: 'form-create-account__input-surname'
        })
        +radio-buttons({
            classes: 'form-create-account__select-gender',
            items: [
                {
                    text: 'Мужчина',
                    name: 'gender',
                    checked: true
                },
                {
                    text: 'Женщина',
                    name: 'gender'
                }
            ]
        })
        +text-field({
            title:'дата рождения', 
            placeholder:'ДД.ММ.ГГГГ', 
            classes: 'form-create-account__date-of-birth'
        })
        +text-field({
            title:'данные для входа в сервис', 
            placeholder:'Email', 
            classes: 'form-create-account__input-email'
        })
        +text-field({
            placeholder:'Пароль', 
            classes: 'form-create-account__input-password'
        })
        +toggle-button({
            text: 'Получать спецпредложения',
            classes: 'form-create-account__toggle-special-offers'
        })
        +button-go-to({
            text: 'перейти к оплате',
            classes: 'form-create-account__btn-payment'
        })
        .form-create-account__sign-in
            .text.text_body Уже есть аккаунт на Toxin
            .button.button_theme_default-light войти