include /block-head/block-head.pug
include /rating/rating.pug

mixin rating-buttons(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .rating-buttons
        if head !== null
            .rating-buttons__head
                +block-head(head)
        .rating-buttons__container
            for stars in items
                .rating-buttons__item
                    +rating(stars)
