include ../block-head/block-head.pug
include ../rating/rating.pug

mixin rating-buttons(options={})
    -
        const {
           head = '',
           items = [],
        } = options;

    .rating-buttons
        if head !== ''
            .rating-buttons__head
                +block-head({
                    title: head,
                })
        .rating-buttons__container
            for stars in items
                .rating-buttons__rating
                    +rating({
                        stars, 
                    })
