mixin dropdown-item-buttons(params={})
    .dropdown-item-buttons(class=params.classes)
        .button.button_theme_text_dark.dropdown-item-buttons__button-clear.button_hide очистить
        .button.button_theme_text.dropdown-item-buttons__button-right применить