.dropdown-item-buttons {
    padding: 9px 0px 5px 0px;
    display: block;
    width: 100%;
    height: 15px;
}

@import './dropdown-item-buttons__button-right.scss';
@import './dropdown-item-buttons__button-clear.scss';