mixin advantage(params={})
    .advantage(class=params.classes)
        .advantage__icon #{params.icon}
        .advantage__description
            .advantage__title #{params.title}
            .advantage__text #{params.text}