mixin advantage(params={})
    .advantage(class=params.classes)
        .advantage__logo #{params.logo}
        .advantage__description
            .advantage__title #{params.title}
            .advantage__text #{params.text}