include /button/button.pug

mixin calendar(options = {})
    -
        const {
            weekdayNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
            btnClear = "очистить",
            btnApply = "применить",
        } = options;
    
    .calendar.js-calendar
        .calendar__date-navigation
            .calendar__change-month.calendar__change-month_direction_prev.js-calendar__change-month_direction_prev arrow_back
            h2.calendar__drawn-date.js-calendar__drawn-date
            .calendar__change-month.calendar__change-month_direction_next.js-calendar__change-month_direction_next arrow_forward
        .calendar__weekday-names
            for name in weekdayNames
                p.calendar__weekday-name #{name}
        .calendar__days-container.js-calendar__days-container
        .calendar__control-btns
            .calendar__clear-btn
                +button({
                    text: btnClear,
                    theme: "text",
                    textColor: "text-secondary",
                    classes: [
                        "button_action_clear",
                        "js-button_action_clear",
                    ],
                })
            .calendar__apply-btn
                +button({
                    text: btnApply,
                    theme: "text",
                    classes: [
                        "button_action_apply",
                        "js-button_action_apply",
                    ],
                })
