.calendar__weekday-name {
  @include reset-css;
  height: 2.8571rem;
  width: 100%;
  max-width: 2.8571rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
