include ../text/text.pug
include ../button/button.pug

mixin calendar(options = {})
    -
        const {
            weekdayNames = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"],
            btnClear = "очистить",
            btnApply = "применить",
        } = options;
    
    div(class="calendar js-calendar")
        .calendar__date-navigation
            .calendar__btn-change-month.js-calendar__btn-prev-month arrow_back
            .calendar__drawn-date
                +text({
                    theme: "h2",
                    fontName: "montserrat",
                    classes: [
                        "js-calendar__drawn-date",
                    ],
                })
            .calendar__btn-change-month.js-calendar__btn-next-month arrow_forward
        .calendar__weekday-names
            for name in weekdayNames
                .calendar__weekday-name
                    +text({
                        text: name,
                        color: "primary",
                        fontWeight: "bold",
                        size: "small",
                    })
        .calendar__days-container.js-calendar__days-container
        .calendar__btn-control
            .calendar__btn-clear
                +button({
                    text: btnClear,
                    theme: "text",
                    textColor: "text-secondary",
                    classes: [
                        "js-calendar__btn-clear",
                    ],
                })
            .calendar__btn-apply
                +button({
                    text: btnApply,
                    theme: "text",
                    classes: [
                        "js-calendar__btn-apply",
                    ],
                })
