@import './calendar__date-navigation.scss';
@import './__btn-change-month/calendar__btn-change-month.scss';
@import './calendar__weekday-names.scss';
@import './calendar__weekday-name.scss';
@import './calendar__days-container.scss';
@import './__day-week/calendar__day-week.scss';
@import './__day-week/calendar__day-week_theme_another-month.scss';
@import './__day-week/calendar__day-week_theme_today.scss';
@import './calendar__btn-control.scss';
@import './__day-week/calendar__day-week_theme_range-day.scss';
@import './__day-week/calendar__day-week_theme_range-day-middle.scss';
@import './__day-week/calendar__day-week_range-day-start.scss';
@import './__day-week/calendar__day-week_range-day-end.scss';

.calendar {
  @include reset-css;
  @include no-select;
  width: 100%;
  max-width: 320px;
  padding: 20px 20px;
  background: #ffffff;
  border: 1px solid $color-dark-25;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px $color-dark-5;
  box-shadow: 0px 10px 20px $color-dark-5;
  border-radius: 4px;
}
