@import './calendar__date-navigation.scss';
@import './__btn-change-month/calendar__btn-change-month.scss';
@import './calendar__weekday-names.scss';
@import './calendar__weekday-name.scss';
@import './calendar__days-container.scss';
@import './__day-week/calendar__day-week.scss';
@import './__day-week/calendar__day-week_theme_another-month.scss';
@import './__day-week/calendar__day-week_theme_today.scss';
@import './calendar__btn-control.scss';
@import './__day-week/calendar__day-week_theme_range-day.scss';
@import './__day-week/calendar__day-week_theme_range-day-middle.scss';
@import './__day-week/calendar__day-week_range-day-start.scss';
@import './__day-week/calendar__day-week_range-day-end.scss';

.calendar {
  @include reset-css;
  @include no-select;
  width: 100%;
  max-width: 320px;
  padding: 1.4286rem 1.4286rem;
  background: #ffffff;
  border: 0.0714rem solid $color-dark-25;
  box-sizing: border-box;
  box-shadow: 0rem 0.7143rem 1.4286rem $color-dark-5;
  border-radius: 0.2857rem;
}
