.date-range {
  width: 100%;
  max-width: 400px;

  &_range-select {

    .date-range__container {
      display: block;
    }
  }

  &__dropdowns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }

  &__dropdown-container {
    width: 50%;
    max-width: 150px;
    min-width: 50%;

    &:first-child {
      padding-right: 10px;
    }

    &:last-child {
      padding-left: 10px;
    }
  }

  &__dropdown-head {
    margin-bottom: 4px;
  }

  &__dropdown {
    width: 100%;
    height: $very-big-size;
    display: flex;
    background-color: #fff;
    border: 1px solid $light-title;
    box-sizing: border-box;
    border-radius: 4px;
    color: $text-primary;
    overflow: hidden;
    cursor: pointer;
  
    &:hover {
      border-color: $text-secondary;
    }

    &_selected {
      border-color: $text-secondary;
    }
  }

  &__dropdown-text {
    @include reset-css;

    @include text-body;
    width: 100%;
    max-width: 100%;
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    line-height: 3rem;
  }

  &__expand-button {
    min-width: 44px;
    height: 42px;
  }
  
  &__container {
    width: 100%;
    position: relative;
    display: none;
  }

  &__calendar {
    position: absolute;
    z-index: 999;
    top: 5px;
  }
}
