.date-range {
  width: 100%;

  &_range-select {

    .date-range__container {
      display: block;
    }
  }

  &__dropdowns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  
    @media (max-width: 380px) {
      justify-content: space-between;
    }
  }

  &__dropdown-container {
    width: 100%;
    max-width: 150px;
  
    @media (max-width: 330px) {
      max-width: 50%;
    }
  }

  &__dropdown-head {
    margin-bottom: .2857rem;
  }

  &__dropdown {
    width: 100%;
    height: $very-big-size;
    display: flex;
    background-color: #fff;
    border: .0714rem solid $light-title;
    box-sizing: border-box;
    border-radius: .2857rem;
    color: $text-primary;
    cursor: pointer;
  
    &:hover {
      border-color: $text-secondary;
    }

    &_selected {
      border-color: $text-secondary;
    }
  }

  &__dropdown-text {
    @include reset-css;

    @include text-body;
    width: 100%;
    padding-left: 1rem;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    line-height: 3rem;
  }

  &__expand-button {
    min-width: 44px;
    height: 42px;
  }
  
  &__container {
    width: 100%;
    position: relative;
    display: none;
  }

  &__calendar {
    position: absolute;
    z-index: 999;
    margin-top: .3571rem;
  }
}
