include ../dropdown-head/dropdown-head.pug
include ../block-head/block-head.pug

mixin date-range(options={})
    -const {
    -   classes = [],
    -   textLeft = '',
    -   textRight = '',
    -   headLeft = '',
    -   headRight = '',
    -} = options;

    .date-range
        .date-range__dropdowns
            .date-range__dropdown-left
                if headLeft !== ''
                    .date-range__head
                        +block-head({
                            title: headLeft,
                        })
                +dropdown-head({
                    text: textLeft,
                })
            .date-range__dropdown-right
                if headRight !== ''
                    .date-range__head
                        +block-head({
                            title: headRight,
                        })
                +dropdown-head({
                    text: textRight,
                })
        