include ../dropdown/dropdown.pug
include ../dropdown-counter/dropdown-counter.pug

mixin dropdown-guest(options={})
    -const {
    -   title = 'Гости',
    -   text = 'Сколько гостей',
    -} = options;

    +dropdown({
        title,
        text,
    })
        +dropdown-counter({
            text: 'взрослые',
        })
        +dropdown-counter({
            text: 'дети',
        })
        +dropdown-counter({
            text: 'младенцы',
        })
