include /logo/logo.pug
include /menu/menu.pug
include /button/button.pug

mixin header(options = {})
  -
    const {
      menu,
      user,
      buttonLogin = "войти",
      buttonRegister = "зарегистрироваться",
      buttonLoginHref = "./sign-in.html",
      buttonRegisterHref = "./registration.html",
      mobileButtonIcon = "view_headline",
    } = options;

  header.header.js-header
    .header__content
      .header__main
        .header__logo
          +logo()
        .header__expand-mobile-menu-button
          +button({
            dataAction: "expand-mobile-menu",
            text: mobileButtonIcon,
            theme: "icon",
            isActiveTabindex: true,
          })
      .header__nav-container
        .header__menu
          +menu(menu)
        .header__personal-area
          if user
            p.header__user-name #{user}
          else
            .header__buttons
              .header__button-login
                +button({
                  text: buttonLogin,
                  href: buttonLoginHref,
                  isSizeSmall: true,
                  theme: "light",
                  isActiveTabindex: true,
                })
              .header__button-register
                +button({
                  text: buttonRegister,
                  href: buttonRegisterHref,
                  isSizeSmall: true,
                  isActiveTabindex: true,
                })
