$root: '.header';

#{$root} {
  background-color: #fff;
  box-shadow: 0 10px 20px $dim-shadow;

  &_extended {

    #{$root}__main {
      @media (max-width: $breakpoint-tablets) {
        margin-bottom: 20px;
      }
    }

    #{$root}__nav-container {
      @media (max-width: $breakpoint-tablets) {
        display: block;
      }
    }
  }

  &__content {
    @include container-content;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablets) {
      flex: auto;
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      width: 100%;
    }
  }

  &__logo {
    flex: auto;
  }

  &__expand-mobile-menu-button {
    display: none;

    @media (max-width: $breakpoint-tablets) {
      display: block;
    }
  }

  &__nav-container {
    margin-left: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      display: none;
      width: 100%;
      margin-left: 0;
    }
  }

  &__personal-area {
    margin-left: $middle-second-size;

    @media (max-width: $breakpoint-tablets) {
      margin: 20px 0 20px;
    }
  }

  &__user-name {
    padding-left: 20px;
    border-left: 1px solid $dim-border;
    color: $text-secondary;

    @media (max-width: $breakpoint-tablets) {
      padding: 20px 0 0;
      border-left: 0;
      border-top: 1px solid $dim-border;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: baseline;

    @media (max-width: $breakpoint-tablets) {
      flex-wrap: wrap;
    }
  }

  &__button-login {
    margin-right: 20px;

    @media (max-width: $breakpoint-tablets) {
      margin: 0 20px (20px / 3) 0;
    }
  }
}
