.header {
  background-color: #fff;
  box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;

  &_extended {

    .header__main {
      @media (max-width: $breakpoint-tablets) {
        margin-bottom: 20px;
      }
    }

    .header__nav-container {
      @media (max-width: $breakpoint-tablets) {
        display: block;
      }
    }
  }

  &__content {
    @include reset-css;

    @include container-content;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablets) {
      flex: auto;
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      width: 100%;
    }
  }

  &__logo {
    flex: auto;
  }

  &__expand-mobile-menu-button {
    display: none;

    @media (max-width: $breakpoint-tablets) {
      display: block;
    }
  }

  &__nav-container {
    margin-left: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: $breakpoint-tablets) {
      display: none;
      width: 100%;
      margin-left: 0;
    }
  }

  &__personal-area {
    margin-left: $middle-second-size;

    @media (max-width: $breakpoint-tablets) {
      margin: $middle-first-size 0rem $middle-first-size 0rem;
    }
  }

  &__user-name {
    @include reset-css;

    @include text-body;
    padding-left: $middle-first-size;
    border-left: .0714rem solid $dim-border;
    color: $text-secondary;

    @media (max-width: $breakpoint-tablets) {
      padding: $middle-first-size 0rem 0rem 0rem;
      border-left: 0;
      border-top: .0714rem solid $dim-border;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: baseline;

    @media (max-width: $breakpoint-tablets) {
      flex-wrap: wrap;
    }
  }

  &__button-login {
    margin-right: $middle-first-size;

    @media (max-width: $breakpoint-tablets) {
      margin: 0 $middle-first-size ($middle-first-size / 3) 0;
    }
  }
}
