.room-details-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $breakpoint3) {
    flex-direction: column;
  }
}

.room-details-banner__img-column {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint3) {
    width: 100%;
  }
}

.room-details-banner__img-item-container {
  height: 50%;

  @media (max-width: $breakpoint3) {
    height: auto;
  }
}

.room-details-banner__img-item {
  width: 100%;
}

.room-details-banner__main-img-container {
  width: 68%;

  @media (max-width: $breakpoint3) {
    width: 100%;
  }
}

.room-details-banner__main-img {
  width: 100%;
  height: 100%;
}
