@import './room-details-banner__main-img-container.scss';
@import './room-details-banner__main-img.scss';
@import './room-details-banner__img-column.scss';
@import './room-details-banner__img-item-container.scss';
@import './room-details-banner__img-item.scss';

.room-details-banner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  @media (max-width: $breakpoint3) {
    flex-direction: column;
  }
}
