.room-reservation__service-cost_additional-services .room-reservation__service-cost-text {
    line-height: 18px;
    
}

.room-reservation__service-cost_additional-services {
    margin-bottom: 30px;
    height: 33px;
}