include /block-head/block-head.pug
include /rich-checkbox-button/rich-checkbox-button.pug

mixin rich-checkbox-buttons({ items, head })
    .rich-checkbox-buttons
        if head
            .rich-checkbox-buttons__head
                +block-head(head)
        .rich-checkbox-buttons__container
            for item in items
                .rich-checkbox-buttons__item
                    +rich-checkbox-button(item)
