mixin rating(options={})
    -
        const {
           stars = 0,
           allStars = 5,
        } = options;

    .rating
        -for (let i = 0, j = 0; i < allStars; i++, j++) 
            if j < stars
                .rating__star star
            else
                .rating__star star_border
