include ./logo/logo.pug
include ./block-head/block-head.pug
include ./text-field-subscription/text-field-subscription.pug
include ./text-field/text-field.pug
include ./dropdown/dropdown.pug
include ./checkbox-button/checkbox-button.pug
include ./radio-button/radio-button.pug
include ./toggle-input/toggle-input.pug
include ./toggle-button/toggle-button.pug
include ./like-button/like-button.pug
include ./dropdown-date/dropdown-date.pug
include ./rating/rating.pug
include ./range-slider/range-slider.pug
include ./radio-buttons/radio-buttons.pug
include ./checkbox-list-items/checkbox-list-items.pug
include ./checkbox-list/checkbox-list.pug
include ./toggle-buttons/toggle-buttons.pug
include ./button-go-to/button-go-to.pug
include ./pagination/pagination.pug
include ./dropdown-item-counter/dropdown-item-counter.pug
include ./checkbox-list-expend/checkbox-list-expend.pug
include ./advantage/advantage.pug
include ./rich-checkbox-button/rich-checkbox-button.pug
include ./bullet-list/bullet-list.pug
include ./comment/comment.pug
include ./dropdown-guest/dropdown-guest.pug
include ./images-slider/images-slider.pug
include ./menu/menu.pug
include ./menu-item/menu-item.pug
include ./menu-item-expend/menu-item-expend.pug
include ./dropdown-rooms/dropdown-rooms.pug
include ./room-advantages/room-advantages.pug
include ./room-impressions/room-impressions.pug
include ./comments-list/comments-list.pug
include ./text-block/text-block.pug
include ./form-pick-number/form-pick-number.pug
include ./form-create-account/form-create-account.pug
include ./room-reservation-form/room-reservation-form.pug
include ./form-log-in/form-log-in.pug
include ./calendar/calendar.pug
include ./hotel-number/hotel-number.pug
include ./hotel-room-info/hotel-room-info.pug
include ./date-range/date-range.pug
include ./colors-and-type/colors-and-type.pug
include ./form-elements-col1/form-elements-col1.pug
include ./form-elements/form-elements.pug
include ./cards/cards.pug
include ./colors-demo/colors-demo.pug
include ./text-demo/text-demo.pug
include ./header-footer/header-footer.pug
include ./header/header.pug
include ./copyright-bar/copyright-bar.pug
include ./footer/footer.pug
include ./footer-creative/footer-creative.pug
include ./search-filters/search-filters.pug
include ./found-rooms/found-rooms.pug
include ./dropdown-date-filter/dropdown-date-filter.pug
include ./form-elements-col2/form-elements-col2.pug
include ./checkbox-input/checkbox-input.pug
include ./radio-input/radio-input.pug
include ./like-buttons/like-buttons.pug
include ./rate-buttons/rate-buttons.pug
include ./form-elements-col3/form-elements-col3.pug
include ./buttons-demo/buttons-demo.pug
include ./form-elements-col4/form-elements-col4.pug
include ./form-elements-col5/form-elements-col5.pug