mixin copyright-bar(params={})
    .copyright-bar(class=params.classes)
        .container-content.container-content_horizontal.copyright-bar__container-content
            .text.text_body #{params.text}
            .copyright-bar__social-buttons
                .button.button_theme_social-icon.copyright-bar__social-icon &#xf099;
                .button.button_theme_social-icon.copyright-bar__social-icon &#xf082;
                .button.button_theme_social-icon.copyright-bar__social-icon &#xf16d;