include /button/button.pug
include /calendar/calendar.pug

mixin filter-date-dropdown({ head,  placeholder = "Выберите даты", name = "date-range" })
  .filter-date-dropdown.js-filter-date-dropdown(class=(isOpened ? "filter-date-dropdown_opened" : ""))
    .filter-date-dropdown__head #{head}
    .filter-date-dropdown__input-wrapper.js-filter-date-dropdown__input-wrapper
      input.filter-date-dropdown__input.js-filter-date-dropdown__input(
        placeholder=placeholder
        value=value
        name=name
        readonly
      )
      .filter-date-dropdown__expand-button
        +button({ text: "expand_more", theme: "icon" })
    .filter-date-dropdown__container
      .filter-date-dropdown__calendar
        +calendar()
