.input-toggle__switch {
    width: 40px;
    height: 20px;
    background: white;
    border: 1px solid $color-dark-25;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px;
}

.input-toggle__input:checked + .input-toggle__switch {
    border-color: $color-purple;
}
.input-toggle__input:checked + .input-toggle__switch .input-toggle__switch-indicator {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    float: right;
}