.room-reservation__service-cost {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin-bottom: 1.0714rem;
    padding-left: 0.0714rem;
}

@import './room-reservation__service-cost-text.scss';
@import './room-reservation__service-cost-icon.scss';
@import './room-reservation__service-cost-value.scss';