.room-reservation__service-cost-icon {
    display: inline-flex;
    width: 1.4286rem;
    height: 1.4286rem;
    border: 0.0714rem solid $color-dark-25;
    box-sizing: border-box;
    color: $color-dark-25;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    line-height: 1.2857rem;
}