include ../text/text.pug

mixin receipt(options = {})
    -
        const {
            total = 0,
            items = [],
        } = options;

        totalRes = `${total}₽`;

    .receipt
        for item in items
            -
                const {
                   text = '',
                   price = '',
                   icon = false,
                } = item;

                priceRes = `${price}₽`;

            .receipt__item
                .receipt__text-container
                    +text({
                        text,
                        color: 'text-primary',
                        lineHeight: 'small',
                    })
                if icon
                    .receipt__icon i
                .receipt__price
                    +text({
                        text: priceRes,
                        color: 'text-primary',
                        lineHeight: 'small',
                        horizontal: 'right', 
                    })
                    
        .receipt__total-sum
            +text({
                text: 'Итого',
                theme: 'h2',
                fontName: 'montserrat',
            })
            .receipt__separate-line
            +text({
                text: totalRes,
                theme: 'h2',
                fontName: 'montserrat',
                whiteSpace: 'nowrap',
            })