mixin text-demo(items = [])
    .text-demo
        for item in items
            -const {title, example, theme} = item;
            .text-demo__item
                .text-demo__item-name
                    +text({
                        text: title,
                        theme: theme,
                        fontWeight: "normal",
                        color: "light-title",
                    })
                .text-demo__item-value
                    +text({
                        text: example,
                        theme: theme,
                    })
