mixin room-details__info(params={})
    .room-details__info(class=params.classes)
        .room-details__info-head
            +room-advantages({
                items: [
                    {
                        icon: 'insert_emoticon',
                        title: 'Комфорт',
                        text: 'Шумопоглощающие стены'
                    },
                    {
                        icon: 'location_city',
                        title: 'Удобство',
                        text: 'Окно в каждой из спален'
                    },
                    {
                        icon: 'whatshot',
                        title: 'Уют',
                        text: 'Номер оснащён камином'
                    }
                ]
            })
            +room-impressions({
                classes: 'room-details__info-head-impressions',
                values: {
                    veryGood: 420,
                    good: 360,
                    fine: 260,
                    bad: 50
                }
            })
        +comments-list({
            classes: 'room-details__info-comments-list',
            counter: '2 отзыва',
            comments: [
                {
                    image: 'user1.png',
                    user: 'Мурад Сарафанов',
                    date: '5 дней назад',
                    likes: 11,
                    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                },
                {
                    image: 'user2.png',
                    user: 'Патрисия Стёклышкова',
                    date: 'Неделю назад',
                    likes: 2,
                    text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
                }
            ].map(item => {
                item.image = `/images/avatars/${item.image || ''}`;
                return item;
            })
        })
        .room-details__info-additional
            +bullet-list({
                title: 'Правила',
                list: [
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а выезд до 12:00'
                ]
            })
            +text-block({
                classes: 'room-details__info-additional-text',
                title: 'Отмена',
                text: 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
            })