include /menu/menu.pug

mixin footer-nav({ items, title = "" })
    .footer-nav
        p.footer-nav__title #{title}
        .footer-nav__menu
            +menu({
                items,
                theme: "vertical",
            })
