@import "../colors-demo/colors-demo.scss";
@import "../text-demo/text-demo.scss";

@import "./colors-and-type__container-content.scss";
@import "./colors-and-type__text-demo.scss";

.colors-and-type {
  width: 100%;
  background-color: #fff;
  justify-content: space-around;
  display: flex;
}
