.colors-and-type__container-content {
  @include reset-css;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4.7857rem 3.8571rem 0rem 0.7143rem;
  margin: 0 auto;

  @media (max-width: $breakpoint2) {
    padding: 4.7857rem 0rem 0rem 0rem;
  }

  @media (max-width: $breakpoint3) {
    flex-direction: column;
    align-items: center;
  }
}
