.logo {
  @include reset-link;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;

  &__text {
    margin-left: 11.5px;
    width: 3.9286rem;
    height: 1rem;
  }

  &__icon {
    width: 3.4286rem;
    height: 3.4286rem;
  }

  &__icon-main {
    width: 2.8571rem;
    height: 2.8571rem;
  }
}
