mixin logo(isMinimality = false)
    a.logo(href="./landing-page.html")
        if isMinimality
            include ./icon.svg
        else
            include ./icon-main.svg
            include ./text.svg  
