mixin logo(options={})
    -
        const {
           theme = 'default',
           href = '',
        } = options;

        const classList = [];

        classList.push(`logo_theme_${theme}`);

        const classListStr = classList.join(' ');

    a.logo(class=classListStr, href=href)
        case theme
            when 'minimal'
                include ./icon.svg
            default
                include ./icon-main.svg
                include ./text.svg  
