mixin logo(isMinimality = false)
    a.logo(href="./landing-page.html")
        if isMinimality
            .logo__icon
                include ./icon.svg
        else
            .logo__icon-main
                include ./icon-main.svg
            .logo__text
                include ./text.svg  
