mixin bullet-list({ items, title, titleTagNumber = 3, isTitleThemeH2 })
  .bullet-list
    #{`h${titleTagNumber}`}.bullet-list__title(class=(isTitleThemeH2 ? "bullet-list__title_theme_h2" : "")) #{title}
    ul.bullet-list__container
      for item in items
        li.bullet-list__item #{item}
