mixin bullet-list({ items, head })
  .bullet-list
    h3.bullet-list__head(class=(head.isMarginBottomBig ? "bullet-list__head_margin-bottom_big" : "")) #{head}
    ul.bullet-list__container
      for item in items
        li.bullet-list__item #{item}
