$marker-size: $tiny-size;

.bullet-list {
  width: 100%;
  max-width: 270px;

  &__head {
    margin: 0rem 0rem $small-size $middle-first-size;

    &_margin-bottom_big {
      margin-bottom: 1.2143rem;
    }
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include text-body;
    list-style: none;
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: $tiny-size;
    }

    &::before {
      content: '';
      display: inline-block;
      width: $marker-size;
      height: $marker-size;
      border-radius: 50%;
      background-color: $light-title;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}
