$marker-size: $tiny-size;

.bullet-list {
  width: 100%;
  max-width: 270px;

  &__title {
    @include text-h3;
    margin: 0 0 $small-size $middle-first-size;

    &_theme_h2 {
      @include text-h2;
      margin: 0 0 17px $middle-first-size;
      font-family: Montserrat, Arial, sans-serif;
    }
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include text-body;
    list-style: none;
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: $tiny-size;
    }

    &::before {
      content: '';
      display: inline-block;
      width: $marker-size;
      height: $marker-size;
      border-radius: 50%;
      background-color: $light-title;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}
