.bullet-list {
  max-width: 270px;

  &__title {
    @include text-h3;
    margin: 0 0 12px 20px;

    &_theme_h2 {
      @include text-h2;
      margin: 0 0 17px 20px;
      font-family: Montserrat, Arial, sans-serif;
      text-transform: none;
    }
  }

  &__container {
    list-style: none;
  }

  &__item {
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: $tiny-size;
    }

    &::before {
      position: absolute;
      left: 0;
      top: 7px;
      padding: 5px;
      content: '';
      border-radius: 50%;
      background-color: $light-title;
    }
  }
}
