mixin toggle-buttons(params={})
    .toggle-buttons(class=params.classes)
        +block-head({
            classes: 'toggle-buttons__block-head',
            title: params.title,
            help: params.help
        })
        .toggle-buttons__container
            -const items = params.items || [];
            -for(let i = 0; i < items.length; i++){
                -const item = items[i];
                -item.classes = (item.classes || '') + ' toggle-buttons__toggle-button';
                +toggle-button(item)
            -}