/** Montserrat **/
/* @font-face {
	font-family: 'Conv_Montserrat-Black';
	src: url('./Montserrat-Black.eot');
	src: local('☺'), url('./Montserrat-Black.woff') format('woff'), url('./Montserrat-Black.ttf') format('truetype'), url('./Montserrat-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-BlackItalic';
	src: url('./Montserrat-BlackItalic.eot');
	src: local('☺'), url('./Montserrat-BlackItalic.woff') format('woff'), url('./Montserrat-BlackItalic.ttf') format('truetype'), url('./Montserrat-BlackItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Bold.eot');
	src: local('☺'), url('./Montserrat-Bold.woff') format('woff'), url('./Montserrat-Bold.ttf') format('truetype'), url('./Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

/* @font-face {
	font-family: 'Conv_Montserrat-BoldItalic';
	src: url('./Montserrat-BoldItalic.eot');
	src: local('☺'), url('./Montserrat-BoldItalic.woff') format('woff'), url('./Montserrat-BoldItalic.ttf') format('truetype'), url('./Montserrat-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-ExtraBold.eot');
	src: local('☺'), url('./Montserrat-ExtraBold.woff') format('woff'), url('./Montserrat-ExtraBold.ttf') format('truetype'), url('./Montserrat-ExtraBold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-ExtraBoldItalic.eot');
	src: local('☺'), url('./Montserrat-ExtraBoldItalic.woff') format('woff'), url('./Montserrat-ExtraBoldItalic.ttf') format('truetype'), url('./Montserrat-ExtraBoldItalic.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}

/* @font-face {
	font-family: 'Conv_Montserrat-ExtraLight';
	src: url('./Montserrat-ExtraLight.eot');
	src: local('☺'), url('./Montserrat-ExtraLight.woff') format('woff'), url('./Montserrat-ExtraLight.ttf') format('truetype'), url('./Montserrat-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-ExtraLightItalic';
	src: url('./Montserrat-ExtraLightItalic.eot');
	src: local('☺'), url('./Montserrat-ExtraLightItalic.woff') format('woff'), url('./Montserrat-ExtraLightItalic.ttf') format('truetype'), url('./Montserrat-ExtraLightItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Light.eot');
	src: local('☺'), url('./Montserrat-Light.woff') format('woff'), url('./Montserrat-Light.ttf') format('truetype'), url('./Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-LightItalic.eot');
	src: local('☺'), url('./Montserrat-LightItalic.woff') format('woff'), url('./Montserrat-LightItalic.ttf') format('truetype'), url('./Montserrat-LightItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-Medium';
	src: url('./Montserrat-Medium.eot');
	src: local('☺'), url('./Montserrat-Medium.woff') format('woff'), url('./Montserrat-Medium.ttf') format('truetype'), url('./Montserrat-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-MediumItalic';
	src: url('./Montserrat-MediumItalic.eot');
	src: local('☺'), url('./Montserrat-MediumItalic.woff') format('woff'), url('./Montserrat-MediumItalic.ttf') format('truetype'), url('./Montserrat-MediumItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Montserrat';
	src: url('./Montserrat-Regular.eot');
	src: local('☺'), url('./Montserrat-Regular.woff') format('woff'), url('./Montserrat-Regular.ttf') format('truetype'), url('./Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: 'Conv_Montserrat-RegularItalic';
	src: url('./Montserrat-RegularItalic.eot');
	src: local('☺'), url('./Montserrat-RegularItalic.woff') format('woff'), url('./Montserrat-RegularItalic.ttf') format('truetype'), url('./Montserrat-RegularItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-SemiBold';
	src: url('./Montserrat-SemiBold.eot');
	src: local('☺'), url('./Montserrat-SemiBold.woff') format('woff'), url('./Montserrat-SemiBold.ttf') format('truetype'), url('./Montserrat-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-SemiBoldItalic';
	src: url('./Montserrat-SemiBoldItalic.eot');
	src: local('☺'), url('./Montserrat-SemiBoldItalic.woff') format('woff'), url('./Montserrat-SemiBoldItalic.ttf') format('truetype'), url('./Montserrat-SemiBoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-Thin';
	src: url('./Montserrat-Thin.eot');
	src: local('☺'), url('./Montserrat-Thin.woff') format('woff'), url('./Montserrat-Thin.ttf') format('truetype'), url('./Montserrat-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Montserrat-ThinItalic';
	src: url('./Montserrat-ThinItalic.eot');
	src: local('☺'), url('./Montserrat-ThinItalic.woff') format('woff'), url('./Montserrat-ThinItalic.ttf') format('truetype'), url('./Montserrat-ThinItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/** Quicksand **/
@font-face {
	font-family: 'Quicksand';
	src: url('./Quicksand-Bold.eot');
	src: local('☺'), url('./Quicksand-Bold.woff') format('woff'), url('./Quicksand-Bold.ttf') format('truetype'), url('./Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('./Quicksand-Light.eot');
	src: local('☺'), url('./Quicksand-Light.woff') format('woff'), url('./Quicksand-Light.ttf') format('truetype'), url('./Quicksand-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* @font-face {
	font-family: 'Conv_Quicksand-Medium';
	src: url('./Quicksand-Medium.eot');
	src: local('☺'), url('./Quicksand-Medium.woff') format('woff'), url('./Quicksand-Medium.ttf') format('truetype'), url('./Quicksand-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Quicksand';
	src: url('./Quicksand-Regular.eot');
	src: local('☺'), url('./Quicksand-Regular.woff') format('woff'), url('./Quicksand-Regular.ttf') format('truetype'), url('./Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: 'Conv_Quicksand-SemiBold';
	src: url('./Quicksand-SemiBold.eot');
	src: local('☺'), url('./Quicksand-SemiBold.woff') format('woff'), url('./Quicksand-SemiBold.ttf') format('truetype'), url('./Quicksand-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* @font-face {
	font-family: 'Conv_Quicksand-VariableFont';
	src: url('./Quicksand-VariableFont:wght.eot');
	src: local('☺'), url('./Quicksand-VariableFont:wght.woff') format('woff'), url('./Quicksand-VariableFont:wght.ttf') format('truetype'), url('./Quicksand-VariableFont:wght.svg') format('svg');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Material Icons';
	src: url('./MaterialIcons-Regular.eot');
	src: local('☺'), url('./MaterialIcons-Regular.woff') format('woff'), url('./MaterialIcons-Regular.ttf') format('truetype'), url('./MaterialIcons-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Font Awesome 5 Brands';
	src: url('./fa-brands-400.eot');
	src: local('☺'), url('./fa-brands-400.woff') format('woff'), url('./fa-brands-400.ttf') format('truetype'), url('./fa-brands-400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}