mixin dropdown-date-filter(params={})
    .dropdown-date-filter(class=params.classes)
        -if(params.title || params.help) {
            +block-head({
                title: params.title,
                help: params.help,
                classes: 'dropdown-date-filter__block-head'
            })
        -}
        +dropdown({
            text: params.dateRange || ''
        })