.like-button__counter {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: $color-dark-25;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}