mixin like-button(params)
    -if (!params.classes) params.classes = '';
    -if (params.checked) params.classes += ' like-button_active'
    .like-button(class=params.classes)
        .like-button__icon favorite_border
        .like-button__counter #{params.likes}