mixin header(params={})
    .header(class=params.classes)
        include ../../lib.blocks/index.pug
        .container-content.header__container-content
            +logo('logo_theme_main header__logo')
            +menu()
                +menu-item({
                    text: 'Home',
                    current: true,
                    classes: 'menu__item'
                })
                +menu-item({
                    text: 'About Us',
                    classes: 'menu__item'
                })
                +menu-item-expend({
                    text: 'Services',
                    classes: 'menu__item-expend'
                })
                +menu-item({
                    text: 'Careers',
                    classes: 'menu__item'
                })
                +menu-item({
                    text: 'News',
                    classes: 'menu__item'
                })
                +menu-item({
                    text: 'Documentation',
                    classes: 'menu__item'
                })
            -if(params.user) {
                .header__user.text.text_body #{params.user}
            -} else {
                .button.button_theme_default-light.button_height_smile.header__button-login login
                .button.button_theme_default.button_height_smile register
            -}