mixin header(params={})
    .header(class=params.classes)
        include ../../lib.blocks/index.pug
        .container-content.container-content_horizontal.container-content_items_center
            +logo('logo_theme_main header__logo')
            +menu({
                items: params.menu
            })
            -if(params.user) {
                .header__user.text.text_body #{params.user}
            -} else {
                .button.button_theme_default-light.button_height_smile.header__button-login #{params.login}
                .button.button_theme_default.button_height_smile #{params.register}
            -}