.colors-and-type {
  width: 100%;
  background-color: #fff;
  justify-content: space-around;
  display: flex;

  &__container-content {
    @include reset-css;
    padding: 64px 221px 145px 120px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 1160px) {
      padding: 64px 120px 120px;
    }


    @media (max-width: $breakpoint-laptops) {
      padding: 64px 100px 120px;
    }

    @media (max-width: 950px) {
      padding: 64px 50px 120px;
    }

    @media (max-width: $breakpoint-cell-phones) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__demo-text {
    @media (max-width: $breakpoint-cell-phones) {
      margin-top: 2.8571rem;
    }
  }
}
