extends /../template/page.pug

include /colors-and-type/colors-and-type.pug

block pageHead
  title Цвета и текст
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Used colors and text")

block content
  +colors-and-type()
