include /date-picker/date-picker.pug
include /dropdown/dropdown.pug
include /button/button.pug

mixin card-selection-room(options = {})
  -
    const {
      title = "Найдём номера под ваши пожелания",
      titleTagNumber = 3,
      datePicker = {},
      dropdownGuest = require('@components/dropdown/config.json').guests,
      searchButtonRoom = "подобрать номер",
      formAction = "./search-room.html",
    } = options;

  .card-selection-room
    #{`h${titleTagNumber}`}.card-selection-room__title #{title}
    form.card-selection-room__form(action=formAction, method="get")
      .card-selection-room__date-range
        +date-picker(datePicker)
      .card-selection-room__dropdown-guest
        +dropdown(dropdownGuest)
      .card-selection-room__search-button
        +button({
          text: searchButtonRoom,
          isLong: true,
          withArrow: true,
          type: "submit"
        })
