include /date-range/date-range.pug
include /dropdown/dropdown.pug
include /button/button.pug

mixin card-selection-room(options = {})
  -
    const {
      title = "Найдём номера под ваши пожелания",
      titleNumber = 3,
      dateRange = {},
      dropdownGuest = {
        head: { title: "Гости" },
        value: "Сколько гостей",
        name: "guests",
        variations: {
          adults:  ["гость", "гостя", "гостей"],
          babies: ["младенец", "младенца", "младенцев"],
        },
        counters: [
          { text: "взрослые", group: "adults", value: 0 },
          { text: "дети", group: "adults", value: 0 },
          { text: "младенцы", group: "babies", value: 0 },
        ],
        withControls: true,
      },
      searchButtonRoom = "подобрать номер",
      formAction = "./search-room.html",
    } = options;

    const titleTag = `h${titleNumber}`;

  .card-selection-room
    #{titleTag}.card-selection-room__title #{title}
    form.card-selection-room__form(action=formAction, method="get")
      .card-selection-room__date-range
        +date-range(dateRange)
      .card-selection-room__dropdown-guest
        +dropdown(dropdownGuest)
      .card-selection-room__search-button
        +button({
          text: searchButtonRoom,
          isLong: true,
          withArrow: true,
          type: "submit"
        })
