.footer {
    background: #fff;
    box-shadow: 0px 1px 0px #1f20411a;
    height: 372px;
}

@import './footer__container-content.scss';
@import './footer__site-info.scss';
@import './footer__site-info-logo.scss';
@import './__nav-container/footer__nav-container.scss';
@import './footer__subscribe.scss';
@import './footer__container-title.scss';
@import './footer__subscribe-text.scss';