$mobile-width: 768px;

.footer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1px 0 $dim-border;

  &__content {
    @include reset-css;

    @include container-content;
    padding-top: 7.1429rem;
    padding-bottom: 5.7143rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: 1070px) {
      justify-content: space-around;
    }

    @media (max-width: $mobile-width) {
      padding: 120px 0 0 0;
    }
  }
  
  &__site-description {
    width: 100%;
    max-width: 260px;
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile-width) {
      margin-bottom: 15px;
      align-items: center;
    }
  }

  &__description {
    @include text-body;
    margin-top: 14px;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &__nav-container {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: 1070px) {
      display: none;
    }
  }
  
  &__nav {
    margin-top: .3571rem;
    width: 100%;
    max-width: 160px;
  
    @media (max-width: $breakpoint-cell-phones) {
      display: none;
    }

    &-title {
      @include text-h3;
      margin-bottom: 1.5rem;
    }
  }
  
  &__subscribe-container {
    @include reset-css;
    margin-top: .3571rem;
    width: 100%;
    max-width: 260px;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  
  &__subscribe-title {
    @include text-h3;
    margin-bottom: 1.2857rem;
  }

  &__subscribe-description {
    @include text-body;
    margin-bottom: $middle-third-size;
  }

  &__copyright {
    border-top: .0714rem solid #e5e5e5;
    
    @media (max-width: $mobile-width) {
      border-top: 0;
    }
  }

  &__copyright {
    padding: 23px 0;
    background: #fff;
    box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;
  
    &-content {
      @include container-content;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $mobile-width) {
        flex-direction: column;
      }
    }

    @media (max-width: $mobile-width) {
      padding: 0 0 120px 0;
    }
  
    &-text {
      @include text-body;

      @media (max-width: $mobile-width) {
        margin-bottom: 20px;
      }
    }
  }
}
