include ../text/text.pug
include ../button/button.pug

mixin copyright-bar(copyright = "", socialButtons = [])
    .copyright-bar
        .container-content
            .copyright-bar__container-content
                .copyright-bar__copyright-text
                    +text({
                        text: copyright,
                    })
                .copyright-bar__social-buttons
                    -
                        if (socialButtons.length === 0) {
                            socialButtons = [
                                {text: "twitter", href: "https://twitter.com"},
                                {text: "facebook-square", href: "https://ru-ru.facebook.com"},
                                {text: "instagram", href: "https://www.instagram.com"},
                            ];
                        }
                    for button in socialButtons
                        -
                            const {
                                text = "",
                                href = "",
                            } = button;

                        .copyright-bar__social-button
                            +button({
                                text,
                                href,
                                theme: "social",
                                target: "_blank",
                                rel: "noopener noreferrer",
                            })
