include ../text/text.pug
include ../button/button.pug

mixin copyright-bar(options={})
    -
        const {
           text: copyright = '',
           socialButtons = [],
        } = options;

    .copyright-bar
        .container-content
            .copyright-bar__container-content
                .copyright-bar__text
                    +text({
                        text: copyright,
                    })
                .copyright-bar__social-buttons
                    for button in socialButtons
                        -const {
                        -   text = '',
                        -   href = '',
                        -} = button;

                        .copyright-bar__social-button
                            +button({
                                text,
                                href,
                                theme: 'social',
                            })
