@import './copyright-bar__container-content.scss';
@import './copyright-bar__social-buttons.scss';
@import './copyright-bar__social-button.scss';
@import './copyright-bar__text.scss';

.copyright-bar {
  height: 5rem;
  background: #fff;
  box-shadow: 0rem 0.7143rem 1.4286rem $color-dark-5;
}
