include ../text/text.pug
include ../button/button.pug
include ../social-buttons/social-buttons.pug

mixin copyright-bar(options = {})
    -
        const {
            copyright = "",
            socialButtons = null,
        } = options;
    .copyright-bar
        .container-content
            .copyright-bar__container-content
                .copyright-bar__copyright-text
                    +text({
                        text: copyright,
                    })
                .copyright-bar__social-buttons
                    +social-buttons(socialButtons)
