.copyright-bar {
  height: 5rem;
  background: #fff;
  box-shadow: 0rem $tiny-size $middle-first-size $dim-shadow;

  &__content {
    @include container-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright-text {
    @include text-body;
    
    @media (max-width: $breakpoint-cell-phones) {
      margin-right: $tiny-size;
    }
  }

  &__social-buttons {
    padding-bottom: $micro-size;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__social-button:not(:last-child) {
    margin-right: $middle-first-size;
  }
}
