include ../block-head/block-head.pug
include ../radio-button/radio-button.pug

mixin radio-buttons(options={})
    -const {
    -   head = '',
    -   group = '',
    -   items = [],
    -   selectedItem = 0,
    -} = options;

    .radio-buttons
        if head !== ''
            .radio-buttons__head
                +block-head({
                    title: head,
                })
        .radio-buttons__container
            -items.forEach((item, index) => {
                -let checked = false;
                -if(index === selectedItem) checked = true;

                .radio-buttons__button
                    +radio-button({
                        group,
                        checked,
                        text: item,
                    })
            -})
