include /block-head/block-head.pug
include /radio-button/radio-button.pug

mixin radio-buttons(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .radio-buttons
        if head !== null
            .radio-buttons__head
                +block-head(head)
        .radio-buttons__container
            for item in items
                .radio-buttons__button
                    +radio-button(item)
