.radio-buttons {
  &__head {
    margin-bottom: 1.1429rem;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.4286rem;
    }
  }
}
