.radio-buttons__button:not(:last-child) {
  margin-right: 1.4286rem;
}

.radio-buttons__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.radio-buttons__head {
  margin-bottom: 1.1429rem;
}
