.button_theme_light {
  height: 3.1429rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8571rem;
  line-height: 1.0714rem;
  border-radius: 1.5714rem;
  border: 0.1429rem solid $color-purple;
  color: $color-purple;
  text-transform: uppercase;
  padding: 0rem 1.2857rem;
}
