$size: 2.8571rem;

.button_theme_round-icon {
  width: $size;
  height: $size;
  background: $color-gradient-1;
  border-radius: 1.5714rem;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.4286rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
