$size: 3.1429rem;

.button_theme_icon {
  width: $size;
  height: $size;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.7143rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-dark-50;
}
