.button_theme_default {
  height: 44px;
  border-radius: 22px;
  padding: 0px 19.7px;
  font-size: 12px;
  line-height: 15px;
  background: $color-gradient-1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding-top: 2px;
}
