$size: 40px;

.button_theme_round {
  width: $size;
  height: $size;
  background: $color-gradient-1;
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
