mixin form-elements-col2(params={})
    .form-elements-col2(class=params.classes)
        +checkbox-list({
            title: 'Checkbox Buttons',
            items: [
                {
                    text: 'Можно курить'
                },
                {
                    text: 'Можно с питомцами',
                    checked: true
                },
                {
                    text: 'Можно пригласить гостей (до 10 человек)',
                    checked: true
                }
            ],
            classes: 'form-elements-col2__checkbox-list'
        })
        +radio-buttons({
            title: 'Radio Buttons',
            items: [
                {
                    text: 'Мужчина',
                    checked: true,
                    name: 'gender'
                },
                {
                    text: 'Женщина',
                    checked: false,
                    name: 'gender'
                }
            ],
            classes: 'form-elements-col2__radio-buttons'
        })
        +toggle-buttons({
            title: 'toggle',
            items: [
                {
                    text: 'Получать спецпредложения',
                    checked: true
                },
                {
                    text: 'Получать спецпредложения',
                    checked: false
                }
            ],
            classes: 'form-elements-col2__toggle-buttons'
        })
        +like-buttons({
            title: 'like button',
            items: [
                {
                    likes: 2
                },
                {
                    likes: 12,
                    checked: true
                }
            ],
            classes: 'form-elements-col2__like-buttons'
        })
        +rate-buttons({
            title: 'rate button',
            items: [
                {
                    stars: 4
                },
                {
                    stars: 5
                }
            ]
        })