mixin date-range(params={})
    .date-range(class=params.classes)
        -const dropdown1 = params.dropdown1 || {};
        -const dropdown2 = params.dropdown2 || {};
        +dropdown-date({
            classes: 'start',
            title: dropdown1.title ||'прибытие',
            date: dropdown1.date
        })
        +dropdown-date({
            classes: 'end',
            title: dropdown2.title || 'выезд',
            date: dropdown2.date
        })
        +calendar({
            classes: 'date-range__calendar'
        })