mixin date-range(params={})
    .date-range(class=params.classes)
        +dropdown-date({
            classes: 'start',
            title: params.dropdown1.title ||'прибытие',
            date: params.dropdown1.date
        })
        +dropdown-date({
            classes: 'end',
            title: params.dropdown2.title || 'выезд',
            date: params.dropdown2.date
        })
        +calendar({
            classes: 'date-range__calendar'
        })