.form-elements__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 10px;
  }

  @media (max-width: $breakpoint3) {
    width: 100%;
    margin-right: 0px;
  }
}
