.form-elements__column {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 0.7143rem;
  }

  @media (max-width: $breakpoint3) {
    width: 100%;
    margin-right: 0rem;
  }
}
