mixin radio-button(params={})
    .radio-button(class=params.classes)
        +radio-input({
            checked: params.checked,
            classes: 'radio-button__input',
            name: params.name,
            value: params.value
        })
        .radio-button__text #{params.text}