mixin footer(params={})
    .footer(class=params.classes)
        include ./__nav-container/footer__nav-container.pug
        .container-content.container-content_horizontal.container-content_items_center.footer__container-content
            .footer__site-info
                +logo('logo_theme_main footer__site-info-logo')
                .text.text_body #{params.siteDescription}
            if params.navigation
                +footer__nav-container(params.navigation)
            if params.aboutUs
                +footer__nav-container(params.aboutUs)
            if params.support
                +footer__nav-container(params.support)
            if params.subscribe
                .footer__subscribe
                    .text.text_h3.footer__container-title #{params.subscribe.title}
                    .text.text_body.footer__subscribe-text #{params.subscribe.text}
                    +text-field-subscription({
                        placeholder: 'Your email address'
                    })