include /logo/logo.pug
include /text/text.pug
include /footer-nav/footer-nav.pug
include /text-field/text-field.pug
include /container-content/container-content.pug

mixin footer(options = {})
    -
        const {
            siteDescription = "",
            navList = [],
            subscribe = {},
            copyright = "",
        } = options;

    footer.footer
        +container-content()
            .footer__content
                .footer__site-description
                    .footer__logo
                        +logo()
                    .footer__description
                        +text({
                            text: siteDescription,
                        })
                
                .footer__nav-container
                    for nav in navList
                        .footer__nav
                            +footer-nav(nav)
                
                .footer__subscribe-container
                    -
                        const {
                            title = "",
                            description = "",
                            placeholder = "",
                            formAction = "/mock-address/change-me",
                        } = subscribe;

                    .footer__subscribe-title
                        +text({
                            text: title,
                            theme: "h3",
                        })
                    .footer__subscribe-description
                        +text({
                            text: description,
                        })
                    form.footer__subscribe-text-field(action=formAction, method="post")
                        +text-field({
                            placeholder,
                            type: "email",
                            iconRight: "arrow_forward",
                        })
