include ../logo/logo.pug
include ../text/text.pug
include ../footer-nav/footer-nav.pug
include ../text-field/text-field.pug

mixin footer(options={})
    -
        const {
           siteDescription = '',
           navList = [],
           subscribe = {},
           copyright = '',
        } = options;

    footer.footer
        .container-content
            .footer__container-content
                .footer__site-description
                    .footer__logo
                        +logo({
                            href: '../landing-page/index.html',
                        })
                    .footer__description
                        +text({
                            text: siteDescription,
                        })
                
                for nav in navList
                    .footer__nav
                        +footer-nav(nav)
                
                .footer__subscribe-container
                    -
                        const {
                            title = '',
                            description = '',
                            placeholder = '',
                        } = subscribe;

                    .footer__subscribe-title
                        +text({
                            text: title,
                            theme: 'h3',
                        })
                    .footer__subscribe-description
                        +text({
                            text: description,
                        })
                    .footer__subscribe-text-field
                        +text-field({
                            placeholder,
                            iconRight: 'arrow_forward',
                        })
