include ../block-head/block-head.pug
include ../comment/comment.pug

mixin comments(options={})
    -
        const {
            head = null,
            items = [],
        } = options;

    
    .comments
        if head !== null
            .comments__head
                +block-head(head)
        .comments__body
            for item in items
                .comments__comment
                    +comment(item)
