include /colors-demo/colors-demo.pug
include /text-demo/text-demo.pug
include /container-content/container-content.pug

article.ui-kit__colors-and-texts
    +container-content()
        .ui-kit__colors-and-texts-container-content
            .ui-kit__colors-and-texts-colors-demo
                +colors-demo([
                    ["Dark Shade 100%", "#1F2041", "#1F2041"],
                    ["Dark Shade 75%", "#1F2041", "rgba(31, 32, 65, 0.75)"],
                    ["Dark Shade 50%", "#1F2041", "rgba(31, 32, 65, 0.5)"],
                    ["Dark Shade 25%", "#1F2041", "rgba(31, 32, 65, 0.25)"],
                    ["Dark Shade 5%", "#1F2041", "rgba(31, 32, 65, 0.05)"],
                    ["Purple", "#BC9CFF", "#BC9CFF"],
                    ["Green", "#6FCF97", "#6FCF97"],
                ])
            .ui-kit__colors-and-texts-text-demo
                +text-demo([
                    {
                        title: "H1",
                        example: "This one is the sub-section or widget title",
                        theme: "h1",
                    },
                    {
                        title: "H2",
                        example: "Next one is the item title inside widgets",
                        theme: "h2",
                    },
                    {
                        title: "H3",
                        example: "This is a label or CTA text",
                        theme: "h4",
                    },
                    {
                        title: "Body",
                        example: "This is the body text which is used for most of the design, like paragraphs, lists, etc.",
                        theme: "body",
                    },
                ])
