.ui-kit__colors-and-texts {
  width: 100%;
  background-color: #fff;
  justify-content: space-around;
  display: flex;

  &-container-content {
    @include reset-css;
    @include container-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4.7857rem 3.8571rem 0rem $tiny-size;
    margin: 0 auto;
  
    @media (max-width: $breakpoint-tablets) {
      padding: 4.7857rem 0rem 0rem 0rem;
    }
  
    @media (max-width: $breakpoint-cell-phones) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  &-demo-text {
    @media (max-width: $breakpoint-cell-phones) {
      margin-top: 2.8571rem;
    }  
  }
}
