.room-head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;

  &__room-info {
    @include reset-link;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    cursor: pointer;
  
    &:hover,
    &:active {
      border-bottom: 1px solid $light-title;
    }
  }

  &__number-prefix {
    @include text-body;
    font-weight: bold;
    white-space: pre;
    color: $text-title;
  }

  &__room-number {
    @include text-h1;
    
    &_theme_h2 {
      @include text-h2;
    }
  }

  &__luxury {
    @include text-h3;
    margin-left: .3571rem;
    color: $bg-primary;
  }

  &__price-container {
    @include text-body;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    color: $text-secondary;
  }

  &__price {
    margin-right: .2857rem;
    font-weight: bold;
  }

  &__price-period {
    white-space: pre;
    font-size: $small-size;
  }
}
