mixin footer(params={})
    .footer(class=params.classes)
        include ../../lib.blocks/index.pug
        include ./__nav-container/footer__nav-container.pug
        .container-content.footer__container-content
            .footer__site-info
                +logo('logo_theme_main footer__site-info-logo')
                .text.text_body Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            +footer__nav-container({
                title: 'Navigation',
                menuItems: [
                    'About Us',
                    'News',
                    'Support',
                    'Products'
                ]
            })
            +footer__nav-container({
                title: 'ABOUT US',
                menuItems: [
                    'Who we are',
                    'Our team',
                    'Careers',
                    'Investors'
                ]
            })
            +footer__nav-container({
                title: 'Support',
                menuItems: [
                    'Documentation',
                    'Community',
                    'Get in Touch'
                ]
            })
            .footer__subscribe
                .text.text_h3.footer__container-title Subscribe to our newsletter
                .text.text_body.footer__subscribe-text Receive our latest news and promotions in your inbox!
                +text-field-subscription({
                    placeholder: 'Your email address'
                })