mixin social-icon(options = {})
    -
        const {
            icon,
            href = "/mock-address/change-me",
        } = options;

    a.social-icon(href=href, target="_blank", rel="noopener noreferrer") #{icon}
