.room-details__banner {
    @include flex-row;
    flex-wrap: nowrap;
    height: 485px;
    margin-bottom: 70px;
}

@import './room-details__banner-column.scss';
@import './room-details__banner-img.scss';
@import './room-details__banner-main-img.scss';