include ../text/text.pug

mixin dropdown-head(options={})
    -const {
    -   text = '',
    -   icon = 'expand_more',
    -} = options;

    .dropdown-head.js-dropdown-head
        .dropdown-head__text
            +text({
                text,
                wspace: 'nowrap',
                noSelect: true,
                verticalMiddle: true,
                classes: [
                    'js-dropdown-head__text',
                ],
            })
        .dropdown-head__icon #{icon}
