mixin checkbox-input(params)
    .checkbox-input(class=params.classes)
        label.checkbox-input__label
            if params.checked
                input.checkbox-input__input(type='checkbox', checked)
            else
                input.checkbox-input__input(type='checkbox')
            .checkbox-input__new-input
                include ./vector.svg