.checkbox-input__new-input {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid $color-dark-25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3px 4px 5px 4px;
}

.checkbox-input__input:checked + .checkbox-input__new-input {
    border-color: $color-purple;
}

.checkbox-input__new-input svg {
    display: none;
}

.checkbox-input__input:checked + .checkbox-input__new-input svg {
    display: block;
}