include /dropdown/dropdown.pug
include /dropdown-counter/dropdown-counter.pug

mixin dropdown-room-amenities(options = {})
    -
        const {
            head = { title: "удобства номера" },
            text = "Удобства номера",
            variations = {
                bedrooms: [
                    "спальня",
                    "спальни",
                    "спален",
                ],
                beds: [
                    "кровать",
                    "кровати",
                    "кроватей",
                ],
                bathrooms: [
                    "ванная комната",
                    "ванные комнаты",
                    "ванныx комнат",
                ],
            },
            counters = [
                { label: "спальни", group: "bedrooms" },
                { label: "кровати", group: "beds" },
                { label: "ванные комнаты", group: "bathrooms" },
            ],
        } = options;

    +dropdown({
        head,
        text,
        variations,
        content: "room-amenities",
    })
        for counter in counters
            .dropdown-room-amenities__counter
                +dropdown-counter(counter)
