include /social-icon/social-icon.pug

mixin social-icons(icons)
  -
    icons = icons || [
      {icon: "twitter", href: "https://twitter.com"},
      {icon: "facebook-square", href: "https://ru-ru.facebook.com"},
      {icon: "instagram", href: "https://www.instagram.com"},
    ];

  ul.social-icons
    for icon in icons
      li.social-icons__icon
        +social-icon(icon)
