.menu_theme_vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;

  .menu__item {
    margin: 0rem 0rem 1.5rem 0rem;
  }
}
