@import './menu__item.scss';

.menu {
  @include reset-css;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  @media (max-width: $breakpoint2) {
    flex-direction: column;
    align-items: flex-start;
  }
}

@import './menu_theme_vertical.scss';
