include ../menu-item/menu-item.pug
include ../menu-item-expandable/menu-item-expandable.pug

mixin menu(options = {})
    -
        const {
            items = [],
            classes = [],
            theme = "",
        } = options;

        classes.push("menu");
        if (theme !== "") classes.push(`menu_theme_${theme}`);

        const classesStr = classes.join(" ");

    nav(class=classesStr)
        for item in items
            //- Если в item есть дочерние items, это menu-item-expandable
            -const isMenuItemExpandable = Object.hasOwnProperty.apply(item, ['items']);
            .menu__item
                if isMenuItemExpandable
                    +menu-item-expandable(item)
                else
                    +menu-item(item)
