.menu {
  @include reset-css;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $breakpoint-tablets) {
    flex-direction: column;
    align-items: flex-start;
  }

  &_theme_vertical {
    flex-direction: column;
    align-items: flex-start;
  
    .menu__item {
      margin: 0rem 0rem 1.5rem 0rem;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  
    @media (max-width: $breakpoint-tablets) {
      &:not(:last-child) {
        margin: 0rem 0rem 1.5rem 0rem;
      }
    }
  }
}
