@import './menu__item.scss';

.menu {
  @include reset-css;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media (max-width: $breackpoint2) {
    flex-direction: column;
    align-items: flex-start;
  }
}

@import './menu_theme_vertical.scss';
