mixin landing-page__banner(params={})
    .landing-page__banner(class=params.classes)
        .container-content.landing-page__banner-container-content
            +form-pick-number({
                classes: 'landing-page__banner-form-pick-number'
            })
            .text.text_body.text_color_dark-75.landing-page__banner-text Лучшие номера для вашей работы, отдыха и просто вдохновения