.landing-page__banner {
    height: 830px;
    margin: 0 auto;
    background: url('/images/banner.png');
    background-position: 100% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@import './landing-page__banner-container-content.scss';
@import './landing-page__banner-form-pick-number.scss';
@import './landing-page__banner-text.scss';