.form-elements.flex-container
    include ../../lib.blocks/index.pug
    include ../logo/logo.pug
    +logo('form-elements__logo')
    .form-elements__container
        .form-elements__column.form-elements__column_mg
            +text-field({
                title:'text field', 
                placeholder:'Email', 
                help:'default',
                classes: 'form-elements__form-item'
            })
            +text-field({
                title:'text field', 
                placeholder:'This is pretty awesome', 
                help:'hover / focus', 
                classes: 'text-field_focus form-elements__form-item'
            })
            +dropdown({
                title: 'dropdown',
                help: 'default',
                text: 'Сколько гостей',
                classes: 'form-elements__form-item'
            }) 
            +text-field({
                title:'masked text field', 
                placeholder:'ДД.ММ.ГГГГ', 
                help:'default',
                classes: 'form-elements__form-item text-field_masked'
            })
            .form-elements__row.form-elements__form-item
                +dropdown({
                    title: 'date dropdown',
                    text: 'ДД.ММ.ГГГГ',
                    classes: 'dropdown_date'
                }) 
                +dropdown({
                    title: 'date dropdown',
                    text: '19.08.2019',
                    classes: 'dropdown_date form-elements__form-item_ml'
                }) 
            .form-elements__column_sm
                +dropdown({
                    title: 'filter date dropdown',
                    text: '19 авг - 23 авг',
                    classes: 'form-elements__form-item_bg'
                })
                +text-field-subscription({
                    title: 'subscription text field',
                    placeholder: 'Email'
                })
        .form-elements__column_sm.form-elements__column_mg
            .form-elements__section-title Checkbox Buttons
            +checkbox({
                classes: 'form-elements__form-item_sm',
                text: 'Можно курить'
            })
            +checkbox({  
                checked: true,
                classes: 'form-elements__form-item_sm',
                text: 'Можно с питомцами'
            })
            +checkbox({
                checked: true,
                classes: 'form-elements__form-item_bg',
                text: 'Можно пригласить гостей',
                help: '(до 10 человек)'
            })
            .form-elements__section-title Radio Buttons
            .form-elements__row.form-elements__form-item_bg
                +radio-button({
                    text: 'Мужчина',
                    name: 'gender',
                    checked: true
                })
                +radio-button({
                    text: 'Женщина',
                    name: 'gender',
                    classes: 'form-elements__form-item_ml'
                })
            .form-elements__section-title Toggle
            +toggle-button({
                text: 'Получать спецпредложения',
                checked: true,
                classes: 'form-elements__form-item_mgb14'
            })
            +toggle-button({
                text: 'Получать спецпредложения',
                checked: false,
                classes: 'form-elements__form-item_bg'
            })
            .form-elements__section-title like button
            .form-elements__row
                +like-button({
                    likes: 2
                })
                +like-button({
                    likes: 12,
                    checked: true,
                    classes: 'form-elements__form-item_ml10'
                })