.form-elements {
    position: relative;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 143px 141px;
}

.form-elements .flex-container {
    max-width: 350px;
}

@import './form-elements__logo.scss';
@import './form-elements__form-item.scss';