.form-elements.flex-container
    include ../../lib.blocks/index.pug
    include ../logo/logo.pug
    +logo('form-elements__logo')
    .form-elements__container
        .form-elements__column.form-elements__column_w320
            +text-field({
                title:'text field', 
                placeholder:'Email', 
                help:'default',
                classes: 'form-elements__item form-elements__item_mb20'
            })
            +text-field({
                title:'text field', 
                value:'This is pretty awesome', 
                help:'hover / focus', 
                classes: 'text-field_focus form-elements__item form-elements__item_mb20'
            })
            +dropdown({
                title: 'dropdown',
                help: 'default',
                text: 'Сколько гостей',
                classes: 'form-elements__item form-elements__item_mb20'
            })  
            +text-field({
                title:'masked text field', 
                placeholder:'ДД.ММ.ГГГГ', 
                help:'default',
                classes: 'form-elements__item form-elements__item_mb40'
            })
            .form-elements__row.form-elements__row_mb40
                +dropdown-date({
                    title: 'date dropdown',
                    text: 'ДД.ММ.ГГГГ'
                }) 
                +dropdown-date({
                    title: 'date dropdown',
                    text: '19.08.2019',
                    classes: 'form-elements__item form-elements__item_ml20'
                }) 
            .form-elements__column.form-elements__column_w266
                +dropdown({
                    title: 'filter date dropdown',
                    text: '19 авг - 23 авг',
                    classes: 'form-elements__item form-elements__item_mb40'
                })
                +text-field-subscription({
                    title: 'subscription text field',
                    placeholder: 'Email'
                })
        .form-elements__column.form-elements__column_w266
            +checkbox-buttons({
                classes: 'form-elements__item form-elements__item_mb40'
            })
                +checkbox-button({
                    text: 'Можно курить',
                    classes: 'checkbox-buttons__checkbox-button'
                })
                +checkbox-button({  
                    checked: true,
                    text: 'Можно с питомцами',
                    classes: 'checkbox-buttons__checkbox-button'
                })
                +checkbox-button({
                    checked: true,
                    text: 'Можно пригласить гостей',
                    help: '(до 10 человек)'
                })
            +radio-buttons({
                classes: 'form-elements__item form-elements__item_mb40'
            })
                +radio-button({
                    text: 'Мужчина',
                    name: 'gender',
                    checked: true
                })
                +radio-button({
                    text: 'Женщина',
                    name: 'gender',
                    classes: 'radio-buttons__radio-button'
                })
            +toggle-buttons({
                classes: 'form-elements__column form-elements__column_mb40'
            })
                +toggle-button({
                    text: 'Получать спецпредложения',
                    checked: true,
                    classes: 'toggle-buttons__toggle-button'
                })
                +toggle-button({
                    text: 'Получать спецпредложения',
                    checked: false
                })
            .form-elements__section-title like button
            .form-elements__row.form-elements__row_mb40
                +like-button({
                    likes: 2
                })
                +like-button({
                    likes: 12,
                    checked: true,
                    classes: 'form-elements__item form-elements__item_ml10'
                })
            .form-elements__section-title rate button
            .form-elements__row
                +rate-button({
                    selectStar: 4
                })
                +rate-button({
                    selectStar: 5,
                    classes: 'form-elements__item form-elements__item_ml20'
                })
        .form-elements__column.form-elements__column_w320
            .form-elements__section-title.form-elements_section-title_mb20 Range Slider
            .form-element-help.form-element-help_mb20 5 000₽ - 10 000₽
            +range-slider({
                marginLeft: 82,
                marginRight: 96
            })