mixin form-elements(params={})
    .form-elements(class=params.calsses)
        .container-content.form-elements__container-content
            include ../../lib.blocks/index.pug
            .form-elements__container.form-elements__container_mb100
                .form-elements__column
                    +text-field({
                        title:'text field', 
                        placeholder:'Email', 
                        help:'default',
                        classes: 'form-elements__item form-elements__item_mb20'
                    })
                    +text-field({
                        title:'text field', 
                        value:'This is pretty awesome', 
                        help:'hover / focus', 
                        classes: 'text-field_focus form-elements__item form-elements__item_mb20'
                    })
                    +dropdown({
                        title: 'dropdown',
                        help: 'default',
                        text: 'Сколько гостей',
                        classes: 'form-elements__item form-elements__item_mb20'
                    })  
                    +text-field({
                        title:'masked text field', 
                        placeholder:'ДД.ММ.ГГГГ', 
                        help:'default',
                        classes: 'form-elements__item form-elements__item_mb40'
                    })
                    .form-elements__row.form-elements__row_mb40
                        +dropdown-date({
                            title: 'date dropdown',
                            text: 'ДД.ММ.ГГГГ'
                        }) 
                        +dropdown-date({
                            title: 'date dropdown',
                            text: '19.08.2019',
                            classes: 'form-elements__item form-elements__item_ml20'
                        }) 
                    .form-elements__column.form-elements__column_w266
                        +dropdown({
                            title: 'filter date dropdown',
                            text: '19 авг - 23 авг',
                            classes: 'form-elements__item form-elements__item_mb40'
                        })
                        +text-field-subscription({
                            title: 'subscription text field',
                            placeholder: 'Email'
                        })
                .form-elements__column.form-elements__column_w266
                    +checkbox-buttons({
                        title: 'Checkbox Buttons',
                        classes: 'form-elements__item form-elements__item_mb40'
                    })
                        +checkbox-button({
                            text: 'Можно курить',
                            classes: 'checkbox-buttons__checkbox-button'
                        })
                        +checkbox-button({  
                            checked: true,
                            text: 'Можно с питомцами',
                            classes: 'checkbox-buttons__checkbox-button'
                        })
                        +checkbox-button({
                            checked: true,
                            text: 'Можно пригласить гостей',
                            help: '(до 10 человек)'
                        })
                    +radio-buttons({
                        classes: 'form-elements__item form-elements__item_mb40'
                    })
                        +radio-button({
                            text: 'Мужчина',
                            name: 'gender',
                            checked: true
                        })
                        +radio-button({
                            text: 'Женщина',
                            name: 'gender',
                            classes: 'radio-buttons__radio-button'
                        })
                    +toggle-buttons({
                        classes: 'form-elements__column form-elements__column_mb40'
                    })
                        +toggle-button({
                            text: 'Получать спецпредложения',
                            checked: true,
                            classes: 'toggle-buttons__toggle-button'
                        })
                        +toggle-button({
                            text: 'Получать спецпредложения',
                            checked: false
                        })
                    .form-elements__section-title like button
                    .form-elements__row.form-elements__row_mb40
                        +like-button({
                            likes: 2
                        })
                        +like-button({
                            likes: 12,
                            checked: true,
                            classes: 'form-elements__item form-elements__item_ml10'
                        })
                    .form-elements__section-title rate button
                    .form-elements__row
                        +rate-button({
                            stars: 4
                        })
                        +rate-button({
                            stars: 5,
                            classes: 'form-elements__item form-elements__item_ml20'
                        })
                .form-elements__column
                    +range-slider({
                        title: 'Range Slider',
                        help: '5 000₽ - 10 000₽',
                        marginLeft: 82,
                        marginRight: 96,
                        classes: 'form-elements__item form-elements__item_mb40'
                    })
                    .form-elements__column.form-elements__column_mb30
                        .form-elements__section-title buttons
                        .form-elements__row.form-elements__row_mb30
                            .button.button_theme_default click me
                            .button.button_theme_default.button_disable.form-elements__item.form-elements__item_ml20 click me
                        .form-elements__row.form-elements__row_mb30
                            .button.button_theme_default-light click me
                            .button.button_theme_default-light.button_disable.form-elements__item.form-elements__item_ml20 click me
                        .form-elements__row.form-elements__row_mb30
                            .button.button_theme_text click me
                            .button.button_theme_text_dark.form-elements__item.form-elements__item_ml20 click me
                        +button-go-to({
                            text: 'перейти к оплате',
                            classes: 'form-elements__item form-elements__item_mb40'
                        })
                        +pagination({
                            title: 'pagination',
                            bottomText: '1 – 12 из 100+ вариантов аренды'
                        })
            .form-elements__container
                .form-elements__column.form-elements__column_w266
                    +dropdown({
                        title: 'dropdown',
                        help: 'default',
                        text: '2 спальни, 2 кровати...',
                        classes: 'form-elements__item form-elements__item_mb20'
                    })
                    +dropdown({
                        title: 'dropdown',
                        help: 'expanded',
                        text: '2 спальни, 2 кровати...',
                        classes: 'dropdown_expend form-elements__item form-elements__item_mb40'
                    })
                        +dropdown-item({
                            text: 'спальни',
                            value: 2
                        })
                        +dropdown-item({
                            text: 'кровати',
                            value: 2
                        })
                        +dropdown-item({
                            text: 'ванные комнаты',
                            value: 0
                        })
                    +expandable-checkbox-list({
                        title: 'expandable checkbox list',
                        classes: 'form-elements__item form-elements__item_mb20'
                    })
                    +expandable-checkbox-list({
                        title: 'expandable checkbox list',
                        classes: 'expandable-checkbox-list_expend form-elements__item form-elements__item_mb40'
                    })
                        +checkbox-button({
                            text: 'Завтрак',
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Письменный стол',
                            checked: true,
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Стул для кормления',
                            checked: true,
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Кроватка',
                            checked: true,
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Телевизор',
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Шампунь',
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Телевизор',
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                        +checkbox-button({
                            text: 'Шампунь',
                            classes: 'expandable-checkbox-list__checkbox'
                        })
                .form-elements__column
                    +dropdown({
                        title: 'dropdown',
                        text: 'Сколько гостей',
                        classes: 'dropdown_expend dropdown_guest'
                    })
                        +dropdown-item({
                            text: 'Взрослые',
                            value: 0
                        })
                        +dropdown-item({
                            text: 'Дети',
                            value: 0
                        })
                        +dropdown-item({
                            text: 'Младенцы',
                            value: 0
                        })
                        +dropdown-item-buttons()
                    +checkbox-buttons({
                        title: 'rich checkbox buttons'
                    })
                        +rich-checkbox-button({
                            text: 'Широкий коридор',
                            help: 'Ширина коридоров в номере не менее 91 см.',
                            classes: 'checkbox-buttons__checkbox-button'
                        })
                        +rich-checkbox-button({
                            text: 'Помощник для инвалидов',
                            help: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                            classes: 'checkbox-buttons__checkbox-button'
                        })
                .form-elements__column    
                    +dropdown({
                        title: 'dropdown',
                        text: 'Сколько гостей',
                        classes: 'dropdown_expend dropdown_guest'
                    })
                        +dropdown-item({
                            text: 'Взрослые',
                            value: 2
                        })
                        +dropdown-item({
                            text: 'Дети',
                            value: 1
                        })
                        +dropdown-item({
                            text: 'Младенцы',
                            value: 0
                        })
                        +dropdown-item-buttons()   
                    +bullet-list()
                        +bullet-list__item('Нельзя с питомцами')
                        +bullet-list__item('Без вечеринок и мероприятий')
                        +bullet-list__item('Время прибытия — после 13:00, а выезд до 12:00')
            .form-elements__container
                .form-elements__column
                    +advantage({
                        logo: 'insert_emoticon',
                        title: 'Комфорт',
                        text: 'Шумопоглощающие стены',
                        classes: 'form-elements__item form-elements__item_mb20'
                    })
                    +advantage({
                        logo: 'location_city',
                        title: 'Удобство',
                        text: 'Окно в каждой из спален'
                    })
                +comment({
                    likes: 12,
                    checked: true,
                    image: '../images/avatars/image.png',
                    user: 'Мурад Сарафанов',
                    date: '5 дней назад',
                    text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
                })