.form-elements {
    position: relative;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 143px 141px;
}

.form-elements .flex-container {
    max-width: 350px;
}

@import './form-elements__logo.scss';
@import './form-elements__form-item.scss';
@import './form-elements__row.scss';
@import './form-elements__column.scss';
@import './form-elements__column_sm.scss';
@import './form-elements__form-item_bg.scss';
@import './form-elements__container.scss';
@import './form-elements__section-title.scss';
@import './form-elements__column_mg.scss';
@import './form-elements__form-item_sm.scss';
@import './form-elements__form-item_ml.scss';
@import './form-elements__form-item_mgb14.scss';
@import './form-elements__form-item_ml10.scss';