mixin menu-item-expend(params={})
    .menu-item-expend(class=params.classes)
        .text.text_body.menu-item-expend__text  #{params.text}
        .button.button_theme_form-element.menu-item-expend__button-expend expand_more

