mixin menu-item(options = {})
    -
        const {
            text = "",
            href = "/mock-address/change-me",
            selected = false,
        } = options;

        const classes = ["menu-item"];
        if (selected) classes.push("menu-item_selected")

    a(class=classes, href=href) #{text}
