.menu-item {
  @include no-select;
  text-decoration: none;

  &:hover {
    text-decoration: underline $text-secondary;
  }

  &:active {
    outline: none;
    text-decoration: none;
    text-shadow: 0px 0px 5px $text-secondary;
  }
}
