include ../text-field/text-field.pug
include ../button/button.pug

mixin form-elements()
    .form-elements
        .form-elements__container-content
            .form-elements__item
                +text-field({
                    title: 'text field',
                    help: 'default',
                    placeholder: 'Email'
                })
            .form-elements__item
                +text-field({
                    title: 'subscription text field',
                    help: 'default',
                    placeholder: 'Email',
                    rightButton: 'arrow_forward'
                }) 
