include ../text-field/text-field.pug
include ../button/button.pug
include ../text-field-subscription/text-field-subscription.pug

mixin form-elements()
    .form-elements
        .form-elements__container-content
            .form-elements__item
                +text-field({
                    title: 'text field',
                    help: 'default',
                    placeholder: 'Email',
                })
            .form-elements__item
                +text-field({
                    title: 'subscription text field',
                    help: 'default',
                    placeholder: 'Email',
                    iconRight: 'arrow_forward',
                })
            .form-elements__item
                +text-field({
                    title: 'masked text field',
                    help: 'default',
                    placeholder: 'ДД.ММ.ГГГГ',
                    mask: '%D.%M.%Y',
                })
                
