include ../text-field/text-field.pug
include ../button/button.pug
include ../dropdown-guest/dropdown-guest.pug
include ../date-range/date-range.pug
include ../dropdown-filter-date/dropdown-filter-date.pug
include ../checkbox-list/checkbox-list.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-buttons/toggle-buttons.pug
include ../like-buttons/like-buttons.pug
include ../rating-buttons/rating-buttons.pug
include ../range-slider/range-slider.pug
include ../buttons-demo/buttons-demo.pug
include ../pagination/pagination.pug
include ../dropdown-room-amenities/dropdown-room-amenities.pug
include ../expandable-checkbox-list/expandable-checkbox-list.pug
include ../rich-checkbox-buttons/rich-checkbox-buttons.pug
include ../bullet-list/bullet-list.pug
include ../room-advantages/room-advantages.pug
include ../comment/comment.pug

mixin form-elements()
    article.form-elements
        .form-elements__container-content
            .form-elements__row
                .form-elements__column
                    .form-elements__item
                        +text-field({
                            title: 'text field',
                            help: 'default',
                            placeholder: 'Email',
                        })
                    .form-elements__item
                        +text-field({
                            title: 'subscription text field',
                            help: 'default',
                            placeholder: 'Email',
                            iconRight: 'arrow_forward',
                        })
                    .form-elements__item
                        +text-field({
                            title: 'masked text field',
                            help: 'default',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mask: '%D.%M.%Y',
                        })
                    .form-elements__item
                        +dropdown-guest()
                    .form-elements__item
                        +date-range({
                            headLeft: 'date dropdown',
                            headRight: 'date dropdown',
                            textLeft: 'ДД.ММ.ГГГГ',
                            textRight: 'ДД.ММ.ГГГГ',
                        })
                    .form-elements__item
                        +dropdown-filter-date({
                            head: 'filter date dropdown',
                            text: '19 авг - 23 авг',
                        })
                .form-elements__column
                    .form-elements__item
                        +checkbox-list({
                            head: 'checkbox buttons',
                            items: [
                                'Можно курить',
                                'Можно с питомцами',
                                'Можно пригласить гостей (до 10 человек)',
                            ]
                        })
                    .form-elements__item
                        +radio-buttons({
                            head: 'Radio Buttons',
                            group: 'gender',
                            items: [
                                'Мужчина',
                                'Женщина',
                            ],
                        })
                    .form-elements__item
                        +toggle-buttons({
                            head: 'toggle',
                            items: [
                                {
                                    text: 'Получать спецпредложения',
                                    checked: true,
                                },
                                {
                                    text: 'Получать спецпредложения',
                                },
                            ],
                        })
                    .form-elements__item
                        +like-buttons({
                            head: 'like button',
                            items: [
                                2,
                                12,
                            ],
                        })
                    .form-elements__item
                        +rating-buttons({
                            head: 'rate button',
                            items: [
                                4,
                                5,
                            ],
                        })
                .form-elements__column
                    .form-elements__item
                        +range-slider({
                            min: 0,
                            max: 15000,
                            step: 1000,
                            title: 'range slider',
                            value: '0₽ - 15 000₽',
                        })
                    .form-elements__item
                        +buttons-demo({
                            head: 'buttons',
                        })
                    .form-elements__item
                        +pagination({
                            head: 'pagination',
                            bottomText: '1 – 12 из 100+ вариантов аренды',
                        })
            .form-elements__row
                .form-elements__column         
                    .form-elements__item
                        +dropdown-room-amenities()
                    .form-elements__item
                        +expandable-checkbox-list({
                            text: 'expandable checkbox list',
                            items: [
                                'Завтрак',
                                'Письменный стол',
                                'Стул для кормления',
                                'Кроватка',
                                'Телевизор',
                                'Шампунь',
                                'Телевизор',
                                'Шампунь',
                            ],
                        })
                    .form-elements__item
                .form-elements__column
                    .form-elements__item
                        +rich-checkbox-buttons({
                            head: 'rich checkbox buttons',
                            items: [
                                {
                                    text: 'Широкий коридор',
                                    description: 'Ширина коридоров в номере не менее 91 см.',
                                },
                                {
                                    text: 'Помощник для инвалидов',
                                    description: 'На 1 этаже вас встретит специалист  и проводит до номера.',
                                },
                            ],
                        })                        
                .form-elements__column
                    +bullet-list({
                        head: 'bullet list',
                        items: [
                            'Нельзя с питомцами',
                            'Без вечеринок и мероприятий',
                            'Время прибытия — после 13:00, а выезд до 12:00',
                        ],
                    })
            .form-elements__row
                .form-elements__column
                    +room-advantages({
                        items: [
                            {
                                title: 'Комфорт',
                                description: 'Шумопоглощающие стены',
                                icon: 'insert_emoticon',
                            },
                            {
                                title: 'Удобство',
                                description: 'Окно в каждой из спален',
                                icon: 'location_city',
                            },
                        ],
                    })
                .form-elements__column.form-elements__comment
                    +comment({
                        avatar: 'images/avatars/user1.jpg',
                        name: 'Мурад Сарафанов',
                        publicationDate: '5 дней назад',
                        likes: 12,
                        text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                    })
