include ../text-field/text-field.pug
include ../button/button.pug
include ../dropdown-guest/dropdown-guest.pug
include ../date-range/date-range.pug
include ../dropdown-filter-date/dropdown-filter-date.pug
include ../list-checkbox-buttons/list-checkbox-buttons.pug
include ../radio-buttons/radio-buttons.pug
include ../toggle-buttons/toggle-buttons.pug
include ../like-buttons/like-buttons.pug

mixin form-elements()
    article.form-elements
        .form-elements__container-content
            .form-elements__row
                .form-elements__column
                    .form-elements__item
                        +text-field({
                            title: 'text field',
                            help: 'default',
                            placeholder: 'Email',
                        })
                    .form-elements__item
                        +text-field({
                            title: 'subscription text field',
                            help: 'default',
                            placeholder: 'Email',
                            iconRight: 'arrow_forward',
                        })
                    .form-elements__item
                        +text-field({
                            title: 'masked text field',
                            help: 'default',
                            placeholder: 'ДД.ММ.ГГГГ',
                            mask: '%D.%M.%Y',
                        })
                    .form-elements__item
                        +dropdown-guest()
                    .form-elements__item
                        +date-range({
                            headLeft: 'date dropdown',
                            headRight: 'date dropdown',
                            textLeft: 'ДД.ММ.ГГГГ',
                            textRight: 'ДД.ММ.ГГГГ',
                        })
                    .form-elements__item
                        +dropdown-filter-date({
                            head: 'filter date dropdown',
                            text: '19 авг - 23 авг',
                        })
                .form-elements__column
                    .form-elements__item
                        +list-checkbox-buttons({
                            head: 'checkbox buttons',
                            items: [
                                'Можно курить',
                                'Можно с питомцами',
                                'Можно пригласить гостей (до 10 человек)',
                            ]
                        })
                    .form-elements__item
                        +radio-buttons({
                            head: 'Radio Buttons',
                            group: 'gender',
                            items: [
                                'Мужчина',
                                'Женщина',
                            ],
                        })
                    .form-elements__item
                        +toggle-buttons({
                            head: 'toggle',
                            items: [
                                {
                                    text: 'Получать спецпредложения',
                                    checked: true,
                                },
                                {
                                    text: 'Получать спецпредложения',
                                },
                            ],
                        })
                    .form-elements__item
                        +like-buttons({
                            head: 'like button',
                            items: [
                                2,
                                12,
                            ],
                        })
