.menu-item-expandable__btn-expand {
  width: 1.6429rem;
  height: 1.5rem;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7143rem;
  line-height: 1.5rem;
  text-align: center;
  color: $color-dark-50;
}
