mixin footer__nav-container(params={})
    .footer__nav-container(class=params.classes)
        .text.text_h3.footer__container-title #{params.title}
        -const menuItems = [];
        -for(let i = 0; i < params.items.length; i++){
            -const item = params.items[i];
            -menuItems.push({text:item,classes:'footer__nav-container-item'});
        -}
        +menu({
            classes: 'menu_theme_vertical',
            items: menuItems
        })
        
                