include ../input-checkbox/input-checkbox.pug
include ../text/text.pug

mixin checkbox-button(options={})
    -const {
    -   text = '',
    -} = options;

    .checkbox-button
        .checkbox-button__container
            +input-checkbox()
            .checkbox-button__text
                +text({
                    text,
                    theme: 'body',
                    lheight: 'sm',
                    color: 'dark-50',
                })