.checkbox-button {
  @include reset-css;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .checkbox-button__new-input {
      border-color: $bg-primary;
      background: $gradient-primary;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &:hover + .checkbox-button__new-input {
      box-shadow: 0px 0px 10px $bg-primary;
    }

    &:active + .checkbox-button__new-input {
      box-shadow: 0px 0px 5px $text-secondary;
    }

    &:focus + .checkbox-button__new-input {
      border-color: $text-secondary;
    }
  }

  &__new-input {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $middle-first-size;
    height: $middle-first-size;
    background: #fff;
    border: .0714rem solid $light-title;
    box-sizing: border-box;
    border-radius: .2857rem;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    font-weight: bold;
    color: white;

    @include no-select;
  }

  &__text {
    @include text-body;
    padding-top: 1px;
    margin-left: $tiny-size;
    word-break: normal;
    width: 100%;
    max-width: 200px;
    color: $text-secondary;
    line-height: normal;
  } 

  &__container {
    margin-left: $tiny-size;
    width: 270px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include text-body;
    margin-bottom: .3571rem;
    line-height: $middle-first-size;
    font-weight: bold;
  }

  &__description {
    @include text-body;
    line-height: $standard-size;
    font-size: $small-size;
  }
}
