mixin image-slider(images)
  .image-slider.js-image-slider
    .image-slider__container.js-image-slider__container
      for image in images
        -const { src, alt = "Image description template." } = image;
        img.image-slider__image.js-image-slider__image(src=src, alt=alt)
      ul.image-slider__indicators.js-image-slider__indicators
        -for (let i = 0; i < images.length; i += 1)
          li.image-slider__indicator-container
            button.image-slider__indicator.js-image-slider__indicator(data-index=i)
    button.image-slider__switch-button.js-image-slider__switch-button(name="previous-image")
      span.image-slider__switch-button-text expand_more
    button.image-slider__switch-button.js-image-slider__switch-button(name="next-image")
      span.image-slider__switch-button-text expand_more
