extends /../template/page.pug

include /cards/cards.pug

block pageHead
  title Карточки
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Used cards")

block content
  +cards()
