extends /../template/page.pug

include /simple-header/simple-header.pug
include /card-selection-room/card-selection-room.pug
include /card-account-registration/card-account-registration.pug
include /card-book-room/card-book-room.pug
include /card-authentication/card-authentication.pug
include /calendar/calendar.pug
include /card-room-information/card-room-information.pug

block pageHead
  title Карточки
  meta(name="keywords" content="hotels, hotel search, order a room")
  meta(name="description" content="Used cards")

block content
  +simple-header(true)
  main.cards
    h1.cards__title Компоненты форм
    .cards__container-content
      .cards__column
        .cards__item
          +card-selection-room({ titleTagNumber: 2 })
        .cards__item
          +card-account-registration({ titleTagNumber: 2 })
      .cards__column
        .cards__item
          +card-book-room({
            titleTagNumber: 2,
            roomHead: {
              roomNumber: 888,
              roomPrice: "9 990",
              isLuxury: true,
            },
            receipt: {
              total:  "38 081",
              items: [
                {
                  text: "9 990₽ х 4 суток",
                  price: "39 960",
                },
                {
                  text: "Сбор за услуги: скидка 2 179₽",
                  price: "0",
                  icon: true,
                },
                {
                  text: "Сбор за дополнительные услуги",
                  price: "300",
                  icon: true,
                },
              ],
            },
          })
        .cards__item
          +card-authentication({ titleTagNumber: 2 })
      .cards__column
        .cards__item
          +calendar()
        .cards__item
          -
            const images1 = [
              "888.jpg",
              "840.jpg",
              "888.jpg",
              "840.jpg",
            ].map((src) => ({src: require(`../../components/card-room-information/images/room-${src}`).default}));
            const images2 = [...images1].reverse();

          +card-room-information({
            images: images1,
            roomNumber: 888,
            roomPrice: "9 990",
            isLuxury: true,
            stars: 5,
            comments: 145,
          })
        .cards__item
          +card-room-information({
            images: images2,
            roomNumber: 840,
            roomPrice: "9 900",
            stars: 4,
            comments: 65,
          })
