.input {
    height: 44px;
    background-color: #fff;
    border: 1px solid #1f204140;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #1f204140;
}

input.input::-webkit-input-placeholder {
    /* Edge */
    color: #1f204140;
}

input.input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #1f204140;
}

input.input::placeholder {
    color: #1f204140;
}

.input:hover,
.input:focus {
    border-color: #1f204180;
    line-height: 24px;
    color: #1f2041bf;
    outline: none;
}