.input {
    height: 44px;
    min-width: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid $color-dark-25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 13px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $color-dark-25;
}

input.input::-webkit-input-placeholder {
    /* Edge */
    color: $color-dark-25;
}

input.input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color-dark-25;
}

input.input::placeholder {
    color: $color-dark-25;
}

.input:hover,
.input:focus {
    border-color: $color-dark-50;
    line-height: 24px;
    color: $color-dark-75;
    outline: none;
}