mixin hotel-room-info(params={})
    .hotel-room-info(class=params.classes)
        .hotel-room-info__room-number
            .hotel-room-info__number
                span.text.text_h2.hotel-room-info__room-number-icon № 
                span.text.text_h1 #{params.roomNumber || 0} 
            if params.luxury
                span.text.text_h3.text_color_purple люкс
        if params.price
            .hotel-room-info__price.text.text_body
                span.hotel-room-info__price-num #{params.price}&#8381;
                span.hotel-room-info__price-time в сутки