include ../block-head/block-head.pug
include ../room-advantage/room-advantage.pug

mixin room-advantages(items = [], title = '')
    .room-advantages
        if title !== ''
            .room-advantages__head
                +block-head({
                    title,
                    titleOptions: {
                        theme: 'h2',
                        fontName: 'montserrat',
                    },
                })
        .room-advantages__container
            for item in items
                .room-advantages__room-advantage
                    +room-advantage(item)
