include /card-container/card-container.pug
include /input-text/input-text.pug
include /button/button.pug

mixin card-authentication(options = {})
    -
        const {
            title = "Войти",
            formAction = "/mock-address/change-me",
            inputEmailPlaceholder = "Email",
            inputPasswordPlaceholder = "Пароль",
            authenticationButton = "войти",
            authenticationButtonHref = "/mock-address/change-me",
            noAccount =  "Нет аккаунта на Toxin?",
            createAccountButton = "создать",
            createAccountButtonHref = "./registration.html",
        } = options;

    .card-authentication
        +card-container()
            h2.card-authentication__head #{title}
            form.card-authentication__form(action=formAction, method="post")
                .card-authentication__email
                    +input-text({ placeholder: inputEmailPlaceholder, type: "email" })
                .card-authentication__password
                    +input-text({ placeholder: inputPasswordPlaceholder, type: "password" })
                .card-authentication__auth-btn
                    +button({
                        text: authenticationButton,
                        href: authenticationButtonHref,
                        icon: "arrow_forward",
                        theme: "default-long",
                        type: "submit",
                        isActiveTabindex: true,
                    })
            .card-authentication__invitation-register
                p.card-authentication__invitation-register-text #{noAccount}
                +button({
                    href: createAccountButtonHref,
                    text: createAccountButton,
                    theme: "light",
                    isActiveTabindex: true,
                })
