.room-reservation__service-cost-icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    border: 1px solid $color-dark-25;
    box-sizing: border-box;
    color: $color-dark-25;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}