.checkbox-button__text-container {
    margin-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $color-dark-50;
    max-width: 200px;
}