mixin checkbox-button(params={})
    .checkbox-button(class=params.classes)
        +checkbox-input({
            checked: params.checked
        })
        .checkbox-button__text-container
            .checkbox-button__text #{params.text}