mixin block-head(options)
    -
        const {
            title,
            help,
            isTitleThemeH2,
            isHelpThemeLight,
        } = options;

    .block-head
        if title
            #{isTitleThemeH2 ? "h2" : "h3"}.block-head__title(class=(isTitleThemeH2 ? "block-head__title_theme_h2" : "")) #{title}
        if help
            p.block-head__help(class=(isHelpThemeLight ? "block-head__help_theme_light" : "")) #{help}
