.registration__banner {
    height: 702px;
    width: 100%;
    background-position: 100% 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

@import './registration__banner-content.scss';
@import './registration__banner-form.scss';