include /card-container/card-container.pug
include /text/text.pug
include /date-range/date-range.pug
include /dropdown-guest/dropdown-guest.pug
include /button/button.pug

mixin card-selection-room(options = {})
    -
        const {
            title = "Найдём номера под ваши пожелания",
            dateRange = {},
            dropdownGuest = {},
            searchBtnRoom = "подобрать номер",
            searchBtnRoomHref = "./search-room.html",
        } = options;
    
    .card-selection-room
        +card-container()
            .card-selection-room__title
                +text({
                    text: title,
                    theme: "h1",
                    fontName: "montserrat",
                })
            .card-selection-room__date-range
                +date-range(dateRange)
            .card-selection-room__dropdown-guest
                +dropdown-guest(dropdownGuest)
            .card-selection-room__search-btn
                +button({
                    href: searchBtnRoomHref,
                    text: searchBtnRoom,
                    theme: "default-long",
                    icon: "arrow_forward",
                })
