.card-selection-room {
  &__title {
    margin-bottom: 1.5rem;
  }

  &__date-range {
    @include reset-css;
    margin-bottom: 1.6429rem;
    width: 100%;
  }

  &__dropdown-guest {
    margin-bottom: 2.2857rem;
    width: 100%;
  }

  &__search-btn {
    width: 100%;
  }
}
