include ../block-head/block-head.pug
include ../input-text/input-text.pug

mixin text-field(options={})
    -const {
    -   placeholder = '',
    -   value = '',
    -   title = '',
    -   help = '',
    -   type = 'text',
    -} = options;

    -const isUseHead = (title !== '' || help !== '');

    .text-field(class='js-text-field')
        .text-field__block-head
            if isUseHead
                +block-head({
                    title,
                    help,
                })
        +input-text({
            placeholder,
            value,
            type,
        })        
