mixin text-field(params={})
    -let classes = (params.classes || '');
    -if(params.focus) classes += ' text-field_focus';
    -const template = params.template || '';
    .text-field(class=classes, data-template=template)
        -if(params.title || params.help) {
            +block-head({
                classes: 'text-field__block-head',
                title: params.title,
                help: params.help
            })
        -}
        input.text-field__input(placeholder=params.placeholder, value=params.value)
