.text-field {
  width: 100%;

  &_with-arrow &__input {
    padding-right: 44px;
  }

  &__label {
    @include text-h3;
    margin: 0 0 4px;
    display: block;
  }

  &__wrapper {
    display: block;
    position: relative;
  }

  &__input {
    width: 100%;
    min-width: 0;
    padding: 9px 14px 9px 14px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $text-primary;
    background-color: #fff;
    border: 1px solid $light-title;
    border-radius: 4px;
  
    &::placeholder {
      color: $light-title;
      opacity: 1;
    }
  
    &:hover,
    &:focus {
      line-height: $big-size;
      border-color: $text-secondary;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $very-big-size;
    display: block;
  
    &:hover {
      text-shadow: 0px 0px 10px $bg-primary;
    }
  
    &:active {
      text-shadow: 0px 0px 10px $text-secondary;
    }
  }
}
