mixin checkbox-input(params={})
    label.checkbox-input(class=params.classes)
        if params.checked
            input.checkbox-input__input(type='checkbox', checked)
        else
            input.checkbox-input__input(type='checkbox')
        .checkbox-input__new-input check