include ../dropdown-head/dropdown-head.pug
include ../block-head/block-head.pug
include ../calendar/calendar.pug

mixin date-range(options = {})
    -
        const {
            dropdownLeftText = "ДД.ММ.ГГГГ",
            dropdownRightText = "ДД.ММ.ГГГГ",
            dropdownLeftHead = { title: "прибытие" },
            dropdownRightHead = { title: "выезд" },
        } = options;

    .date-range.js-date-range
        .date-range__dropdowns
            .date-range__dropdown
                if dropdownLeftHead !== null
                    .date-range__block-head
                        +block-head(dropdownLeftHead)
                +dropdown-head({
                    text: dropdownLeftText,
                    classes: [
                        "js-date-range__dropdown-head",
                        "js-date-range__dropdown-head-left",
                    ],
                })
            .date-range__dropdown
                if dropdownRightHead !== null
                    .date-range__block-head
                        +block-head(dropdownRightHead)
                +dropdown-head({
                    text: dropdownRightText,
                    classes: [
                        "js-date-range__dropdown-head",
                        "js-date-range__dropdown-head-right",
                    ],
                })
        .date-range__container
            .date-range__calendar
                +calendar()
