include /dropdown-head/dropdown-head.pug
include /block-head/block-head.pug
include /calendar/calendar.pug

mixin date-range(options = {})
    -
        const {
            dropdownEntranceText = "ДД.ММ.ГГГГ",
            dropdownDepartureText = "ДД.ММ.ГГГГ",
            dropdownLeftHead = { title: "прибытие" },
            dropdownRightHead = { title: "выезд" },
        } = options;

    .date-range.js-date-range
        .date-range__dropdowns
            .date-range__dropdown
                if dropdownLeftHead
                    .date-range__block-head
                        +block-head(dropdownLeftHead)
                +dropdown-head(dropdownEntranceText, "left")
            .date-range__dropdown
                if dropdownRightHead
                    .date-range__block-head
                        +block-head(dropdownRightHead)
                +dropdown-head(dropdownDepartureText, "right") 
        .date-range__container
            .date-range__calendar
                +calendar()
