.date-range {
  width: 100%;
  max-width: 100%;

  &__dropdowns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  
    @media (max-width: 380px) {
      justify-content: space-between;
    }
  }

  &__dropdown {
    width: 100%;
    max-width: 150px;
  
    @media (max-width: 330px) {
      max-width: 50%;
    }
  }

  &__dropdown-head {
    margin-bottom: 0.2857rem;
  }

  &_range-select {
    .date-range__container {
      display: block;
    }
  }
  
  &__container {
    width: 100%;
    position: relative;
    margin-top: 0.3571rem;
    display: none;
  }

  &__calendar {
    position: absolute;
    z-index: 999;
  }
}
