include ../dropdown-head/dropdown-head.pug
include ../block-head/block-head.pug
include ../calendar/calendar.pug

mixin date-range(options={})
    -const {
    -   classes = [],
    -   textLeft = '',
    -   textRight = '',
    -   headLeft = '',
    -   headRight = '',
    -} = options;

    .date-range.js-date-range
        .date-range__dropdowns
            .date-range__dropdown
                if headLeft !== ''
                    .date-range__head
                        +block-head({
                            title: headLeft,
                        })
                +dropdown-head({
                    text: textLeft,
                    classes: [
                        'js-date-range__dropdown-head',
                        'js-date-range__dropdown-head-left',
                    ],
                })
            .date-range__dropdown
                if headRight !== ''
                    .date-range__head
                        +block-head({
                            title: headRight,
                        })
                +dropdown-head({
                    text: textRight,
                    classes: [
                        'js-date-range__dropdown-head',
                        'js-date-range__dropdown-head-right',
                    ],
                })
        .date-range__container
            .date-range__calendar
                +calendar()
