include ../dropdown-head/dropdown-head.pug
include ../block-head/block-head.pug
include ../calendar/calendar.pug

mixin date-range(options = {})
    -
        const {
            textDropdownLeft = "",
            textDropdownRight = "",
            headDropdownLeft = null,
            headDropdownRight = null,
        } = options;

    .date-range.js-date-range
        .date-range__dropdowns
            .date-range__dropdown
                if headDropdownLeft !== null
                    .date-range__block-head
                        +block-head(headDropdownLeft)
                +dropdown-head({
                    text: textDropdownLeft,
                    classes: [
                        "js-date-range__dropdown-head",
                        "js-date-range__dropdown-head-left",
                    ],
                })
            .date-range__dropdown
                if headDropdownRight !== null
                    .date-range__block-head
                        +block-head(headDropdownRight)
                +dropdown-head({
                    text: textDropdownRight,
                    classes: [
                        "js-date-range__dropdown-head",
                        "js-date-range__dropdown-head-right",
                    ],
                })
        .date-range__container
            .date-range__calendar
                +calendar()
