mixin hotel-number(params={})
    .hotel-number(class=params.classes)
        +images-slider({
            images: params.images || []
        })
        .hotel-number__description
            +hotel-room-head({
                classes: 'hotel-number__info',
                roomNumber: params.roomNumber,
                luxury: params.luxury,
                price: params.price,
                size: 'sm'
            }) 
            .hotel-number__description-any
                +rating({
                    stars: params.stars ? params.stars : 0,
                    classes: 'hotel-number__rating'
                })
                if params.comments
                    .hotel-number__comments-count.text.text_body
                        span.hotel-number__comments-count-number #{params.comments} 
                        span Отзывов