$marker-size: 0.7143rem;

.bullet-list {
  width: 100%;
  max-width: 270px;

  &__head {
    margin: 0rem 0rem 0.8571rem 1.4286rem;

    &_margin-bottom_big {
      margin-bottom: 1.2143rem;
    }
  }

  &__container {
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 0.7143rem;
    }
  }

  &__marker-container {
    display: flex;
    align-items: center;
    height: 1.7143rem;
    margin-right: $marker-size;
  }

  &__marker {
    display: block;
    width: $marker-size;
    height: $marker-size;
    background-color: $light-title;
    border-radius: 50%;
  }

  &__item-text {
    @include text-body;
  }
}
