include ../block-head/block-head.pug

mixin bullet-list(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .bullet-list
        if head !== null
            -
                const { marginBottom = "" } = head;
                const headClasses = ["bullet-list__head"];

                const isCorrectMarginBottom = marginBottom && marginBottom !== "false";

                if (isCorrectMarginBottom) headClasses.push(`bullet-list__head_margin-bottom_${marginBottom}`);

                const headClassesStr = headClasses.join(" ");

            div(class=headClassesStr)
                +block-head(head)
        
        ul.bullet-list__container
            for text in items
                li.bullet-list__item
                    .bullet-list__maker-container
                        .bullet-list__marker
                    .bullet-list__item-text
                        +text({
                            text,
                        })
                    
