include /block-head/block-head.pug

mixin bullet-list(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .bullet-list
        if head !== null
            -
                const { marginBottom = "" } = head;
                const headClasses = ["bullet-list__head"];

                const isCorrectMarginBottom = marginBottom && marginBottom !== "false";

                if (isCorrectMarginBottom) headClasses.push(`bullet-list__head_margin-bottom_${marginBottom}`);

            div(class=headClasses)
                +block-head(head)
        
        ul.bullet-list__container
            for item in items
                li.bullet-list__item
                    .bullet-list__marker-container
                        .bullet-list__marker
                    p.bullet-list__item-text #{item}
