.bullet-list {
  width: 100%;
  max-width: 270px;

  &__head {
    margin: 0rem 0rem 0.8571rem 1.4286rem;

    &_bottom_big {
      margin-bottom: 1.2143rem;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 0.7143rem;
  }
}
