include /block-head/block-head.pug

mixin bullet-list({ items, head })
    .bullet-list
        if head
            -
                const { marginBottom } = head;
                const headClasses = ["bullet-list__head"];
                if (["big"].includes(marginBottom)) headClasses.push(`bullet-list__head_margin-bottom_${marginBottom}`);

            div(class=headClasses)
                +block-head(head)
        ul.bullet-list__container
            for item in items
                li.bullet-list__item
                    .bullet-list__marker-container
                        .bullet-list__marker
                    p.bullet-list__item-text #{item}
