include ../block-head/block-head.pug
include ../bullet-list-item/bullet-list-item.pug

mixin bullet-list(options = {})
    -
        const {
            head = null,
            items = [],
        } = options;

    .bullet-list
        if head !== null
            -
                const { bottom = "" } = head;
                const headClasses = ["bullet-list__head"];

                if (bottom && bottom !== "false") headClasses.push(`bullet-list__head_bottom_${bottom}`);

                const headClassesStr = headClasses.join(" ");

            div(class=headClassesStr)
                +block-head(head)
        
        .bullet-list__container
            for text in items
                .bullet-list__item
                    +bullet-list-item(text)
