include /card-account-registration/card-account-registration.pug

mixin registration()
  main.registration
    .registration__banner
      .registration__card-account-registration
        +card-account-registration({ titleTagNumber: 1 })
