.registration {
  flex-grow: 1;

  &__banner {
    margin: 0 auto;
    padding: 17px 0px 19px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    background-image: url('~@images/banners/login-registration.jpg');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
